<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex,nofollow">
	<link rel="canonical" href="http://home.ontop.ai">
	<link rel="shortcut icon" href="//v.fastcdn.co/u/cfa1e963/52462710-0-top.fav.png" type="image/ico">
	<title>Payroll for global teams</title>
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" content="https://home.ontop.ai/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="apple-touch-icon" sizes="180x180" href="build/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="build/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="build/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="build/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="build/img/favicon/safari-pinned-tab.svg" color="#844fa3">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#fff">
	<link rel="stylesheet" href="build/css/platform.css">
	<link rel="stylesheet" href="build/css/styles.css">
	<link rel="stylesheet" href="build/css/review-legal.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
	<header class="horizontal">
		<div class="row container">
			<h1><a href="index.html" class="logo"><img src="build/img/logo.svg" alt="On Top" style="margin: 0 auto;"></a> On Top</h1>
			
			<a href="https://app.ontop.ai/#/signup/0" class="btn btn-outline " style="text-align:center;">Sign Up</a>
		
		</div>
	</header>
	<main id="platform" class="horizontal-menu">
		<div id="review">
			<div class="row container">
				<div class="col-lg-6 col-12 top">
					<h2> Hello, {{First name}}</h2>
					<h3>Welcome to Ontop!</h3>
					<p>{{Client_name}} has sent you a contract for you to review and sign.</p>
					<button class="btn btn-default" style="margin-top: 30px;" data-toggle="modal" data-target="#ContractPreview"> View contract</button>
				</div>
				<div class="col-lg-6 col-12 d-flex">
					<img src="build/img/review_.svg">
				</div>
			</div>		
		</div>
		<div class="banner"></div>
		<a href="" class="chat"><img src="build/img/chat.svg" alt="chat"></a>
	</main>
	<footer>
		<div class="row container">
			<p class="legal">&copy; 2021 Ontop. All rights reserved. <a href="">Terms and conditions</a></p>
		</div>
	</footer>
	<div class="modal fade" id="ContractPreview" tabindex="-1" aria-labelledby="ContractPreviewLabel" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<img src="build/img/close.svg">
					</button>
				</div>
				<div class="modal-body">
					<div class="alarm alert alert-success alert-dismissible fade show" role="alert">
				  <img src="build/img/alert_success.svg">
				  <strong>Signed contract!</strong> You will be able to see all the status of your contracts on the {{client name}} dashboard.</strong>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
	</div>
					<div class="sign"><div class="line"></div><button class="btn btn-default">Sign</button></div>
					<div class="contract">Here comes the contract view</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>