<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex,nofollow">
	<link rel="canonical" href="http://home.ontop.ai">
	<link rel="shortcut icon" href="//v.fastcdn.co/u/cfa1e963/52462710-0-top.fav.png" type="image/ico">
	<title>Payroll for global teams</title>
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" content="https://home.ontop.ai/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="apple-touch-icon" sizes="180x180" href="build/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="build/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="build/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="build/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="build/img/favicon/safari-pinned-tab.svg" color="#844fa3">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#fff">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="build/css/signup.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
	
	<main id="signup" class="send-invite">
		<section>
			<button class="btn-ghost close"><img src="build/img/close.svg" alt="close"></button>
			<img src="build/img/meet-compliance.svg" style="margin: 0 auto; margin-bottom: 20px;" alt="" width="86">
			<h2>{{Company name}} has invited <br> you to their dashboard</h2>
			<form action="">
				<div class="form-group">
					<input type="email" name="" id="" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" name="" id="" placeholder="Password">
					<span class="visibility on"><img class="" src="build/img/visibility_pink.svg" alt=""></span>
				</div>
			</form>
			<a href="sign-client-verify-email.html" class="btn btn-default">Sign up</a>
		</section>
	</main>
	<a href="" class="chat"><img src="build/img/chat.svg" alt="chat"></a>
	<footer>
		<div class="row container">
			<p class="legal">&copy; 2021 On Top. All rights reserved. <a href="">Terms and conditions</a></p>
		</div>
	</footer>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>