*{
	border:0;
	padding: 0;

}
$primary:#FF5A70;
//$primary100:#FFE5DE;
$primary100:rgba(255, 90, 111, 0.14);;
$primary200:#FFC6BD;
$primary300:#FFA19C;
$primary400:#FF8388;
$primary600:#DB4164;
$primary700:#B72D59;
$primary800:#931C4D;
$primary900:#7A1146;
$exito:#36CF82;
$exito100:#EEFEE6;
$exito200: #D7F5E6;
$info:#00DBDB;
$info100:#CAFDEB;
$error:#ED6673;
$error100:#FBE5E4;
$error900:#DA0010;
$alerta:#E49B59;
$alerta100:#FDFAD9;
$pending:#F29D42;
$pending100:#FFE4C8;
$acento:#3B50FF;
$neutro:#555;
$neutro100:#F5F5F5;
$neutro200:#EBEBEB;
$neutro300:#C4C4C4;
$neutro400:#898989;
$neutro600:#322B2B;
$neutro700:#2A1D1F;
$neutro800:#221216;
$neutro900:#1C0B11;
$neutro000:#000;
$border1: 2px 8px 2px 8px;
$border2: 8px;
$border:5px;
$sombra16: 0px 4px 15px rgba(0, 0, 0, 0.1);
$sombra13: 0 1px 13px 0 rgba(0,0,0,0.10);
$sombra20: 0px 4px 20px rgba(0, 0, 0, 0.25);
$hover: 0 1px 6px 0 rgba(0,0,0,0.2);
$text: 'a_regular', sans-serif;
$titles: 'a_bold', sans-serif;
$semi:'a_semibold', sans-serif;
$heavy:'a_heavy', sans-serif; 

@font-face {
    font-family: 'a_black';
    src: url('../font/Aileron-Black-webfont.eot');
    src: url('../font/Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Black-webfont.woff2') format('woff2'),
         url('../font/Aileron-Black-webfont.woff') format('woff'),
         url('../font/Aileron-Black-webfont.ttf') format('truetype'),
         url('../font/Aileron-Black-webfont.svg#aileronblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_black_italic';
    src: url('../font/Aileron-BlackItalic-webfont.eot');
    src: url('../font/Aileron-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-BlackItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-BlackItalic-webfont.woff') format('woff'),
         url('../font/Aileron-BlackItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-BlackItalic-webfont.svg#aileronblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_bold';
    src: url('../font/Aileron-Bold-webfont.eot');
    src: url('../font/Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Bold-webfont.woff2') format('woff2'),
         url('../font/Aileron-Bold-webfont.woff') format('woff'),
         url('../font/Aileron-Bold-webfont.ttf') format('truetype'),
         url('../font/Aileron-Bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_bold_italic';
    src: url('../font/Aileron-BoldItalic-webfont.eot');
    src: url('../font/Aileron-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-BoldItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-BoldItalic-webfont.woff') format('woff'),
         url('../font/Aileron-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-BoldItalic-webfont.svg#aileronbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_heavy';
    src: url('../font/Aileron-Heavy-webfont.eot');
    src: url('../font/Aileron-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Heavy-webfont.woff2') format('woff2'),
         url('../font/Aileron-Heavy-webfont.woff') format('woff'),
         url('../font/Aileron-Heavy-webfont.ttf') format('truetype'),
         url('../font/Aileron-Heavy-webfont.svg#aileronheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_heavy_italic';
    src: url('../font/Aileron-HeavyItalic-webfont.eot');
    src: url('../font/Aileron-HeavyItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-HeavyItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-HeavyItalic-webfont.woff') format('woff'),
         url('../font/Aileron-HeavyItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-HeavyItalic-webfont.svg#aileronheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_italic';
    src: url('../font/Aileron-Italic-webfont.eot');
    src: url('../font/Aileron-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Italic-webfont.woff2') format('woff2'),
         url('../font/Aileron-Italic-webfont.woff') format('woff'),
         url('../font/Aileron-Italic-webfont.ttf') format('truetype'),
         url('../font/Aileron-Italic-webfont.svg#aileronitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_light';
    src: url('../font/Aileron-Light-webfont.eot');
    src: url('../font/Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Light-webfont.woff2') format('woff2'),
         url('../font/Aileron-Light-webfont.woff') format('woff'),
         url('../font/Aileron-Light-webfont.ttf') format('truetype'),
         url('../font/Aileron-Light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_light_italic';
    src: url('../font/Aileron-LightItalic-webfont.eot');
    src: url('../font/Aileron-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-LightItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-LightItalic-webfont.woff') format('woff'),
         url('../font/Aileron-LightItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-LightItalic-webfont.svg#aileronlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_regular';
    src: url('../font/Aileron-Regular-webfont.eot');
    src: url('../font/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Regular-webfont.woff2') format('woff2'),
         url('../font/Aileron-Regular-webfont.woff') format('woff'),
         url('../font/Aileron-Regular-webfont.ttf') format('truetype'),
         url('../font/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_semibold';
    src: url('../font/Aileron-SemiBold-webfont.eot');
    src: url('../font/Aileron-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-SemiBold-webfont.woff2') format('woff2'),
         url('../font/Aileron-SemiBold-webfont.woff') format('woff'),
         url('../font/Aileron-SemiBold-webfont.ttf') format('truetype'),
         url('../font/Aileron-SemiBold-webfont.svg#aileronsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_semibold_italic';
    src: url('../font/Aileron-SemiBoldItalic-webfont.eot');
    src: url('../font/Aileron-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-SemiBoldItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-SemiBoldItalic-webfont.woff') format('woff'),
         url('../font/Aileron-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-SemiBoldItalic-webfont.svg#aileronsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_thin';
    src: url('../font/Aileron-Thin-webfont.eot');
    src: url('../font/Aileron-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-Thin-webfont.woff2') format('woff2'),
         url('../font/Aileron-Thin-webfont.woff') format('woff'),
         url('../font/Aileron-Thin-webfont.ttf') format('truetype'),
         url('../font/Aileron-Thin-webfont.svg#aileronthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_thin_italic';
    src: url('../font/Aileron-ThinItalic-webfont.eot');
    src: url('../font/Aileron-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-ThinItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-ThinItalic-webfont.woff') format('woff'),
         url('../font/Aileron-ThinItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-ThinItalic-webfont.svg#aileronthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_ultralight';
    src: url('../font/Aileron-UltraLight-webfont.eot');
    src: url('../font/Aileron-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-UltraLight-webfont.woff2') format('woff2'),
         url('../font/Aileron-UltraLight-webfont.woff') format('woff'),
         url('../font/Aileron-UltraLight-webfont.ttf') format('truetype'),
         url('../font/Aileron-UltraLight-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'a_ultralight_italic';
    src: url('../font/Aileron-UltraLightItalic-webfont.eot');
    src: url('../font/Aileron-UltraLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aileron-UltraLightItalic-webfont.woff2') format('woff2'),
         url('../font/Aileron-UltraLightItalic-webfont.woff') format('woff'),
         url('../font/Aileron-UltraLightItalic-webfont.ttf') format('truetype'),
         url('../font/Aileron-UltraLightItalic-webfont.svg#aileronultralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}