@import 'styles.scss';
@import 'platform.scss';

.row.container{
	max-width: 1440px;
}
#commissions{
	.title{
		h2{
			width: 100%;
			text-align: center;
		}
	}
	.commission-type{
		form{
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
		}
		.custom-radio{
			width: 46%;
			position: relative;
			height: 186px;
			margin: 16px;
			input{
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 100%;
				//display: flex;
				display: grid;
				align-items: center;
				flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				border-radius: $border2;
				box-shadow: $sombra16;
				background: #fff;
				padding: 20px;
				img{
					width: 57px;
					display: block;
					margin: 0 auto;
				}
				h3{
					color:$neutro600;
					font-size: 20px;
					//margin-left: 24px;
					width: 100%;
					text-align: center;
					font-family: $text;
				}
				.line{
					width: 100%;
					max-width: 102px;
					height: 3px;
					background:$neutro300;
					margin: 16px auto; 
					display: block;
				}
			}
			input:checked + label{
				background: $primary100;
				border:2px solid $primary;
				box-shadow: none;
				h3{
					color:$primary;
				}
				.line{
					background: $primary;
				}
				p{
					color:$neutro600;
				}
			}
			input:disabled + label{
				background: $primary100;
				border:1px solid $neutro300;
				img{
					opacity: 0.5;
				}
				h3{
					color:$neutro300;
				}
				.line{
					background: $neutro300;
				}
				p{
					color:$neutro300;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 17%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 17%;
				}
				&:nth-child(4){
					width: 17%;
				}
				&:nth-child(5){
					width: 17%;
				}
				&:nth-child(6){
					width: 17%;
				}
				&:nth-child(7){
					width: 7%;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 17%;
					}
					&:nth-child(3){
						width: 17%;
					}
					&:nth-child(4){
						width: 17%;
					}
					&:nth-child(5){
						width: 17%;
					}
					&:nth-child(6){
						width: 17%;
					}
					&:nth-child(7){
						width: 7%;
						img{
							margin: 0;
						}
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								img{
									margin-right: 8px;
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.active{
							background: $exito100;
							color:$exito;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				}
			}
		}
	}
}
#individualCommission, #teamCommission, #newCommission{
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
					.custom-radio{
						width: 100%;
						max-width: 324px;
						position: relative;
						height: 186px;
						margin: 16px;
						input{
							height: 100%;
							width: 100%;
							left: 0;
							top: 0;
							position: absolute;
							opacity: 0;
							z-index: 2;
						}
						label{
							width: 100%;
							height: 100%;
							//display: flex;
							display: grid;
							align-items: center;
							flex-wrap: wrap;
							align-content: center;
							justify-content: center;
							border-radius: $border2;
							box-shadow: $sombra16;
							background: #fff;
							padding: 20px;
							img{
								display: block;
								margin: 0 auto 16px;
								width: 54px;
							}
							h3{
								color:$neutro000;
								font-size: 20px;
								font-family: $text;
								width: 100%;
								text-align: center;
							}
							.line{
								width: 103px;
								height: 3px;
								background: $neutro300;
								margin: 0 auto 16px;
							}
							p{
								font-size: 20px;
								margin-bottom: 0;
								color:$neutro;
								text-align: center;
								line-height: 25px;
							}
						}
						input:checked + label{
							background: $primary100;
							border:2px solid $primary;
							box-shadow: none;
							h3{
								color:$primary;
							}
							.line{
								background: $primary;
							}
							p{
								color:$neutro600;
							}
						}
						input:disabled + label{
							background: $primary100;
							border:1px solid $neutro300;
							img{
								opacity: 0.5;
							}
							h3{
								color:$neutro300;
							}
							.line{
								background: $neutro300;
							}
							p{
								color:$neutro300;
							}
						}
					}
				}
				.file-uploaded{
					background: $neutro100;
				    //box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
				    display: inline-flex;
				    align-items: center;
				    justify-content: center;
				    height: 70px;
				    padding: 0 16px;
				    padding-right: 0;
				    position: relative;
				    width: 100%;
				    border:1px solid $neutro300;
				    img{
				    	margin-right: 8px;
				    	width: 24px;
				    }
				    span{
				    	color:$neutro;
				    	font-size: 16px;
				    	font-family: $titles;
				    	line-height: 1.1;
				    	margin-right: 8px;
				    	width: calc(100% - 130px);
			    	    word-break: break-all;
			    	    color:$neutro400;
				    }
				    .actions{
				    	width: 90px;
				    	button{
				    		width: 40px;
				    		height: 40px;
				    		background: none;
				    		img{
				    			width: 18px;
				    		}
				    	}
				    }
				    &:hover{
				    	cursor: pointer;
						background: $primary;
						box-shadow: none;
						img{
							-webkit-filter: brightness(10);
								filter: brightness(10);
						}
						span{
							color:#fff;
						}
						.change-file{
							span{
								color:#fff;
								font-weight: 500;
							}
						}
				    }
				    &.charged{
				    	background: #fff;
				    	border:1px solid $neutro300;
				    	justify-content: center;
				    	span{
				    		width: auto;
				    	}
				    }
				}
				.btn-link{
					color:$primary;
					text-decoration: underline;
					background: none;
					margin-bottom: 16px;
					font-size: 20px;
				}
				.grupo{
					background:#fff;
					border-radius: 10px;
					border:1px solid $neutro300;
					padding: 16px;
					.upload-file{
						width: 100%;
						.look{
							box-shadow: none;
							max-width: inherit !important;
							text-align: left;
							justify-content: flex-start;
							span{
								color:$neutro300;
							}
						}
						&:hover{
							.look{
								span{
									color:#fff;
								}
							}
						}
					}
					.file-uploaded{
						box-shadow: none;
						border:1px solid $neutro300;
						height: 70px;
						width: 100%;
						border-radius:$border;
						img{
							width: 24px;
						}
						span{
							font-size: 16px;
							font-family: $titles;
							color:$neutro400;
							width: 100%;
							max-width: inherit;
						}
						&:hover{
							border-color:$primary;
							span{
								color:#fff;
							}
						}
					}
					.actions{
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						.link{
							text-transform: uppercase;
							text-decoration: none !important;
						}
						.btn-ghost{
							width: 48px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	
	
}
@media (max-width: 576px){
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}