@import 'colores.scss';

.row.container{
	max-width: 1440px;
}

.contracts{
	.alarm{
       max-width: 1338px;
       margin:0 auto;
	}
	.btn-link{
		text-transform: none;
		color:$neutro;
		font-size: 12px;
		justify-content: center;
		img{
			margin-left: 8px;
		}
	}
	.begin{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 48px;
		.row.container{
			width: 100%;
			padding: 0;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.filters{
		padding-top: 24px;
		padding-bottom: 8px;
		.form-group{
			label{
				font-size: 12px;
				color:$neutro900;
			}
		}
		.col-lg-3{
			display: inline-flex;
			align-items: flex-end;
			//padding-bottom: 24px;
			margin-bottom: 16px;
			.clear-filters{
				margin-bottom: 16px;
				font-size: 10px;
				color: $neutro000;
				text-transform: none;
				height: 24px;
				img{
					width: 6px;
					margin-right: 8px;
				}
			}
		}
		.btn-ghost{
			justify-content: flex-end;
			padding-right: 0;
		}
	}
	.badges{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.alert.badge{
			background: $neutro100;
			font-size: 12px;
			color: $neutro600;
			margin-right: 16px;
			.close{
			    padding: 0;
			    width: 48px;
			    height: 32px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    font-weight: 400;
			}
		}
		.btn-link{
			color:$primary;
			width: 96px;
			height: 40px;
			padding: 0;
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.amendment{
			.thead{
				.th{
					&:first-child{
						width: 5%;
						padding-left: 8px;
					}
					&:nth-child(2){
						width: 22%;
						padding-left: 56px;
					}
					&:nth-child(3){
						width: 16%;
					}
					&:nth-child(4){
						width: 14%;
					}
					&:nth-child(5){
						width: 12%;
					}
					&:nth-child(6){
						width: 23%;
					}
					&:nth-child(7){
						width: 7%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 22%;
					}
					&:nth-child(3){
						width: 16%;
					}
					&:nth-child(4){
						width: 14%;
					}
					&:nth-child(5){
						width: 12%;
					}
					&:nth-child(6){
						width: 23%;
					}
					&:nth-child(7){
						width: 7%;
					}
				}
			}
		}
		&.bulk{
			.thead{
				.th{
					&:first-child{
						width: 4%;
						padding-left: 8px;
					}
					&:nth-child(2){
						width: 32%;
						padding-left: 56px;
					}
					&:nth-child(3){
						width: 27%;
					}
					&:nth-child(4){
						width: 30%;
					}
					&:nth-child(5){
						width: 12%;
					}
					&:nth-child(6){
						width: 23%;
					}
					&:nth-child(7){
						width: 7%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 9%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 26%;
					}
					&:nth-child(3){
						width: 25%;
					}
					&:nth-child(4){
						width: 28%;
					}
					&:nth-child(5){
						width: 12%;
					}
					&:nth-child(6){
						width: 23%;
					}
					&:nth-child(7){
						width: 7%;
					}
				}
			}
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 90px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 27%;
				padding-left: 62px;
			}
			&:nth-child(2){
				width: 16%;
			}
			&:nth-child(3){
				width: 14%;
			}
			&:nth-child(4){
				width: 12%;
			}
			&:nth-child(5){
				width: 14%;
			}
			&:nth-child(6){
				width: 23%;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		.item{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			background: $neutro100;
			margin-bottom: 24px;
			.td{
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro700;
				font-size: 15px;
				&:first-child{
					width: 27%;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 14%;
				}
				&:nth-child(4){
					width: 12%;
				}
				&:nth-child(5){
					width: 13%;
				}
				&:nth-child(6){
					width: 25%;
				}
				button{
					width: 40px;
					height: 40px;
					background:transparent;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: $neutro700;
					border-radius:0;
					&:hover{
						color:$primary;
						border-bottom: 2px solid $primary;
					}
					&.view{
					    width: 122px;
						height: 40px;
						background:transparent;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						img{
							margin-right: 10px;
						}
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
							img{
						       filter:grayscale(0%);
							}
						}
					}
				}
				.dropdown{
					width: 100%;
					button{
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					//width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 20px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px 0 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			}
		}
	}
	&.contractor-documents{
		.thead{
			.th{
				&:first-child{
					width: 70%;
					padding-left: 62px;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 14%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 70%;
					}
					&:nth-child(2){
						width: 16%;
					}
					&:nth-child(3){
						width: 14%;
					}
				}
			}
		}
	}
	&.tax-form{
		.thead{
			.th{
				&:first-child{
					width: 80%;
					padding-left: 62px;
				}
				&:nth-child(2){
					width: 20%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 80%;
					}
					&:nth-child(2){
						width: 20%;
					}
				}
			}
		}
	}
	&.contractor-documents.contractor-view{
		.thead{
			.th{
				&:first-child{
					width: 55%;
					padding-left: 62px;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 17%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 56%;
					}
					&:nth-child(2){
						width: 15%;
					}
					&:nth-child(3){
						width: 17%;
					}
					.upload{
						background: none;
						border:none;
						width: 56px;
						height: 40px;
						font-size: 14px;
						color:$neutro400;
						font-family: $titles;
						flex-wrap: wrap;
						img{
							width: 32px;
						}
					}
					.viewmore{
						background: none;
						border:none;
						height: 20px;
						font-size: 16px;
						color:$primary;
						font-family: $titles;
						img{
							width: 8px;
							margin-left: 4px;
						}
					}
				}
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
					.upload{
						background: none;
						border:none;
						width: 56px;
						height: 40px;
						font-size: 12px;
						color:$neutro400;
						font-family: $titles;
						flex-wrap: wrap;
						img{
							width: 24px;
						}
					}
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
	.pagination{
		li{
			a{
				border-color:$neutro300;
				width: 40px;
				height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				color:$neutro;

			}
			&.active{
				a{
					background: #fff;
					color:$primary;
					font-weight: 600;
					border-color:$neutro300;
				}
			}
			&.disabled{
				img{
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					opacity: 0.5;
				}
				
			}
		}
	}
}
// contracts

#contract_detail{
	.row.container{
		max-width: 1070px;
	}
	.user-info{
			text-align: center;
			h4{
				font-size: 32px;
				font-weight: 700;
				color: #000;
				margin-top:30px;
				margin-bottom: 20px;
			}
			h6{
				font-size: 24px;
				font-weight: 400;
				color: $neutro600;
			}
			p{
				font-size: 16px;
				font-weight: 600;
				color:#898989;
				margin-bottom: 20px;
			}
		.name-user{
		img{
			width: 100px;
			height: 100px;
			margin-top: -73px;
            margin-left: 33px;
		}
		.badge{
			width: 30px;
			height: 30px;
			left: 469px;
			top: 425px;
		    border: 2px solid #fff;
		    background: $exito;
		    border-radius: 50%;
		    img{
		    	width: 20px;
			    height: 20px;
			    left: 469px;
			    top: 425px;
		    }
          }
	   }
	   .data{
		height: 94px;
		background: #F5F5F5;
		border-radius: 10px;
		padding: 10px;
		padding-top: 10px;
	   	 dt{
	   	 	font-size: 20px;
			font-weight: 400;
			color: $neutro600;
			&.mini{
			font-size: 10px;
			color: #898989;
			}
	   	 }
	   	 .badge{
						height: 25px;
						max-width: 159px;
						border-radius: 20px;
						font-size: 14px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.active{
							background: rgba(54, 207, 130, 0.2);
							color: #36CF82;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}

	   }

	}
	.data-user{
		list-style:none;
		padding: 200px;
		img{
			margin: 10px;
		}
		strong{
			color:#000;
			font-weight: 900;
		}
	}
	.top{
		max-width: 1070px;
		h2{
			font-size: 34px;
			line-height: 1;
			color:$neutro000;
			margin-bottom: 0;
		}
		p.label{
			font-size: 18px;
			color:$neutro400;
			margin-bottom: 8px;
		}
		.detail{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0;
			margin-bottom: 0;
			margin-top: 8px;
			span{
				margin-right: 24px;
				font-size: 18px;
				color:$neutro400;
				&.estado{
					color:$primary;
					text-transform: uppercase;
				}
				&.coin{
					margin-right: 0;
					img{
						margin-right: 8px;
					}
				}
			}	
		}
		.data-user{
			img{
				align-content:center;
			}
			span .badge{
				position: absolute;
			    width: 24px;
			    height: 24px;
			    border: 2px solid #fff;
			    background: #FF5A70;
			    border-radius: 50%;
			    font-size: 12px;
			     color: #fff;
			    font-family: "a_bold", sans-serif;
			    padding: 0;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    left: 48px;
			    top: 0;
			}
		}
		button{
			margin-right: 8px;
			&.w-icon-l{
				font-weight: 700;
				img{
					margin: 0;
					margin-right: 8px;
				}
			&:hover{
				text-decoration: underline;
			   }	
			}
			&.btn.btn-outline.gray{
				img{
					margin-left: 0;
					filter: grayscale(100%);
				}
			}
		}
		.search{
			//margin-right: 32px;
			position: relative;
			//width: 100%;
			margin-bottom: 0;
			input{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: 10px;
				color:$neutro700;
				padding-left: 40px;
				font-size: 16px;
				font-weight: 400;
				//box-shadow: $sombra13;
				border:1px solid $neutro300;
				transition: all linear 300ms;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $neutro400;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $neutro400;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $neutro400;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $neutro400;
				}
			}
			img{
				position: absolute;
				left: 16px;
				top: 13px;
			}
		}
	}
	.title{
		position: relative;
		margin-bottom: 3rem;
		max-width: 1070px;
		.back{
			position: absolute;
			left: 0;
			top: 0;
			color:$neutro400;
			justify-content: flex-start;
		}
		h2{
			width: 100%;
			text-align: center;
		}
		h3{
			width: 100%;
			padding-bottom: 24px;
			border-bottom:1px solid $neutro300;
			font-size: 32px;
			color:$neutro600;
		}
	}
	.nav-tabs{
		width: 1064px;
        height: 48px;
		justify-content: flex-end;
		min-height: inherit;
		background: #fff;
		justify-content: center;
		margin-top: 56px;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
		.nav-item{
			//max-width: 230px;
			a{
				padding: 16px;
				height: 48px;
				font-size: 18px;
				border-bottom: 4px solid transparent;
				color:$neutro400;
				img{
					position: relative;
					opacity: 1;
					margin: 0;
					top: inherit;
					left:inherit;
					margin-right: 8px;
					filter:grayscale(100%);
				}
				&.active{
					border-bottom-color:$primary;
					color:$primary;
					img{
						filter:grayscale(0%);
					}
				}
			}
		}
	}
	.tab-pane{
		width: 100%;
		.cards-detail{
			align-items: stretch;
		}
	}
	.detail{
		padding: 24px;
		margin-bottom: 24px;
		height: 90%;
		&.data-user{
			padding-left: 76px;
		}
		.top{
			border-bottom:1px solid $neutro300;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 24px;
			margin-bottom: 16px;
			h3{
				font-size: 26px;
				color:$neutro000;
				margin-right: 100px;
			}
			h4{
				font-size: 20px;
				color:$neutro000;
				margin-right: 200px;
			}
			p.pink{
				font-size: 14px;
				font-family: $titles;
				color:$primary;
			}
			&.no-line{
				padding-bottom: 0;
				border:none;
			}
			button.edit{
				width: 51px;
				height: 28px;
				font-size: 14px;
				font-family: $titles;
			}
			img{
				margin: 0;
			    top: inherit;
			    left: inherit;
			    margin-top: -5px;
			}
		}
		.resultsdriven{
				background: $neutro100;
				padding: 24px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				max-width: 450px;
				height: 66px;
				margin-top: 24px;
				p{
					color:$neutro000;
					font-size: 14px;
					font-family: $titles;
					width: calc(100% - 80px);
					margin-left: 8px;
					margin-bottom: 0;
				}
				.actions{
					width: 60px;
					display: inline-flex;
					button{
						background: none;
						border:none;
						width: 30px;
						height: 30px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		dl{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-bottom: 16px;
			dt{
				width: 50%;
				font-size: 14px;
				color:$neutro400;
				font-family: $titles;	
			}
			dd{
				margin-bottom: 0;
				width: 50%;
				font-size: 14px;
				color:$neutro000;
				font-family: $titles;
				text-align: right;
			}
			&.gray{
				background: $neutro100;
				padding: 0 16px;
				height: 48px;
				dt{}
				dd{
				}
			}
			&.full-width{
				padding: 16px;
				height: auto;
				dt{
					width: 100%;
					margin-bottom: 8px;
				}
				dd{
					width: 100%;
					text-align: left;
				}
			}
		}
		.modification{
			background: $neutro100;
			padding: 16px;
			h5{
				font-size: 14px;
				color:$neutro400;
				font-family: $titles;
			}
			.topic{
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 8px;
				p{
					margin: 0;
					margin-left: 8px;
					font-size: 14px;
					margin-top: 3px;
					font-family: $titles;
				}
			}
		}
		.textarea{
			width: 100%;
			height: 123px;
			background: $neutro100;
			padding: 16px;
			color: $neutro600;
			font-family: $titles;
			font: 14px;
			&.empty{
				color:$neutro400;
			}
		}
		.custom-switch{
			margin-top: 4px;
		}
		.file-uploaded{
			background: $neutro100;
		    //box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    height: 48px;
		    padding: 0 16px;
		    padding-right: 0;
		    position: relative;
		    width: 100%;
		    img{
		    	margin-right: 8px;
		    	width: 24px;
		    }
		    span{
		    	color:$neutro;
		    	font-size: 16px;
		    	font-family: $titles;
		    	line-height: 1.1;
		    	margin-right: 8px;
		    	width: calc(100% - 130px);
	    	    word-break: break-all;
	    	    color:$neutro400;
		    }
		    .actions{
		    	width: 90px;
		    	button{
		    		width: 40px;
		    		height: 40px;
		    		background: none;
		    		img{
		    			width: 18px;
		    		}
		    	}
		    }
		    &:hover{
		    	cursor: pointer;
				background: $primary;
				box-shadow: none;
				img{
					-webkit-filter: brightness(10);
						filter: brightness(10);
				}
				span{
					color:#fff;
				}
				.change-file{
					span{
						color:#fff;
						font-weight: 500;
					}
				}
		    }
		    &.charged{
		    	background: #fff;
		    	border:1px solid $neutro300;
		    	justify-content: center;
		    	span{
		    		width: auto;
		    	}
		    }
		}
		&.verify{
			h4{
				font-size: 20px;
				color:$neutro400;
				font-family: $text;
			}
			.top{
				position: relative;
				.renew{
					position: absolute;
					right: 0;
					top: 0;
					filter:grayscale(100%);
					width: 32px;
				}
				h3{
					.ico-ok{
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color: $exito200;
						display: none;
					}
					.ico-not{
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color:$error100;
						display: none;
					}
				}
			}
			.message{
				font-size: 16px;
				font-family: $titles;
				color:$neutro800;
				padding: 24px;
				border-top:1px solid $neutro300;
				margin-bottom: 8x;
				a{
					color:$primary;
				}
			}
			.custom-control{
				li{
					font-size: 16px;
					width: 100%;
					box-shadow: none;
					background: none;
					height: 40px;
					font-family: $titles;
					color:$neutro400;
					line-height: 40px;
				}
			}
			&.ok{
				.top{
					h4{
						color:$exito;
					}
					h3{
						.ico-ok{
							display: inline-flex;
						}
					}
						.renew{
							display: none;
						}
				}
				.custom-control.custom-checkbox{
					input:checked + .custom-control-label:before{
						background: url(../img/check.svg) no-repeat center $exito !important;
						border-color:$exito;
					}
				}
			}
			&.not{
				.top{
					h4{
						color:$error900;
					}
					h3{
						.ico-not{
							display: inline-flex;
						}
					}
						.renew{
							display: none;
						}
				}
			}
			.bar-progress{
				margin-top: 24px;
				.progress{
					height: 23px;
					border-radius: 12px;
					background-color: $neutro200;
					.progress-bar{
						border-radius: 12px;
						&[aria-valuenow="0"],
						&[aria-valuenow="10"],
						&[aria-valuenow="20"]{
							background:$error900;
						}
						&[aria-valuenow="30"],
						&[aria-valuenow="40"],
						&[aria-valuenow="50"]{
							background:$acento;
						}
						&[aria-valuenow="60"],
						&[aria-valuenow="70"],
						&[aria-valuenow="80"]{
							background:#FFD964;
						}
						&[aria-valuenow="90"],
						&[aria-valuenow="100"]{
							background:$exito;
						}
					}
				}
				
				span{
					font-size: 14px;
					color:$neutro400;
				}
			}
		}
	}
	.summary{
		padding: 24px;
		margin-bottom: 48px;
		h4{
			font-size: 16px;
			color:$primary;
			padding-bottom: 8px;
			padding-left: 64px;
			position: relative;
			margin-bottom: 16px;
			.line{
				position: absolute;
				bottom: 0;
				left: 64px;
				background: $neutro300;
				height: 3px;
				width: 76px;
			}
		}
		dl{
			display: flex;
			align-items: flex-start;
			justify-content: start;
			dt{
				margin-right: 16px;
			}
			dd{
				strong{
					font-family: $titles;
				}
			}
		}
		button{
			max-width: initial;
			justify-content: flex-start;
			padding-left: 0;
			text-transform: uppercase;
		}
	}
	.document{
		width: 100%;
		padding: 24px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 24px;
		h4{
			width: calc(100% - 120px);
			margin-bottom: 0;
		}
		.state{
			width: 48px;
			img{
				width: 48px;
			}
		}
		.doc{
			width: 48px;
			height: 48px;
			background: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-left: 16px;
			img{
				width: 24px;
			}
		}
	}
	.amend-type{
		h5{
			font-family: $titles;
			font-size: 24px;
			color: $neutro400;
			width: 100%;
			text-align: center;
			margin-bottom: 32px;
		}
		form{
			width: 100%;
			display: flex;
			justify-content: space-between;
			.custom-radio{
				width: 48%;
				position: relative;
				height: 213px;
				margin: 16px;
				input{
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					position: absolute;
					opacity: 0;
					z-index: 2;
				}
				label{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					//flex-wrap: wrap;
					align-content: center;
					justify-content: center;
					border-radius: $border2;
					box-shadow: $sombra16;
					background: #fff;
					padding: 20px;
					img{
						width: 99px;
					}
					h3{
						color:$neutro000;
						font-size: 25px;
						font-family: $titles;
						margin-left: 24px;
						width: 100%;
						max-width: 190px;
						text-align: left;
					}
				}
				input:checked + label{
					background: $primary100;
					border:2px solid $primary;
					box-shadow: none;
					h3{
						color:$primary;
					}
					.line{
						background: $primary;
					}
					p{
						color:$neutro600;
					}
				}
				input:disabled + label{
					background: $primary100;
					border:1px solid $neutro300;
					img{
						opacity: 0.5;
					}
					h3{
						color:$neutro300;
					}
					.line{
						background: $neutro300;
					}
					p{
						color:$neutro300;
					}
				}
			}
		}
	}
	.empty_state{
		width: 100%;
		max-width: 534px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin:0 auto;
		padding: 32px 24px;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: auto;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		width: calc(100% + 30px);
		.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 42%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 39%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 33%;
				}
				&:nth-child(4){
					width: 40%;
				}
				&:nth-child(5){
					width: 15%;
				}
				&:nth-child(6){
					width: 19%;
				}
				&:nth-child(7){
					width: 7%;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 26%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 25%;
					}
					&:nth-child(3){
						width: 20%;
					}
					&:nth-child(4){
						width: 25%;
					}
					&:nth-child(5){
						width: 12%;
					}
					&:nth-child(6){
						width: 19%;
					}
					&:nth-child(7){
						width: 7%;
						img{
							margin: 0;
						}
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								width: auto;
								img{
									margin-right: 8px;
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.active{
							background: $exito100;
							color:$exito;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				}
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			&.commisions-card{
				position: relative;
				.form-check.custom{
					position: absolute;
					right: 8px;
					top: 8px;
				}
			}
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
.custom-date{
	position: relative;
	width: 100%;
	input{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		opacity: 0;
	}
	.date-look{
		padding-left: 48px;
		padding-right: 48px;
		position: relative;
		width: 100%;
		height: 48px;
		z-index: 1;
		line-height: 48px;
		color:$neutro300;
		font-size: 14px;
	}
	.date{
		position: absolute;
		left: 0;
		top: 0;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.ico{
		position: absolute;
		left: 0;
		top: 0;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
#addcommission{
	h4{
		margin-bottom:none;
	}
	.cname{
		background: $neutro200;
		border-radius: 5px;
		margin-bottom: 20px;
		height: 54px;
		h3{
			font-size: 18px;
			font-weight: 400;
			color:$neutro400;
			margin-top: 11px;

		}
	}
}
#ownAmend, #ontopAmend, #paymentDetail, #specialClause, #addCommission, 
#commission, #addExtraPay, #roleChange, #newCommission, #inviteMembers{
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				position: relative;
				button.close{
					position: absolute;
					right: 16px;
					top: 16px;
				}
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
				}
				.alert{
					&.alert-danger{
						color:$primary;
					}
				}
				
				.file-uploaded{
					background: $neutro100;
				    //box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
				    display: inline-flex;
				    align-items: center;
				    justify-content: center;
				    height: 70px;
				    padding: 0 16px;
				    padding-right: 0;
				    position: relative;
				    width: 100%;
				    border:1px solid $neutro300;
				    img{
				    	margin-right: 8px;
				    	width: 24px;
				    }
				    span{
				    	color:$neutro;
				    	font-size: 16px;
				    	font-family: $titles;
				    	line-height: 1.1;
				    	margin-right: 8px;
				    	width: calc(100% - 130px);
			    	    word-break: break-all;
			    	    color:$neutro400;
				    }
				    .actions{
				    	width: 90px;
				    	button{
				    		width: 40px;
				    		height: 40px;
				    		background: none;
				    		img{
				    			width: 18px;
				    		}
				    	}
				    }
				    &:hover{
				    	cursor: pointer;
						background: $primary;
						box-shadow: none;
						img{
							-webkit-filter: brightness(10);
								filter: brightness(10);
						}
						span{
							color:#fff;
						}
						.change-file{
							span{
								color:#fff;
								font-weight: 500;
							}
						}
				    }
				    &.charged{
				    	background: #fff;
				    	border:1px solid $neutro300;
				    	justify-content: center;
				    	span{
				    		width: auto;
				    	}
				    }
				}
				.btn-link{
					color:$primary;
					text-decoration: underline;
					background: none;
					margin-bottom: 16px;
					font-size: 20px;
				}
				.grupo{
					background:#fff;
					border-radius: 10px;
					border:1px solid $neutro400;
					padding: 16px;
					.upload-file{
						width: 100%;
						.look{
							box-shadow: none;
							max-width: inherit !important;
							text-align: left;
							justify-content: flex-start;
							span{
								color:$neutro300;
							}
						}
						&:hover{
							.look{
								span{
									color:#fff;
								}
							}
						}
					}
					.file-uploaded{
						box-shadow: none;
						border:1px solid $neutro300;
						height: 70px;
						width: 100%;
						border-radius:$border;
						img{
							width: 24px;
						}
						span{
							font-size: 16px;
							font-family: $titles;
							color:$neutro400;
							width: 100%;
							max-width: inherit;
						}
						&:hover{
							border-color:$primary;
							span{
								color:#fff;
							}
						}
					}
					.actions{
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						.link{
							text-transform: uppercase;
							text-decoration: none !important;
						}
						.btn-ghost{
							width: 48px;
						}
					}
				}
				p.col-12{
					padding: 0;
					strong{
						font-size: 16px;
						font-family: $titles;
					}
				}
				.custom-radio.custom2{
					background: #FFFFFF;
					border: 1px solid $neutro300;
					box-sizing: border-box;
					border-radius: 5px;
					height: 49px;
					padding: 0 16px;
					padding-left: 32px;
					margin-top: 0;
					width: 49%;
					display: inline-block;
					label{
						line-height: 49px;
						width: 100%;
						box-shadow: none;
						background: none;
						height: 49px;
						font-family: $text;
						color:$neutro300;
						margin-bottom: 0;
						font-size: 15px;
						line-height: 1.1;
					}
					.custom-control-label:before{
						width: 18px;
						height: 18px;
						border-radius: 2px;
						border-color: $neutro300;
						top: 14px;
						left:-1rem;
						opacity: 1;
						box-shadow: none;
					}
					.custom-control-label::after{
						top: 14px;
						width: 18px;
						height: 18px;
						border-radius: 2px;
						background: none;
						box-shadow: none;
					}
					input:checked + .custom-control-label{
						border:none;
					}
					input:checked + .custom-control-label:before{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
					input:checked + .custom-control-label::after{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
				}
			}
		}
	}
}
#createAmendment, #deleteCommission {
	img{
		display: block;
		margin: 0 auto 32px;
	}
	h4{
		text-align: center;
		margin-bottom: 32px;
	}
	.modal-body{
		padding-top: 0;
		padding-bottom: 56px;
	}
	.actions{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 200px;
		margin: 0 auto;
		a{
			width: 73px;
			font-size: 20px;
			margin: 8px;
		}
		button{
			width: 73px;
			font-size: 20px;
			margin: 8px;
		}
	}
}
#commission, #extraPay{
	h4{
		text-align: center;
		margin-bottom: 32px;
	}
	.modal-body{
		padding-top: 0;
		padding-bottom: 56px;
	}
	.actions{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 200px;
		margin: 0 auto;
		a{
			width: 102px;
			font-size: 20px;
		}
		button{
			width: 102px;
			font-size: 20px;
			margin: 8px;
		}
	}
}
#contractRenew{
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				position: relative;
				button.close{
					position: absolute;
					right: 16px;
					top: 16px;
				}
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
					.form-group{
						label{
							font-size: 18px;
							color: $neutro400;
							font-family: $titles;
						}
					}
				}
				.custom-radio.custom2{
					background: #FFFFFF;
					border: 1px solid $neutro300;
					box-sizing: border-box;
					border-radius: 5px;
					height: 49px;
					padding: 0 16px;
					padding-left: 32px;
					margin-top: 0;
					width: 49%;
					display: inline-block;
					label{
						line-height: 49px;
						width: 100%;
						box-shadow: none;
						background: none;
						height: 49px;
						font-family: $text;
						color:$neutro300;
						margin-bottom: 0;
						font-size: 15px;
						line-height: 1.1;
					}
					.custom-control-label:before{
						width: 18px;
						height: 18px;
						border-radius: 2px;
						border-color: $neutro300;
						top: 14px;
						left:-1rem;
						opacity: 1;
						box-shadow: none;
					}
					.custom-control-label::after{
						top: 14px;
						width: 18px;
						height: 18px;
						border-radius: 2px;
						background: none;
						box-shadow: none;
					}
					input:checked + .custom-control-label{
						border:none;
					}
					input:checked + .custom-control-label:before{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
					input:checked + .custom-control-label::after{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
				}
				.custom-date{
					position: relative;
					input{
						position: absolute;
						width: 100%;
						height: 100%;
						opacity: 0;
						z-index: 2;
					}
					.date-look{
						position: relative;
						width: 100%;
						height: 49px;
						background: #FFFFFF;
						border: 1px solid #D9D9D9;
						box-sizing: border-box;
						border-radius: 5px;
						z-index: 1;
						padding-left: 16px;
						.text{
							font-size: 17px;
							line-height: 49px;
							color: #bdbdbd;
						}
						.ico{
							width: 49px;
							height: 37px;
							position: absolute;
							right: 0;
							top: 6px;
							left: inherit;
							border-left:1px solid #bebebe;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}	
}
#reminderRenew, #renewCheck, #endContractNotification, #EditContract{
	.modal-dialog{
		max-width: 328px;
		.modal-header{
			position: relative;
			h4{
				font-size: 24px;
				font-family: $titles;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			button.close{
				position: absolute;
				right: 16px;
				top: 16px;
			}
		}
		.modal-body{
			padding-top: 0;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
				span{
					color:$primary;
				}
			}
			.actions{
				display: flex;
				align-items: center;
				justify-content: space-between;
				max-width: 200px;
				margin: 0 auto;
				a{
					width: 102px;
					font-size: 20px;
				}
				button{
					width: 102px;
					font-size: 20px;
					margin: 8px;
				}
			}
		}
	}
}
#reasonContractEnd, #personalRate, #culturalRate, #performanceRate, #recommendRate{
	.modal-dialog{
		max-width: 480px;
		.modal-header{
			position: relative;
			img{
				justify-content: center;
				margin:0 auto;
			}
			h4{
				font-size: 24px;
				font-family: $titles;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			button.close{
				position: absolute;
				right: 16px;
				top: 16px;
			}
		}
		.modal-body{
			padding-top: 0;
			h4{
				font-size: 24px;
				font-family: $titles;
				text-align: center;
				color:$neutro000;
				span{
					color:$primary;
				}
			}
			h3{
				font-size: 32px;
				width: 100%;
				text-align: center;color:$primary;
				margin-bottom: 32px;
			}
			form{
				&.reasons{
					//margin-top: 40px;
					margin-bottom: 40px;
					max-width: 340px;
					.custom-checkbox{
						margin-bottom: 24px;
						input{}
						label.custom-control-label{
							line-height: 27px;
							&:before{
							    width: 18px;
							    height: 18px;
							    border-radius: 2px;
							    border-color: $neutro300;
							    top: 3px;
							    left: -25px;
							    opacity: 1;
							    box-shadow: none;
							    background: url(../img/check_gray.svg) no-repeat center transparent !important;
							}
						}
						input:checked + .custom-control-label{
							border:none;
						}
						input:checked + .custom-control-label:before{
							//background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
						input:checked + .custom-control-label::after{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
					}
				}
				.star-rating {
					//font-family: "FontAwesome";
					margin: 50px auto;
				}
				.star-rating > fieldset {
					border: none;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 78px;
					width: 100%;
					max-width: 394px;
					position: relative;
					flex-flow: row-reverse;
					border-radius: 35px;
					background: $neutro100;
				}
				.star-rating > fieldset:not(:checked) > input {
					position: absolute;
					top: 0px;
					clip: rect(0, 0, 0, 0);
					width: 38px;
					height: 38px;
				}
				.star-rating > fieldset:not(:checked) > label {
					width: 38px;
					padding: 0;
					height: 38px;
					overflow: hidden;
					white-space: nowrap;
					cursor: pointer;
					font-size: 1px;
					color: transparent;
					margin-left: 8px;
					margin-bottom: 0;
					background: url('../img/empty_star.svg') center no-repeat;
				}
				.star-rating > fieldset:not(:checked) > label:before {
					background: url('../img/bold_star.svg');
				}
				.star-rating > fieldset:not(:checked) > label:hover,
				.star-rating > fieldset:not(:checked) > label:hover ~ label {
					background: url('../img/bold_star.svg');
				}
				.star-rating > fieldset:not(:checked) > label:hover:before,
				.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
					background: url('../img/bold_star.svg');
				}
				.star-rating > fieldset > input:checked ~ label:before {
					background: url('../img/bold_star.svg');
				}
				.star-rating > fieldset > input:checked ~ label {
					background: url('../img/bold_star.svg');
				}
				.star-rating > fieldset > label:active {
					position: relative;
					top: 2px;
				}
			}
			.controls{
				.btn-ghost{
					width: auto;
				}
			}
		}
	}
}
#deleteCommission, #commissionAdded, #deleteExtraPay, #extraPayAdded, #amendSign, 
#amendUpload, #commissionDeleted, #contractRenewDone, #contractTerminated{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
				span{
					color:$primary;
				}
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
			}
		}
	}
}
#ContractPreview{
	.modal-dialog{
		max-width: 1139px;
		.modal-body{
			.sign{
				width: 100%;
				max-width: 459px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto 40px;
				.line{
					height: 48px;
					width: calc(100% - 84px);
					border-bottom: 1px solid $neutro;
				}
				button{
					width: 76px;
				}
			}
			.contract{
				width: 100%;
				background: $neutro700;
				height: 60vh;
				color:#fff;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
#docStatus{
	dl{
		background: $neutro100;
		height: 48px;
		display: flex;
		align-items: center;
		padding: 16px 24px;
		dt{
			width: 60%;
			font-size: 16px;
			font-family: $titles;
			color:$neutro000;
		}
		dd{
			width: 40%;
			text-align: right;
			margin-bottom: 0;
			padding: 0;
			.badge{
				height: 25px;
				border-radius: 20px;
				font-size: 12px;
				font-family: $titles;
				//width: 100%;
				border:none;
				text-transform: none;
				text-align: left;
				justify-content: flex-start;
				line-height: 20px;
			    vertical-align: inherit;
			    padding: 0;
				padding: 0 16px 0 0;
			    position: relative;
				&:before{
				    content: '•';
				    width: 24px;
				    text-align: center;
				    font-size: 22px;
				    display: inline-block;
				}
				&.cancel{
					background: $error100;
					color:$error;
				}
				&.complete{
					background: $exito100;
					color:$exito;
				}
			}
		}
		&.head{
			dd{
				width: 20%;
				font-size: 14px;
				font-family: $titles;
				color:$neutro000;
				text-align: center;
				&:first-child{
					width: 60%;
					text-align: left;
				}
			}
		}
		&.body{
			dd{
				width: 20%;
				font-size: 12px;
				color:$neutro000;
				text-align: center;
				&:first-child{
					width: 60%;
					text-align: left;
				}
			}
		}
	}
}
#verifyIdentity{
	.modal-header{
		img{
			margin: 0 auto;
		}

	}
	.modal-body{
		h4{
			text-align: center;
		}
	}
}
@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	header{
  		height: auto;
		border-right: none;
	    flex-wrap: inherit;
    	justify-content: space-between;
    	height: 64px;
    	align-items: center;
    	align-content: center;
    	width: 100%;
    	padding-top: 0;
    	.d-lg-none{
    		display: inline-flex !important;
        }
    	button.navbar-toggler{
			width: 56px;
			height: 56px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color:$primary;
			padding: 0;
			position: absolute;
    		right: 0;
    		top: 4px;
    		right: 16px;
			i{
				font-size: 24px;
			}
		}
		nav{
    		position: absolute;
    		width: 100vw;
    		left: 0;
    		right: 0;
    		top: 60px;
    		margin: 0;
    		left: -17px;
    		ul{
    			width: 100%;
			    height: 1px;
			    //border-top: 1px solid $neutro300;
			    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.10);
		        position: absolute;
			    z-index: 3;
			    top: 5px !important;
			    align-content: flex-start;
			    flex-wrap: wrap;
			    background: #fff;
			    right: 0;
				overflow: hidden;
				padding: 0 24px;
				left: 16px;
			    //transition: 400ms ease-out right;
			    &.show{
					height: auto;
					transition: 400ms ease-out height;
    				opacity: 1;
    				top: 65px;
    				padding: 24px;
    			}
    			&.collapsing{
    				top: 65px;
    			}
			}
    	}
  	}
  	#platform{
  		width: 100%;
  		position: relative;
  	}
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	#platform.horizontal-menu{
		padding-top: 90px;
	}
	.contracts{
		.table{
			overflow-x: auto;
		}
		.thead{
			position: relative;
			width: max-content;
			.th{
				position: relative;
				z-index: 1;
				&:first-child{
					width: 184px;
				}
				&:nth-child(2){
					width: 194px;
				}
				&:nth-child(3){
					width: 153px;
				}
				&:nth-child(4){
					width: 133px;
				}
				&:nth-child(5){
					width: 129px;
				}
				&:nth-child(6){
					width: 145px;
				}
				&:nth-child(7){
					width: 108px;
				}
			}
		}
		.tbody{
			position: relative;
			.item{
				flex-wrap: wrap;
				width: max-content;
				.td{
					position: relative;
					z-index: 1;
					&:first-child{
						width: 184px;
					}
					&:nth-child(2){
						width: 194px;
					}
					&:nth-child(3){
						width: 133px;
					}
					&:nth-child(4){
						width: 153px;
					}
					&:nth-child(5){
						width: 129px;
					}
					&:nth-child(6){
						width: 145px;
					}
					&:nth-child(7){
						width: 108px;
					}
					button{
					}
				}
			}
		}
	}
	#contract_detail{
		.title{
			margin-bottom: 2rem;
			.back{
				position: relative;
			}
			h3{
				font-size: 24px;
				text-align: center;
			}
		}
		.top{
			.download-pdf{
				max-width:254px;
			}
			.amend{
				max-width:254px;
			}
			.end{
				max-width:254px;
			}
		}
		.summary{
			h4{
				padding-left: 0;
				text-align: center;
				.line{
					left: 50%;
					margin-left: -35px;
				}
			}
			.row.container{
				padding: 0;
				div{
					padding: 0;
				}
			}
			.link{
				font-size: 15px;
			}
		}
		.amend-type{
			h5{
				font-size: 18px;
			}
			form{
				flex-wrap: wrap;
				padding: 0;
				.custom-radio{
					width: 100%;
					height: 132px;
					label{
						img{
							width: 69px;
						}
						h3{
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	.mobile-drop{
		margin-bottom: 32px;
		.dropdown{
			.dropdown-toggle{
				justify-content: flex-start;
				position: relative;
				background: #fff;
				border-radius: $border;
				border-color:$neutro400;
				color:$neutro400;
				img{
					filter:grayscale(100%);
					margin-right: 16px;
					width: 13px;
				}
				&:after{
					border:none;
					background: url(../img/angle_down_outlined.svg) no-repeat center;
					position: absolute;
					right: 0;
					top: 0;
					margin: 0;
				    width: 46px;
				    height: 46px;
				    background-size: 32px auto;
				}
				&[aria-expanded="true"]{
					background: #fff;
					border-radius: $border;
					border-color:$neutro400;
					color:$neutro400;
				}
			}
			.dropdown-menu{
				width: 100%;
			    margin: 1.125rem 0 0;
			    border:none;
				.dropdown-item{
					height: 48px;
					line-height: 40px;
					color:$neutro400;
					img{
						filter:grayscale(100%);
						margin-right: 16px;
						width: 13px;
					}
					&.active{
						background:none;
						color:$primary;
						img{
							filter:grayscale(0%);
						}
					}
				}
			}
		}
	}
}
#SocialSecurity{
	.modal-body{
		padding: 0;
	}
	h3{
		font-size: 24px;
		font-family: $titles;
		color:$neutro000;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		font-size: 16px;
		color: $neutro400;
		display: block;
		margin: 0 auto 24px;
		text-align: center;
	}
	form{
		max-width: 468px;
		.form-group{
			margin-bottom: 24px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.custom-date{
				.date-look{
					border: 1px solid $neutro300;
					border-radius: $border;
					padding-left: 16px;
					.ico{
						height: 40px;
						top: 2px;
						border-left:1px solid $neutro300;
					}
				}
			}
			.select.type1{
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			width: 48%;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
				background: url('../img/check_gray.svg') no-repeat center;
				background-size: 12px auto;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
		.director{
			background: $neutro200;
			padding-top: 24px;
			h4{
				width: 90%;
				display: block;
				max-width: 475px;
				margin: 0 auto 24px;
				text-align: center;
				padding-bottom: 20px;
				border-bottom:1px solid $neutro400;
			}
		}
		&.files{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tab-pane{
			align-items: stretch;
			justify-content: space-between;
			max-width: 636px;
			margin: 0 auto;
			flex-wrap: wrap;
			&.show{
				display: flex;
			}
		}
		.upload-file{
			background: $neutro100;
			border:1px dashed $neutro400;
			border-radius: $border2;
			padding: 24px;
			width: 32%;
			max-width: 450px;
			position: relative;
			h5{
				font-size: 18px;
				color:$neutro400;
				font-family: $titles;
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				font-size: 14px;
				color:$neutro400;
				text-align: center;
			}
			&.drop{
				border-color:$primary;
			}
			.state-empty{
				position: relative;
				z-index: 1;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				p{
					font-size: 12px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					strong{
						font-family: $titles;
						margin-right: 4px;
					}
					span{
						color:$primary;
					}
				}
				.btn-upload{
					border-color:$neutro200;
					color:$primary;
					margin: 0 auto;
					img{
						display: inline-block;
						margin: 0;
						margin-right: 16px;
					}
					&:hover{
						background: $primary;
						color:#fff;
						img{
							filter: brightness(10);
						}
					}
				}
				&.off{
					display: none;
				}
			}
			.state-charged{
				position: relative;
				z-index: 1;
				.doc{
					background: #fff;
					border:1px solid $neutro200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 16px;
					border-radius: 3px;
					position: relative;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 32px;
					}
					p.name{
						width: 100%;
						text-align: center;
						font-size: 11px;
						color:$neutro400;
						font-family: $titles;
						margin-bottom: 0;
					}
					.check{
						position: absolute;
						background: $exito200;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						top: -10px;
						right: -10px;
						img{
							width: 12px;
							margin: 0;
						}
					}
				}
				.actions{
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					.btn-ghost{
						width: auto;
						font-size: 15px;
						&.just-icon{}
					}
				}
				&.off{
					display: none;
				}
			}
			.drop-state{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $primary;
				color:#fff;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				border-radius: $border2;
				opacity: 0;
				z-index: 0;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				span{
					font-size: 21px;
					font-family: $titles;
					width: 100%;
					text-align: center;
				}
				&.active{
					opacity: 1;
					z-index: 3;
				}
			}
			&.double{
				width: 60%;
			}
			&.unique{
				width: 100%;
				max-width: inherit;
				justify-content: center;
			}
			.list{
				.custom-control.custom-radio.custom2{
					width: 100%;
					border:none;
					background-color: transparent;
					height: auto;
					label{
						height: auto;
						line-height: 1.2;
						color:$neutro400;
						&:before{
							top: 0;
						}
						&:after{
							top: 0;
						}
					}
				}
			}
		}
		.alert{
			display: flex;
			align-items: start;
			justify-content: flex-start;
			p{
				max-width: inherit;
				text-align: left;
				margin-left: 16px;
			}
		}
	}
	.nav-tabs{
		min-height: inherit;
		padding: 16px;
		background: none;
		justify-content: center;
		.nav-item{
			.nav-link{
				margin: 0 8px;
				padding: 0;
				height: auto;
				width: 210px;
				.custom-control.custom-radio.custom2{
					border:none;
					width: auto;
					label{
						padding-left: 16px;
					}
				}
				&.active{
					.custom-control.custom-radio.custom2{
						border:none;
						width: auto;
						label{
							&:before{
								background-color: $primary;
								border-color:$primary;
								background-image: url('../img/check.svg');
							}
							&:after{}
						}
					}
				}
			}
		}
	}
	.btn-4{
		margin-bottom: 28px;
	}
}
@media (max-width: 576px){
	#contract_detail{
		.detail{
			.top{
				margin-bottom: 16px;
				flex-wrap: wrap;
				padding-bottom: 0;
				h3{
					width: 100%;
				}
			}
			dl{
				margin-bottom: 0;
				dt{
					width: 100%;
				}
				dd{
					width: 100%;
				}
				&.gray{
					margin-bottom: 16px;
					dt, dd{
						width: 50%;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}