@import 'styles.scss';
@import 'platform.scss';
@import 'colores.scss';
.row.container{
	max-width: 1068px;
}
#dashboard-contractor{
	.row.container{
		max-width: 1068px;
	}
	.title{
		.empty-cards, .documents{
			width: 100%;
			height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 24px;
			span{
				display: inline-flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				h3{
					font-size: 32px;
					font-family: $titles;
					color:$neutro400;
					width: 100%;
					text-align: right;
				}
			}
			.btn-ghost{
				font-family: $titles;
				max-width: inherit;
				width: inherit;
				padding-right: 0;
			}
		}
	}
	.payment{
		p strong{
			font-size: 16px;
			font-family: $titles;
			color:$neutro;
			padding-left: 16px;
			margin-bottom: 24px;
		}
		.card-type{
			padding: 32px;
			position: relative;
			padding-top: 16px;
			padding-right: 16px;
			.actions{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			button{
				//position: absolute;
				right: 32px;
				top: 32px;
				width: 55px;
				height: 32px;
				border-radius: 2px;
				font-family: $titles;
				margin-left: 8px;
			}
			h5{
				font-size: 21px;
				font-family: $titles;
				color:$neutro000;
				margin-bottom: 8px;
			}
			.info{
				dl{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-bottom: 0;
					dt{
						font-size: 20px;
						font-family: $titles;
						color:$neutro000;
					}
					dd{
						font-size: 20px;
						color: $neutro;
						margin: 0;
						margin-left: 16px;
					}
				}
			}
		}
	}
	.main-control{
		margin-top: 24px;
		.row{
			display: flex;
			align-items: flex-end;
		}
		h5{
			color:$neutro800;
			font-family: $titles;
			margin-bottom: 16px;
			font-size: 16px;
			img{
				margin-right: 8px;
				width: 16px;
			}
			.dot{
				display: inline-flex;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				&.upcoming{
					background: $neutro300;
				}
				&.inProcess{
					background: #F29D42;
				}
				&.complete{
					background: #36CF82;
				}
			}
		}
		.moneyPending{
			padding: 24px;
			border-radius: $border2;
			background: $primary;
			color:#fff;
			min-height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap:wrap;
			p{
				font-size: 16px;
				font-family: $semi;
				width: 100%;
				text-align: center;
				color:#fff;
				margin-bottom: 0;
			}
			p.display2{
				font-family: $titles;
				font-size: 50px;
				line-height: 50px;
				margin-bottom: 8px;
			}
		}
		.action-btn{
			width: 145px;
			height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			align-content: center;
			span{
				width: 100%;
				margin-top: 16px;
			}
			&.disabled{
				box-shadow: none;
				background: transparent;
				border:1px solid $neutro300;
				cursor:no-drop;
				img{
					filter: grayscale(100%);
					opacity: 0.4;
				}
				span{
					color:$neutro300;
				}
			}
		}
	}
	.filters{
		margin-bottom: 40px;
		.card{
			padding: 0;
			background: none;
			border:none;
		}
	}
	.resume{
		padding: 0;
		padding-bottom: 40px;
		border-bottom: 1px solid $neutro400;
		margin-bottom: 32px;
		.pay_state{
			width: 100%;
			padding: 0;
			cursor:pointer;
			height: 100%;
			.card-type{
				padding: 24px;
				border:2px solid #fff;
				transition: all linear 300ms;
				margin-bottom: 16px;
				position: relative;
				width: 100%;
				z-index: 1;
				min-height: 102px;
				h5{
					color:$neutro800;
					font-family: $titles;
					margin-bottom: 16px;
					font-size: 16px;
					img{
						margin-right: 8px;
						width: 16px;
					}
					.dot{
						display: inline-flex;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						&.upcoming{
							background: $neutro300;
						}
						&.inProcess{
							background: #F29D42;
						}
						&.complete{
							background: #36CF82;
						}
					}
				}
				p.display3{
					font-size: 24px;
					color: $neutro400;
					font-family: $titles;
					font-weight: 700;
					padding-left: 32px;
					margin-bottom: 0;
					white-space: nowrap;
				}
				div.btn.btn-ghost{
					font-size: 14px;
					color:$neutro400;
					height: 40px;
					font-family: $semi;
					width: 50px;
					margin-top: 16px;
					img{
						margin-left: 4px;
					}
				}
			}
			
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				opacity: 0;
			}
			&:hover{
				.card-type{
					cursor: pointer;
					border:2px solid $primary;
					background: $primary100;
					p{
						color: $primary;
					}
				}
				
			}
			input:checked + label.card-type{
				cursor: pointer;
				border:2px solid $primary;
				background: $primary100;
				p{
					color: $primary !important;
				}
			}
		}
	}
	.begin{
		//margin-top: 40px;
		h3{
			font-size: 24px;
			color:$neutro000;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		overflow-y: auto;
		.container{
			width: 100%;
			max-width: inherit;
			min-width: 1000px;
			padding: 0;
			padding-top: 16px;
		}
		&.contractor-table{
			.thead{
				margin-bottom: 24px;
			}
			.tbody{
				.item{
					.card-header{
						background: none;
					}
				}
			}
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 56px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width:8%;
				min-width: 40px;
				padding-left: 0;
			}
			&:nth-child(2){
				width: 29%;
			}
			&:nth-child(3){
				width: 17%;
			}
			&:nth-child(4){
				width: 17%;
			}
			&:nth-child(5){
				width: 17%;
			}
			&:nth-child(6){
				width: 7%;
				min-width: 40px;
				padding-left: 0;
			}
			&:nth-child(7){
				width: 7%;
				min-width: 40px;
				padding-left: 0;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		border:none;
		margin: 0;
		.item{
			width: 100%;
			border:none;
			border-radius: 0;
			//border-bottom: 1px solid $neutro300;
			// padding-left: 16px;
			// padding-right: 16px;
			margin-bottom: 16px;
			padding: 0;
			overflow:inherit;
			.card-header{
				width: 100%;
				background: $neutro100;
				margin-bottom: 0;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-bottom: none;
			}
			.collapse{
				width: 100%;
				margin-bottom: 0;
			}
			.traceability{
				padding: 32px;
				border: none;
				box-shadow:none;
				background: none;
				border-radius: $border;
				position: relative;
				.process{
					margin-bottom: 24px;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					max-width: 849px;
					margin: 0 auto 24px;
					h5{
						font-size: 15px;
						font-family: $titles;
						color:$neutro000;
					}
					p.legal{
						font-size: 13px;
						color: $neutro400;
						letter-spacing: 0.5px;
						width: 100%;
						text-align: center;
						font-family: $semi;
						margin-bottom: 0;
						strong{
							font-family: $titles;
						}
					}
					.step{
						width: 247px;
						.payment-status{
							width: 100%;
							max-width: 196px;
							margin: 16px 0 auto;
							height: 38px;
							border-radius: $border;
							font-size: 15px;
							display: flex;
							align-items: center;
							justify-content: center;
							img{
								filter: brightness(6);
								width: 16px;
								display: none;
							}
							&.pending{
								border:1px solid $exito;
								color:$exito;
							}
							&.received{
								background: $exito;
								color:#fff;
								img{
									display: inline-flex;
									margin-right: 8px;
								}
							}
						}
					}
				}
				.timeline{
					position: relative;
					height: 32px;
					//margin-bottom: 24px;
					padding-top: 56px;
					padding-bottom: 40px;
				    max-width: 597px;
				    margin: 0 auto;
				    display: block;
					.line{
						width: 100%;
						height: 3px;
						background: $neutro300;
						position: relative;
						z-index: 1;
						left: inherit;
					    margin-left: 0;
					    top: inherit;
					}
					.line-active{
						height: 3px;
						background: $primary;
						position: relative;
						z-index: 2;
						&.first-step{
							width: 15%;
						}
						&.second-step{
							width: 50%;
						}
						&.third-step{
							width: 82%;
						}
						&.fourth-step{
							width: 100%;
						}
					}
					.stage{
						position: absolute;
						top: 0;
						z-index: 2;
						&.begin{
							left: -22px;
							.dot{
								top: 51px;
							}
						}
						&.end{
							right: -18px;
							top: 5px;
							img{
								width: 40px;
								opacity: 0.5;
							}
						}
						&.actually{
							left: 50%;
							top: 44px;
							width: 24px;
							height: 24px;
							border-radius: 50%;
							background: rgba(218,0,16,0.2);
							z-index: 3;
							&.first-step{
								left: 15%;
							}
							&.second-step{
								left: 50%;
							}
							&.third-step{
								left: 82%;
							}
							&.fourth-step{
								left: 97.5%;
							}
							.dot{
								top: 6px;
								left: 6px;
								background: $primary;
							}
						}
					}
					.dot{
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background: $neutro300;
					    position: absolute;
    					top: 47px;
						&.active{
							background: $primary;
						}
					}
				}
				.alert{
					&.alert-info{
						background: $neutro100;
						border:1px solid $neutro300;
						border-radius: $border;
						max-width: 691px;
						margin: 24px auto;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 16px;
						}
						p{
							margin: 0;
							font-size: 14px;
							font-family: $titles;
							color:$neutro000;
							span{
								color:$primary;
							}
						}
					}
				}
				.table.table-striped{
					max-width: 900px;
					margin: 0 auto;
					display: table;
					th{
						font-size: 16px;
						color:$neutro800;
						font-family: $titles;
						border: none;
						background: $neutro100;
					}
					td{
						color:$neutro400;
						font-size: 16px;
						font-family: $text;
						border: none;
					}
					tr:nth-of-type(odd){
						background: transparent;
					}
					tr:nth-of-type(even){
						background: $neutro100;
					}
				}
				tr.resumen{
					background: transparent !important;
					td{
						padding: 6px;
						&:first-child{
							font-size: 16px;
							font-family: $titles;
							color:$neutro900;
							text-align: right;
						}
						&:last-child{
							color:$neutro;
							font-size: 16px;
							font-family: $text;
							width: 20%;
						}
					}
					&:first-child{
						td{
							border-top:1px solid $neutro400;
						}
					}
					&:last-child{
						td:last-child{
							font-size: 18px;
							color:$neutro900;
							font-family: $titles;
						}
					}
				}
			}
			.td{
				padding: 8px;
				height: 56px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro400;
				font-size: 14px;
				&:first-child{
					width:7%;
					min-width: 40px;
					padding-left: 0;
				}
				&:nth-child(2){
					width: 30%;
					flex-wrap: wrap;
					p{
						font-size: 14px;
						color:$neutro400;
						margin-bottom: 0;
						width: 100%;
					}
				}
				&:nth-child(3){
					width: 17%;
				}
				&:nth-child(4){
					width: 17%;
				}
				&:nth-child(5){
					width: 17%;
				}
				&:nth-child(6){
					width: 7%;
					min-width: 40px;
					padding-left: 0;
				}
				&:nth-child(7){
					width: 7%;
					min-width: 40px;
					padding-left: 0;
				}
				.method{
					width: 58px;
					height: 58px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $neutro100;
					&.payoneer{
						background: rgba(242, 157, 66, 0.2);
					}
					&.paypal{
						background: rgba(5, 148, 205, 0.08);
					}
				}
				p.display2{
					color:$primary;
					font-size: 24px;
					font-family: $titles;
				}
				h4{
					font-size: 20px;
					color:$neutro000;
					width: 100%;
					margin-bottom: 0;
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: 100%;
					max-width: 110px;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.inProcess{
						background: $alerta100;
						color:$alerta;
					}
					&.complete{
						background: rgba(54, 207, 130, 0.18);
						color:#36CF82;
					}
					&.pending{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							//transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
	.payment-cards{
		padding: 24px;
		.payment-card{
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding: 16px;
				margin-bottom: 16px;
				min-height: 40px;
				height: auto;
				position: relative;
				z-index: 2;
				&:last-child{
					margin-bottom: 0;
				}
				dt{
					width: 40%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 60%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
					.upload{
						background: none;
						border:none;
						width: 56px;
						height: 40px;
						font-size: 12px;
						color:$neutro400;
						font-family: $titles;
						flex-wrap: wrap;
						img{
							width: 24px;
						}
					}
					.method{
						width: 36px;
						height: 36px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: $neutro100;
						margin-right: 12px;
						img{
							width: 24px;
						}
						&.payoneer{
							background: rgba(242, 157, 66, 0.2);
						}
						&.paypal{
							background: rgba(5, 148, 205, 0.08);
						}
					}
					p{
						display: inline-flex;
						margin-bottom: 0;
						width: calc(100% - 50px);
						flex-wrap: wrap;
						color:$neutro000;
						font-family: $titles;
						font-size: 12px;
						small{
							font-size: 10px;
							color:$neutro400;
							font-family: $text;
						}
					}
				}
				.badge{
					height: 22px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: auto;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.opener{
					height: 33px;
					padding: 0;
				}
			}
			.traceability{
				position: relative;
				z-index: 1;
				padding-top: 56px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
				top: -7px;
				.process{
					h5{
						font-size: 15px;
						font-family: $titles;
						color:$neutro000;
					}
					p.legal{
						font-size: 13px;
						color: $neutro400;
						letter-spacing: 0.5px;
						width: 100%;
						text-align: center;
						font-family: $semi;
						margin-bottom: 0;
						strong{
							font-family: $titles;
						}
					}
					
				}
				.timeline{
					position: relative;
					width: 100%;
					//margin-bottom: 24px;
					height: auto;
				    display: inline-block;
				    margin: 0 auto;
				    padding: 0 40px;
					.line{
						height: 60%;
						width: 3px;
						background: $neutro300;
						position: absolute;
						z-index: 1;
						left: 60px;
					    margin-left: 0;
					    top: inherit;
					}
					.line-active{
						width: 3px;
						background: $primary;
						position: relative;
						z-index: 2;
						position: absolute;
						&.first-step{
							height: 15%;
						}
						&.second-step{
							height: 50%;
						}
						&.third-step{
							height: 82%;
						}
						&.fourth-step{
							height: 100%;
						}
					}
					.stage{
						position: relative;
						z-index: 2;
						width: 100%;
						padding-left: 48px;
						img{
							position: absolute;
							left: -20px;
						}
						&.begin{
						    left: 0;
						    top: -16px;
							.dot{
								top: 5px;
							}
							img{
								width: 32px;
							}
						}
						&.end{
							margin-top: 40px;
							img{
								width: 29px;
								opacity: 0.5;
							}
							.dot{
								top: 8px;
							}
						}
						&.actually{
						    left:50px;
    						top: 21px;
							width: 24px;
							height: 24px;
							border-radius: 50%;
							background: rgba(218,0,16,0.2);
							z-index: 3;
							padding: 0;
							position: absolute;
							&.first-step{
								left: 15%;
							}
							&.second-step{
								left: 50%;
							}
							&.third-step{
								left: 82%;
							}
							&.fourth-step{
								left: 97.5%;
							}
							.dot{
								top: 6px;
								left: 6px;
								background: $primary;
							}
						}
						.step{
							width: 100%;
							max-width: 180px;
							.payment-status{
								width: 100%;
								max-width: 196px;
								margin: 0 auto;
								height: 38px;
								border-radius: $border;
								font-size: 12px;
								display: flex;
								align-items: center;
								justify-content: center;
								img{
									filter: brightness(6);
									width: 16px;
									display: none;
								}
								&.pending{
									border:1px solid $exito;
									color:$exito;
								}
								&.received{
									background: $exito;
									color:#fff;
									img{
										display: inline-flex;
										margin-right: 8px;
									}
								}
							}
						}
					}
					.dot{
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background: $neutro300;
					    position: absolute;
    					//top: 47px;
    					left: 15px;
						&.active{
							background: $primary;
						}
					}
				}
				.alert{
					width: 90%;
					margin: 0 auto;
					&.alert-info{
						background: $neutro100;
						border:1px solid $neutro300;
						border-radius: $border;
						max-width: 691px;
						margin: 24px auto;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 16px;
						}
						p{
							margin: 0;
							font-size: 14px;
							font-family: $titles;
							color:$neutro000;
							span{
								color:$primary;
							}
						}
					}
				}
			}
		}
	}
	.empty_state{
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			border: 2px dashed $neutro600;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 100%;
			// height: 90%;
			// max-height: 392px;
			min-height: 315px;
			padding: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: $neutro100;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
}

#dashboard-client{
	padding-bottom: 48px;
	.row.container{
		max-width: 1300px;
	    display: flex;
	    align-items: stretch;
	    flex-wrap: wrap;
	}
	h4.legend{
		font-size: 20px;
		color:$neutro600;
	}
	.first-level{
		margin-bottom: 32px;
		.col-lg-9{
			.row{
				display: flex;
				align-items: stretch;
				justify-content: space-between;
			}
		}
		.tarjeta{
			padding: 24px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			h5{
				width: 100%;
				font-size: 20px;
				color:$neutro400;
				margin-bottom: 16px;
			}
			h3{
				color:$neutro600;
				font-size: 40px;
				margin-bottom: 16px;
			}
			.pay{
				font-size: 18px;
				color:$neutro300;
				img{
					margin-right: 8px;
				}
			}
			.btn-ghost{
				width: auto;
				font-family: $titles;
			}
			&.setup{
				img{
					width: 80px;
					margin-right: 16px;
				}
				h3{
					display: inline-flex;
					width: calc(100% - 104px);
					font-size: 27px;
					color:$neutro400;
				}
				.btn-outline{
					margin: 0 auto;
					margin-top: 16px;
				}
			}
		}
		.teams{
			width: 100%;
			margin-top: 8px;
			h4{
				margin-bottom: 16px;
			}
			.team{
				width: 100%;
				.current{
					height: 71px;
					width: 100%;
					padding: 8px;
					padding-left: 16px;
					display: flex;
					align-items: center;
					img{
						width: 32px;
						margin-right: 16px;
					}
					span{
						width: calc(100% - 88px);
					}
					.dropdown{
						
						.dropdown-toggle.btn-ghost{
							width: 48px;
							height: 48px;
							margin: 0;
							padding: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							border-left:1px solid $neutro300;
							img{
								//transform: rotate(180deg);
								margin: 0;
								width: 22px;
							}
							&.collapsed{
								img{
									transform: rotate(180deg);
								}
							}
						}
						.dropdown-menu{
							border:none;
							.dropdown-item{
								//border-bottom: 1px solid $neutro200;
							    height: 40px;
							    line-height: 40px;
							    padding-left: 8px;
							    font-size: 14px;
							    padding: 0 16px;
								img{
									margin-right: 8px;
									width: 16px;
								}
								&:last-child{
									border:none;
									border-top: 1px solid $neutro300;
									color:$neutro400;
									img{
										width: 16px;
										filter:grayscale(100%);
										opacity: 0.5;
									}
								}
							}
							.dropdown-item.active, .dropdown-item:active{
								background: none;
							}
							.custom-control-input:checked~.custom-control-label::before{
								background-color: $primary;
								border-color:$primary300;
								border:none;
							}
						}
					}
				}
			}
		}
	}
	.second-level{
		.graphic{
			position: relative;
			min-height: 100px;
			margin-bottom: 32px;
			padding: 24px;
			.dropdown{
				position: absolute;
				right: 4px;
				top: 4px;
				.dropdown-toggle.btn-ghost{
					width: 40px;
					height: 40px;
					padding: 0;
					img{
						transform: rotate(180deg);
						width: 4px;
						margin: 0;
					}
					&.collapsed{
						img{
							transform: rotate(0deg);
						}
					}
				}
				.dropdown-menu{
					border:none;
					.dropdown-item{
						//border-bottom: 1px solid $neutro200;
						height: 40px;
						line-height: 40px;
						padding-left: 8px;
						font-size: 14px;
						padding: 0px 16px;
						img{
							margin-right: 8px;
							width: 16px;
							filter: grayscale(100%);
						}
					}
					.dropdown-item.active, .dropdown-item:active{
						background: none;
					}
					.custom-control-input:checked~.custom-control-label::before{
						background-color: $primary;
						border-color:$primary300;
						border:none;
					}
				}
			}
		}
		.time-off{
			background: $primary100;
			border:2px solid $primary;
			box-shadow: none;
			border-radius: 17px;
			padding: 24px;
			display: inline-flex;
		    justify-content: center;
		    align-content: space-between;
		    flex-wrap: wrap;
		    max-width: 242px;
		    h4{
		    	width: 100%;
		    	text-align: center;
		    	font-size: 25px;
		    	line-height:36px;
		    	color:$neutro600;
		    }
		    button{
		       max-width: 160px;
		    }
		}
		.contracts{
			.list{
				padding-top: 16px;
				padding-bottom: 16px;
				text-align: right;
				display: flex;
			    align-items: center;
			    justify-content: flex-end;
			    flex-wrap: wrap;
				.btn-ghost{
					font-size: 14px;
					width: auto;
					padding-right: 40px;
				}
				ul{
					list-style-type: none;
					padding: 0;
					width: 100%;
					margin-bottom: 0;
					li{
						display: flex;
						align-items: center;
						justify-content: center;
						padding-left: 16px;
						margin-bottom: 24px;
						padding-right: 8px;
						&:last-child{
							margin-bottom: 0;
						}
						img{
							width: 40px;
							height: 40px;
							margin-right: 16px;
						}
						.info{
							width: calc(100% - 80px);
							h5{
								font-size: 14px;
								color:$neutro000;
								font-family: $semi;
								text-align: left;
								margin-bottom: 0;
							}
							p{
								font-size: 12px;
								color:$neutro400;
								margin-bottom: 0;
								text-align: left;
							}
						}
						.dropdown{
							
							.dropdown-toggle.btn-ghost{
								width: 40px;
								height: 40px;
								padding: 0;
								img{
									transform: rotate(180deg);
									width: 4px;
									margin: 0;
								}
								&.collapsed{
									img{
										transform: rotate(0deg);
									}
								}
							}
							.dropdown-menu{
								border:none;
								.dropdown-item{
									//border-bottom: 1px solid $neutro200;
									height: 40px;
									line-height: 40px;
									padding-left: 8px;
									font-size: 14px;
									padding: 0px 16px;
									img{
										margin-right: 8px;
										width: 16px;
										filter: grayscale(100%);
									}
								}
								.dropdown-item.active, .dropdown-item:active{
									background: none;
								}
								.custom-control-input:checked~.custom-control-label::before{
									background-color: $primary;
									border-color:$primary300;
									border:none;
								}
							}
						}
					}
				}
				.btn-ghost.primary{
					font-family: $titles;
					justify-content: center;
					padding: 0;
				}
			}
		}
	}
}
#timeOffSetting{
	form{
		max-width: 500px;
	}
	.range-bar{
		padding: 0;
		padding-bottom: 40px;
		position: relative;
		label{
			font-size: 16px;
			color:$neutro400;
			font-family: $titles;
			width: 100%;
			text-align: center;
		}
	}
	.marks{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		span{
			//width: 100%;
			font-family: $titles;
			color:$neutro400;
			font-size: 16px;
			&.zeroP{
				color: $primary;
			}
			&.p25{
				text-align: center;
			}
			&.p50{
				text-align: center;
			}
			&.p75{
				text-align: center;
			}
			&.p100{
				text-align: right;
			}
		}
	}
}
@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	#dashboard-contractor{
		#top{
			h2{
				font-size: 32px;
			}
		}
		.title{
			.empty-cards{
				margin-bottom: 24px;
				padding: 0 24px;
				img{
					width: 48px;
				}
				span{
					h3{
						font-size: 20px;
						margin-bottom: 0;
					}
					.btn-ghost{
						img{
							width: 6px;
						}
					}
				}
			}
		}
		.card-type.mb-4.mt-4{
			width: 90%;
			margin: 0 auto;
			padding: 24px !important;
		}
	}
	#dashboard-client{
		.first-level{
		    flex-direction: column-reverse;
			.col-md-6{
				margin-bottom: 16px;
			}
			.tarjeta{
				&.setup{
					h3{
						font-size: 22px;
						margin-bottom: 0;
					}
				}
				&.paid{
					.w100{
						flex-wrap: wrap;
					}
				}
			}
			.teams{
				margin-bottom: 24px;
				margin-top: 24px;
			}
		}
		.second-level{
		    flex-direction: column-reverse;
		    .contracts{
		    	margin-bottom: 24px;
		    }
		    .time-off{
		    	border:none;
		    	padding: 0;
		    }
		}
	}
	
}
@media (max-width: 576px){
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}