@import 'styles.scss';
@import 'platform.scss';

.row.container{
	max-width: 1440px;
}
#extraPays{
	.title{
		h2{
			width: 100%;
			text-align: center;
		}
	}
	.commission-type{
		form{
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
		}
		.custom-radio{
			width: 46%;
			position: relative;
			height: 186px;
			margin: 16px;
			input{
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 100%;
				//display: flex;
				display: grid;
				align-items: center;
				flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				border-radius: $border2;
				box-shadow: $sombra16;
				background: #fff;
				padding: 20px;
				img{
					width: 57px;
					display: block;
					margin: 0 auto;
				}
				h3{
					color:$neutro600;
					font-size: 20px;
					//margin-left: 24px;
					width: 100%;
					text-align: center;
					font-family: $text;
				}
				.line{
					width: 100%;
					max-width: 102px;
					height: 3px;
					background:$neutro300;
					margin: 16px auto; 
					display: block;
				}
			}
			input:checked + label{
				background: $primary100;
				border:2px solid $primary;
				box-shadow: none;
				h3{
					color:$primary;
				}
				.line{
					background: $primary;
				}
				p{
					color:$neutro600;
				}
			}
			input:disabled + label{
				background: $primary100;
				border:1px solid $neutro300;
				img{
					opacity: 0.5;
				}
				h3{
					color:$neutro300;
				}
				.line{
					background: $neutro300;
				}
				p{
					color:$neutro300;
				}
			}
		}
	}
	.empty_state{
		width: 100%;
		max-width: 534px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin:0 auto;
		padding: 32px 24px;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: auto;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 17%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 17%;
				}
				&:nth-child(4){
					width: 17%;
				}
				&:nth-child(5){
					width: 17%;
				}
				&:nth-child(6){
					width: 17%;
				}
				&:nth-child(7){
					width: 7%;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 17%;
					}
					&:nth-child(3){
						width: 17%;
					}
					&:nth-child(4){
						width: 17%;
					}
					&:nth-child(5){
						width: 17%;
					}
					&:nth-child(6){
						width: 17%;
					}
					&:nth-child(7){
						width: 7%;
						img{
							margin: 0;
						}
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								width: auto;
								img{
									margin-right: 8px;
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.active{
							background: $exito100;
							color:$exito;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				}
			}
		}
	}
}
#addExtraPay, #extraPayContractor{
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				flex-wrap: wrap;
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
				h5{
					font-size: 18px;
					color:$neutro400;
					width: 100%;
					margin-bottom: 0px;
					font-family: $text;
					text-align: center;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
					.contractor-list{
						background:#fff;
						border-radius: 10px;
						border:1px solid $neutro300;
						padding: 16px;
						height: 60vh;
						max-height: 388px;
						overflow: auto;
						margin-bottom: 32px;
						.contractor{
							width: 100%;
							border-bottom: 1px solid $neutro200;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							padding: 16px;
							margin-bottom: 0;
							.form-check.custom{
								margin-right: 16px;
								img{
									width: 8px !important;
								}
							}
							img{
								width: 40px;
								margin-right: 16px;
							}
							p{
								margin-bottom: 0;
								font-size: 14px;
								color:$neutro;
								text-align: left;
								width: calc(100% - 96px);
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
#extraPayAdded, #extraPayDeleted{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
			}
		}
	}
}
#deleteExtraPay{
	h4{
		text-align: center;
		margin-bottom: 32px;
	}
	.modal-body{
		padding-top: 0;
		padding-bottom: 56px;
	}
	.actions{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 200px;
		margin: 0 auto;
		a{
			width: 102px;
			font-size: 20px;
		}
		button{
			width: 102px;
			font-size: 20px;
			margin: 8px;
		}
	}
}
@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	
	
}
@media (max-width: 576px){
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}