@import 'styles.scss';

#main-banner{
	width: 100%;
	min-height: 472px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 64px 0;
	padding-bottom: 0;
	overflow: hidden;
	border-bottom: 1px solid $neutro200;
	h4{
		margin-bottom: 40px;
		span{
			color:$primary;
		}
	}
	h2{
		margin-bottom: 40px;
	}
	.banner-image{
		width: 40%;
		position: absolute;
		right: 0;
		top: 0;
		overflow: hidden;
		height: 472px;
	    display: flex;
	    align-items: flex-end;
	    justify-content: flex-start;
		img{
			//height: 450px;
			width: 100%;
			max-width: 573px;
		}
	}
}
#howDoI{
	padding:56px 0;
	h3{}
	ul{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		list-style-type: none;
		flex-wrap: wrap;
		margin-top: 40px;
		padding: 0;
		li{
		    margin-left: 24px;
		    display: inline-flex;
		    align-items: center;
			img{
				margin-right: 16px;
			}
			span{
				font-size: 24px;
				color: $neutro700;
			}
		}
	}
}
#onBoarding{
	padding:56px 0 0;
	position: relative;
	z-index: 3;
	.bg{
		position: absolute;
		top:0;
		right: 0;
		width: 100%;
		height: calc(100% - 110px);
		background: $neutro100;
		z-index: 1;
	}
	.row.container{
		position: relative;
		z-index: 2;
	}
	h3{
		margin-bottom: 40px;
	}
	.onBoarding{
		width: 100%;
		.row{
			width: 100%;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			margin: 0;
		}
		.step{
			max-width: 288px;
			height: 100%;
			min-height: 254px;
			padding: 24px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		    width: 30%;
			img{
				margin-bottom: 16px;
			}
			h5{
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				width: 100%;
				text-align: center;
			}
		}
	}
}
#everything{
	position: relative;
	z-index: 2;
	margin-top: -7rem;
	.image{
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;
		background:url('../img/everything-you-need.png') no-repeat;
		background-size: cover;
		background-position: center right;
		// display: flex;
		// align-items: flex-start;
		// justify-content: flex-end;
		// overflow: hidden;
		// z-index: 1;
		img{
			width: 100%;
		}
	}
	.right_side_bg{
		width: 50%;
		background:$primary;
		height: 100%;
		right: 0;
		position: absolute;
		z-index: 1;
	}
	.row.container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap:wrap;
		padding:10rem 0 56px;
		.left_side{
			display: inline-flex;
			justify-content: flex-start;
			align-content: flex-end;
			position: relative;
		}
		.right_side{
			padding-left: 40px;
		}
	}
	h4{
		font-weight: 700;
		color:#fff;
		line-height: 40px;
	    position: absolute;
	    left: 16px;
	    bottom: 0;
	    z-index: 2;
		span{
			font-weight: 400;
		}
	}
	h3{
		color:#fff;
		margin-bottom: 40px;
	}
	.item{
		text-align: left;
		margin-bottom: 24px;
		img{
			max-width: 96px;
			margin-bottom: 8px;
		}
		h5{
			width: 100%;
			text-align: left;
			font-weight: 500;
			font-size: 18px;
			color:#fff;	
		}
	}
}
#media{
	background:$neutro100;
	padding: 56px 0 96px;
	h3{
		margin-bottom: 40px;
		width: 100%;
		text-align: center;
	}
	.media{
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-content: center;
		.logo{
			max-width: 288px;
			img{
				width: 100%;
				-webkit-filter: grayscale(1);
  				filter: grayscale(1);
  				transition: linear all 300ms;
			}
			&:hover{
				img{
					-webkit-filter: grayscale(0);
  					filter: grayscale(0);
				}
			}
		}
	}
}
#remote{
	padding: 56px 0;
	position: relative;
	z-index: 3;
	margin-top: -8rem;
	.row.container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	h3{
		font-size: 40px;
		line-height: 56px;
		color:$neutro800;
		margin-bottom: 40px;
		width: 100%;
	}
	h4{
		font-size: 32px;
		line-height: 40px;
		color:$primary;
		font-weight: 700;
		width: 100%;
		margin-bottom: 32px;
	}
	h5{
		font-size: 24px;
		line-height: 32px;
		color:$neutro700;
		font-weight: 400;
		width: 100%;
		margin-bottom: 32px;
	}
	.left_side{
		display: inline-flex;
		justify-content: flex-start;
		align-content: center;
		flex-wrap:wrap;
	}
	.phone{
		justify-content: center;
		display: inline-flex;
		img{}
	}
}
#future{
	padding: 56px 0;
	position: relative;
	z-index: 2;
	margin-top: -8rem;
	h3{
		font-size: 40px;
		line-height: 56px;
		margin-bottom: 48px;
	}
	.bg{
		position: absolute;
		top:0;
		right: 0;
		width: 100%;
		height: calc(100% - 110px);
		background: $neutro100;
		z-index: 1;
	}
	.row.container{
		position: relative;
		z-index: 2;
		.transition{
			width: 100%;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			margin: 0;
		}
		.step{
			height: 100%;
		    min-height: 264px;
		    padding: 32px;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    flex-wrap: wrap;
		    width: 100%;
			img{
				margin-bottom: 16px;
			}
			h5{
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				width: 100%;
				text-align: center;
			}
		}
	}
}
#testimonials{
	padding:56px 0;
	position: relative;
	z-index: 1;
	.bg{
		position: absolute;
		bottom:0;
		right: 0;
		width: 100%;
		height: calc(100% + 112px);
		background: $primary;
		z-index: 1;
	}
	.row.container{
		position: relative;
		z-index: 2;
	}
	h3{
		color:#fff;
		width: 100%;
		margin-bottom: 48px;
		text-align: center;
	}
	.carousel{
		padding-top: 48px;
		width: 100%;
		.carousel-indicators{
			li{
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}
		}
		.carousel-inner{
			margin:24px auto;
			margin-bottom: 40px;
			.carousel-item{
				.carousel-caption{
					position: relative;
					left: 0;
					right: 0;
					h5{
						color:#fff;
						margin-bottom: 40px;
						line-height: 1.5;
					}
					p{
						color: #fff;
						img{
							-webkit-filter: brightness(10);
							filter: brightness(10);
						}
					}
				}
			}
		}
	}
}
#schedule{
	padding:56px 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
	h3{
		font-size: 40px;
		line-height: 56px;
		margin-bottom: 48px;
		color:$primary;
		max-width: 500px;
	}
	p{
		margin-bottom: 40px;
		font-size: 18px;
	}
	.schedule-frame{
		width: 100%;
		height: 400px;
		background:$neutro400;
	}
}
#clients{
	padding:56px 0;
	position: relative;
	z-index: 2;
	h3{
		color:$primary;
		margin-bottom: 40px;
	}
	.clients{
		.client{
			max-width: 140px;
			display: inline-flex;
			align-items: center;
    		justify-content: center;
			img{
				width: 100%;
				max-width: 150px;
				-webkit-filter: grayscale(1);
  				filter: grayscale(1);
			}
		}
	}
}
#ease{
	position: relative;
	z-index: 2;
	.image{
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;
		background:url('../img/ease-of-mind.png') no-repeat;
		background-size: cover;
		background-position: center right;
		// display: flex;
		// align-items: flex-start;
		// justify-content: flex-end;
		// overflow: hidden;
		// z-index: 1;
		img{
			width: 100%;
		}
	}
	.right_side_bg{
		width: 50%;
		background:$primary;
		height: 100%;
		right: 0;
		position: absolute;
		z-index: 1;
	}
	.row.container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap:wrap;
		position: relative;
		z-index: 2;
		padding:56px 0;
		.left_side{
			position: relative;
			height: 488px;
		}
		.right_side{
			padding-left: 40px;
			display: inline-flex;
			justify-content: flex-start;
			align-content: center;
			flex-wrap:wrap;
		}
	}
	h3{
		font-size: 40px;
		line-height: 56px;
		color:#fff;
		font-weight: 400;
	}
}
#pricing{
	padding:56px 0;
	position: relative;
	z-index: 2;
	.bg{
		position: absolute;
		top:0;
		right: 0;
		width: 100%;
		height: calc(100% - 100px);
		background: $neutro100;
		z-index: 1;
	}
	.row.container{
		position: relative;
		z-index: 2;
	}
	h3{
		margin-bottom: 40px;
	}
	.plan{
		padding: 24px;
		.row{
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		p small{
			color:$neutro900;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 16px;
			font-weight: 700;
		}
		.price{
			font-size: 56px;
			font-weight: 700;
			margin-bottom: 8px;
			color:$primary;
		}
		h5{
			margin-bottom: 16px;
			font-weight: 400;
		}
		p.legal{
			color:$neutro;
		}
		.btn-outline{
			max-width: 150px;
		}
	}
}
#thinkNhire{
	padding:56px 0;
	position: relative;
	z-index: 2;
	.row.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	h3{
		margin-bottom: 32px;
	}
	p{
		margin-bottom: 24px;
	}
}
#process{
	padding:56px 0;
	position: relative;
	z-index: 2;
	p.subtitle{
		font-size: 14px;
		text-transform: uppercase;
		color:$neutro;
		font-weight: 700;
		margin-bottom: 16px;
	}
	h3{
		span{
			color:$primary;
		}
	}
	.process{
		position: relative;
		z-index: 2;
		margin-top: 40px;
		.row{
			.step{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				padding: 32px 8px;
				position: relative;
				z-index: 2;
				img{
					display: block;
					margin:0 auto 16px;
				}
				.dot{
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background: $neutro900;
					display: block;
					margin: 0 auto 8px;
				}
				h5{
					font-weight: 500;
					width: 100%;
					text-align: center;
					margin: 0;
					font-size: 18px;
					//margin-top: 16px;
				}
				.row{
					width: 100%;
					margin: 0;
				}
			}
		}
	}
	.line{
	    width: 74%;
	    border-bottom: 2px dashed #C2BBBB;
	    margin: 0 auto;
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    margin-left: -37%;
	    bottom: 69px;
	}
	.line1{
	    width: 50%;
	    border-bottom: 2px dashed #C2BBBB;
	    margin: 0 auto;
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    margin-left: -25%;
	    top: 135px;
	}
	.line2{
		width: 50%;
	    border-bottom: 2px dashed #C2BBBB;
	    margin: 0 auto;
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    margin-left: -25%;
	    bottom: 69px;
	}
	.line3{
		width: 1px;
	    height: 75%;
	    border-left: 2px dashed #C2BBBB;
	    position: absolute;
	    z-index: 1;
	    left: 22px;
	    top: 69px;
	}
}
#rockstar{
	background: $neutro900;
	padding:56px 0;
	position: relative;
	z-index: 2;
	h3{
		color:#fff;
		font-weight: 400;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.manita{
		position: relative;
		img{
			position: absolute;
			right:0;
			top:50%;
			margin-top: -127px;
		}
	}
}
section.legal{
	padding: 72px 0 56px;
	h2{
		width: 100%;
		color: $neutro900;
	}
	h4{
		width: 100%;
		font-weight: 600;
		color:$neutro700;
	}
	p{
		line-height: 24px;
	}
}
section.faq{
	padding: 56px 0;
	h2{
		width: 100%;
	}
	p{
		width: 100%;
		margin-bottom: 40px;
	}
	h4{
		margin-bottom: 40px;
		color:$neutro900;
		font-size: 32px;
		width: 100%;
		font-weight: 700;
	}
	h5{
		margin-bottom: 32px;
		font-size: 20px;
		color:$primary;
		font-weight: 500;
		margin-top:24px;
	}
	.accordion{
		margin-bottom: 48px;
		width: 100%;
		.card{
			.card-header{
				background: $neutro100;
				.btn-link{
					justify-content: flex-start;
					text-transform: none;
					font-size: 18px;
					font-weight: 500;
					color:$neutro800;
					min-height: 48px;
					height: auto;
				    padding-left: 0;
    				padding-right: 24px;
					&::after{
						content: '-';
						position: absolute;
					    right: 24px;
					    font-size: 18px;
					    font-weight: 700;
					    color:$primary;
					}
					&.collapsed{
						&::after{
							content: '+';
						}
					}
				}
			}
			.card-body{
				color:$neutro600;
			}
			.collapse{}
		}
	}
}

@media (max-width: 1200px){
	
}
@media (max-width: 992px){
	#onBoarding{
		.onBoarding{
			.step{
				width: 32%;
				min-height: 294px;
			}
		}
	}
	#testimonials{
		h3{
			margin-bottom: 32px;
		}
		.carousel{
			padding-top: 32px;
		}
	}
	#everything{
		.image{
			background-position: 61%;
		}
	}
	#ease{
		.image{
			background-position: 61%;
		}
	}
}
@media (max-width: 766px) {
	#onBoarding{
		.onBoarding{
			.step{
			    width: 100%;
			    max-width: 550px;
			    min-height: inherit;
			    justify-content: flex-start;
			    margin-bottom: 24px;
			    img{
					margin: 0;
					margin-bottom: 0;
					margin-right: 24px;
				}
			}
			.text{
				width: calc(100% - 104px);
				h5, p{
					text-align: left;
				}
				p{
					margin: 0;
				}
			}
		}
	}
	#everything{
		.row.container{
			width: 100%;
			background: $primary;
			padding-bottom: 0;
		}
		.left_side{
			img{
				width: 100%;
			}
		}
		.righ-side{
			background: $primary;
		}
	}
	#remote{
		margin-top: 0;
		padding-bottom: 0;
		.left_side{
			margin-bottom: 48px;
		}
	}
	#future{
		margin-top: 0;
		.row.container{
			.transition{
				justify-content: space-around;
				.col-sm-6{
					margin-bottom: 24px;
				}
			}
		}
	}
	#schedule{
		.schedule-frame{
			margin-bottom: 48px;
		}
		img{
			width: 100%;
		}
	}
	#ease{
		.row.container{
			padding-top: 0;
			width: 100%;
			background: $primary;
			.left_side{
				height: auto;
				img{
					width: calc(100% + 30px);
					margin-left:-15px;
					margin-right:-15px;
				}
			}
			.right_side{
				padding-top: 48px;
			}
		}

	}
}
@media (max-width: 576px){
	#onBoarding{}
	#process{
		.process{
			.row{
				.step{
				    position: relative;
				    padding: 24px;
				    align-items: center;
				    justify-content: flex-start;
				    img{
			    	    height: 72px;
				    }
					.row{
						width: auto;
					    margin-right: 24px;
					    margin-left: 24px;
					}
					.dot{
					    position: absolute;
					    left: 0;
					    top: 50%;
					    margin: 0;
					    margin-top: -8px;
					}
					h5{
					    width: calc(100% - 142px);
					    text-align: left;
					}
				}
			}
		}
		
	}
	section{
		h2{
			line-height: 40px !important;
		}
		h3{
			font-size: 24px !important;
			line-height: 32px !important;
		}
		h4{
			font-size: 20px !important;
			line-height: 24px !important;
		}
		h5{
			font-size: 18px !important;
			line-height: 22px !important;
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	#main-banner{
		.row.container{
			.col-lg-7{
				width: 100%;
				flex:100%;
			    max-width: inherit;
			}
			.col-md-5{
				width: 100%;
				flex:100%;
			    max-width: inherit;
				img{
					display: block !important;
				}
			}
		}
		.banner-image{
			display: none !important;
		}
	}
	#onBoarding{
		.onBoarding{
			.step{
				width: 32%;
				min-height: 294px;
			}
		}
	}

}