@import 'styles.scss';


#login{
	padding:40px 0 0 0;
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    section{
    	width: 100%;
    }
	h2{
		margin-bottom: 48px;
		font-size: 40px;
	}
	form{}
	.register-banner{
		background: #fafafa;
		padding: 24px 16px;
		position: relative;
		z-index: 4;
		p{
			color:$neutro;
			margin-bottom: 0;
			strong{
				font-weight: 500;
			}
		}
		.row{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.pre-footer{
		position: absolute;
		bottom: 37px;
		z-index: 3;
	}
}
@media (max-width: 1200px){
	
}
@media (max-width: 992px){
	
}
@media (max-width: 766px) {
	
}
@media (max-width: 576px){
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}