@import 'colores.scss';
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    overflow: hidden;
}
.logo{
    img{
        align-items: center;
        justify-content: center;
        width: 577px;
        height: 37px;
    }
}
img{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}
h2{
    font-size: 32px;
    color:#000;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;

}
p{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color:$neutro400;
}
@media (max-width: 767px){
    img{
        max-width: 571px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
@media (max-width: 576px){
    img{
        max-width: 350px;
    }
    h2{
        font-size: 24px;
        text-align: center;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
}

