@import 'styles.scss';
@import 'platform.scss';

.row.container{
	max-width: 1440px;
}
aside{
	width: 366px;
	position: fixed;
	left: 0;
	top: 0;
	height: calc(100vh - 40px);
	background: $primary;
	padding: 48px;
	h1{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-top: 72px;
	}
	h2{
		font-size: 30px;
		font-family: $titles;
		line-height: 36px;
		color:#fff;
		margin-top: 10vw;
		margin-bottom: 24px;
	}
	h4{
		font-size: 20px;
		line-height: 24px;
		font-family: $text;
		color:#fff;
		strong{
			font-family: $titles;
		}
	}
}
#top{
	.btn.btn-ghost{
		width: initial;
		color: $neutro400;
	}
	p{
		font-size: 18px;
		color:$neutro400;
		margin-bottom: 0;
		a{
			font-family: $titles;
			color:$primary;
			margin-left: 8px;
		}
	}
	.search{
			//margin-right: 32px;
			position: relative;
			//width: 100%;
			margin-bottom: 0;
			input{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: 10px;
				color:$neutro700;
				padding-left: 40px;
				font-size: 16px;
				font-weight: 400;
				//box-shadow: $sombra13;
				border:1px solid $neutro300;
				transition: all linear 300ms;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $neutro400;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $neutro400;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $neutro400;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $neutro400;
				}
			}
			img{
				position: absolute;
				left: 16px;
				top: 13px;
			}
		}
}
form{
	.form-group{
		label{
			color: #959595;
			font-size: 16px;
			line-height: 19px;
			font-family: $titles;
		}
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=search], 
		input[type=date], 
		input[type=time],
		input[type=month],
		input[type=number]{
			border-radius: $border;
		}
		.select{
			&.type2{
				.select-look{
					background: #fff;
					border-color:$neutro300;
					color:$neutro300;
					.ico{
						width: 40px;
						height: 40px;
						right: 8px;
						border-left: 1px solid $neutro300;
					    left: inherit;
						top: 3px;
						right: 3px;
					}
				}
			}
			&.bigger{
				height: 62px;
				.select-look{
					height: 62px;
					line-height: 62px;
					font-size: 17px;
					.ico{
						width: 56px;
						height: 53px;
					}
				}
			}
			&.flag-type{
				.select-look{
					box-shadow: $sombra16;
					border-radius: $border;
					border:none;
					.flag{
						width: 45px;
						height: 62px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						position: absolute;
						left: 0;
						top: 0;
					}
					span{
						width: 100%;
						padding-left: 48px;
						padding-right: 56px;
						line-height: 62px;
						font-size: 18px;
						color: $neutro300;
					}
				}
			}
			&.flag-type2{
				.select-look{
					box-shadow: none;
					border: 1px solid $neutro300;
					.flag{
						width: 45px;
						height: 48px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						position: absolute;
						left: 0;
						top: 0;
					}
					span{
						width: 100%;
						padding-left: 48px;
						padding-right: 56px;
						line-height: 48px;
						font-size: 18px;
						color: $neutro300;
					}
				}
			}
			.world{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			img{
				width: 100%;
			}
		  }
		}

		::-webkit-input-placeholder { /* Edge */
		  color: $neutro300;
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: $neutro300;
		}

		::placeholder {
			color: $neutro300;
		}
		.custom-date{
			position: relative;
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 2;
			}
			.date-look{
				position: relative;
				width: 100%;
				height: 49px;
				background: #FFFFFF;
				border: 1px solid #D9D9D9;
				box-sizing: border-box;
				border-radius: 5px;
				z-index: 1;
				padding-left: 16px;
				.text{
					font-size: 17px;
					line-height: 49px;
					color: #bdbdbd;
				}
				.ico{
					width: 49px;
					height: 37px;
					position: absolute;
					right: 0;
					top: 6px;
					border-left:1px solid #bebebe;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
		}
	}
}

.custom-file{
	position: relative;
	height: 49px;
	input{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 2;
	}
	.look{
		width: 190px;
		height: 49px;
		border:1px solid $neutro300;
		color:$primary;
		background: #fff;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
		border-radius: $border;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			margin-right: 8px;
		}
	}
}
.nav-onboard{
	width: 366px;
	position: absolute;
	height: calc(100vh - 40px);
	background: #fff;
	padding-left: 54px;
	align-items: flex-start;
	padding-top: 56px;
	.d-lg-flex{
		width: 100%;
		flex-wrap: wrap;
		h1{
			width: 100%;
			margin-bottom: 40px;
		}
		h3{
			font-size: 20px;
			color:$primary;
			font-family: $titles;
			margin-bottom: 40px;
		}
		nav{
			width: 100%;
			display: flex;
			ul{
				list-style-type: none;
  				padding: 0;
  				flex-wrap: wrap;
  				li{
  					width: 100%;
  					margin: 0;
  					a{
  						color:$neutro400;
						height: 60px;
						padding: 0 8px 16px 0;
						border-radius: 8px;
						font-size: 16px;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						position: relative;
						text-transform: none;
						font-family: $titles;
  						i{
  							border:3px solid $neutro300;
							width: 35px;
							height: 35px;
							border-radius:50%;
							display: flex;
							align-items: center;
							justify-content: center;
							color: $neutro300;
							font-size: 15px;
							margin-right: 16px;
							font-style: normal;
							font-weight: 700;
							line-height: 35px;
  						}
  						.after{
  							position: absolute;
							width: 3px;
							height: 14px;
							background: $neutro300;
							bottom: 1px;
							left: 16px;
  						}
  					}
  					&.active{
  						text-decoration: none;
  						a{
  							color: $neutro;
  							text-decoration: none;
  							i{
  								border-color:$neutro;
								color: $neutro;
  							}
  							.after{
  								background: $neutro;
  							}
  						}
  					}
  					&:hover{
  						text-decoration: none;
  						a{
  							color: $neutro;
  							text-decoration: none;
  							i{
  								border-color:$primary;
								color: $primary;
  							}
  							.after{
  								background: $primary;
  							}
  						}
  					}
  					&.done{
  						text-decoration: none;
  						a{
  							color: $neutro400;
  							text-decoration: none;
  							i{
  								border-color:$primary;
  								background: $primary;
								color: #fff;
  							}
  							.after{
  								background: $primary;
  							}
  						}
  					}
  					&:last-child{
  						a{
  							.after{
  								display: none;
  							}
  						}
  					}
  				}
			}
		}
		.clock{
			position: absolute;
			bottom: 23px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img{
				margin-right: 16px;
			}
			h4{
				font-size: 20px;
				color:#000;
				font-weight: 700;
				margin-bottom: 0;
			}
			p{
				font-size: 15px;
				color: #B4B3B3;
				margin-bottom: 0;
			}
		}
	}
}

#onBoarding{
	width: calc(100% - 366px;);
	margin-left: 366px;
	min-height: calc(100vh - 40px);
	padding-top: 48px;
	background: $neutro100;
	.close.btn-ghost{
		position: absolute;
		right: 12px;
		top: 12px;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.no-aside{
		width: 100%;
		margin-left: 0;
	}
	.new-hire{
		.alert{
				background: $primary100;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border:none;
				margin-bottom: 24px;
				img{
					margin-right: 16px;
				}
				button{
					background: none;
					color:$primary;
					text-decoration: underline;
				}
				p{
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro000;
				}
			}
		h2{
			margin-top: 48px;
			//text-align: center;
			font-size: 30px;
		}
		.contract-choice{
			margin-top: 40px;
			form{
				display: flex;
				align-items: stretch;
				justify-content: center;
			}
			.form-group.custom-radio{
				width: 48%;
				max-width: 324px;
				position: relative;
				height: 50vh;
				max-height: 426px;
				margin: 16px;
				input{
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					position: absolute;
					opacity: 0;
					z-index: 2;
				}
				label{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					align-content: center;
					justify-content: center;
					border-radius: $border2;
					box-shadow: $sombra16;
					background: #fff;
					padding: 20px;
					img{
						display: block;
						margin: 0 auto 32px;
						width: 103px;
					}
					h3{
						color:$neutro000;
						font-size: 25px;
						font-family: $titles;
						margin-bottom: 24px;
						width: 100%;
						text-align: center;
					}
					.line{
						width: 103px;
						height: 7px;
						background: $neutro300;
						margin: 0 auto 24px;
					}
					p{
						font-size: 20px;
						margin-bottom: 0;
						color:$neutro;
						text-align: center;
						line-height: 25px;
					}
				}
				input:checked + label{
					background: $primary100;
					border:2px solid $primary;
					box-shadow: none;
					h3{
						color:$primary;
					}
					.line{
						background: $primary;
					}
					p{
						color:$neutro600;
					}
				}
				input:disabled + label{
					background: $primary100;
					border:1px solid $neutro300;
					img{
						opacity: 0.5;
					}
					h3{
						color:$neutro300;
					}
					.line{
						background: $neutro300;
					}
					p{
						color:$neutro300;
					}
				}
			}
		}
		.country-residence{
			margin: 0 auto;
			margin-top: 10vw;
			max-width: 456px;
		}
		.ilustration{
			position: inherit;
			margin-left: 96px;
			width: 80%;
			img{
				width: 100%;
			}
		 }
		 .graphic{
			position: inherit;
			margin-left: 18px;
			margin-top: 100px;
			width: 100%;
			img{
				width: 90%;
			}
		 }
		 .draw{
			position: inherit;
			margin-left: 18px;
			width: 100%;
			img{
				width: 90%;
			}
		 }
		.contract-area{
			display: flex;
			align-items: flex-end;
			.form-group{
				width: calc(100% - 72px);
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
				margin-left: 16px;
			}
		}
		.contract-name{
			display: flex;
			align-items: flex-end;
			.form-group{
				width: calc(100% - 72px);
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
				margin-left: 16px;
			}
		}
		.contract-date{
			h5{
				color: #959595;
				font-size: 16px;
				line-height: 19px;
				font-family: $titles;
				margin-bottom: 16px;
				span{
					font-style: italic;
					color:$primary;
					font-family: $text;
				}
			}
			button.btn-outline{
				width: 49px;
				margin-top: 56px;
			}
		}
		.contract-dedication{
			display: flex;
			align-items: center;
			.form-group{
				width: calc(100% - 72px);
				margin-bottom: 0;
				padding-bottom: 40px;
				position: relative;
				.marks{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 40px;
					display: flex;
					align-items: flex-end;
					justify-content: space-between;
					span{
						//width: 100%;
						font-family: $titles;
						color:$neutro400;
						&.zeroP{
							color: $primary;
						}
						&.p25{
							text-align: center;
						}
						&.p50{
							text-align: center;
						}
						&.p75{
							text-align: center;
						}
						&.p100{
							text-align: right;
						}
					}
				}
			}
			button.btn-outline{
				width: 49px;
				margin-left: 16px;
			}
		}
		.contract-type{
			h5{
				color: #959595;
				font-size: 16px;
				line-height: 19px;
				font-family: $titles;
				margin-bottom: 16px;
				span{
					font-style: italic;
					color:$primary;
					font-family: $text;
				}
			}
			.contract-class{
				button{
					background: #FFFFFF;
					border: 1px solid $neutro300;
					box-sizing: border-box;
					border-radius: $border;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color:$neutro300;
					font-size: 15px;
					width: 48%;
					max-width: 243px;
					.ico{
						width: 18px;
						height: 18px;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: 2px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						margin-right: 8px;
						img{}
					}
					&:focus{
						box-shadow: none;
					}
					&[aria-expanded="true"]{
						outline: none;
						.ico{
							border-color:$primary;
							background: $primary;
							img{
								filter:brightness(100);
							}
						}
					}
				}
			}
			.summary{
				padding: 24px;
				margin-bottom: 32px;
				h4{
					font-size: 16px;
					color:$primary;
					padding-left: 32px;
					padding-bottom: 8px;
					position: relative;
					margin-bottom: 24px;
					.line{
						width: 76px;
						height: 3px;
						background: $neutro300;
						position: absolute;
						left: 32px;
						bottom: 0;
					}
				}
				dl{
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					dt{
						margin-right: 16px;
					}
					dd{
						margin-bottom: 0;
						color:$neutro;
						font-size: 12px;
						strong{
							font-family: $titles;
							color:$neutro000;
						}
					}
				}
				.btn-ghost{
					.link{
						text-transform: uppercase;
					}
					max-width: initial;
					justify-content: flex-start;
					padding-left: 0;
					img{
						margin-right: 16px;
					}
				}
			}
			.alert{
				background: $primary100;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border:none;
				margin-bottom: 24px;
				img{
					margin-right: 16px;
				}
				button{
					background: none;
					color:$primary;
					text-decoration: underline;
				}
				p{
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro000;
				}
			}
			.btn-default.white{
				font-size: 14px;
				margin: 8px;
			}
			.clauses{
				margin-top: 32px;
				margin-bottom: 32px;
				.clause{
					border:1px solid $neutro300;
					background: #fff;
					border-radius: $border;
					padding: 24px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					max-width: 456px;
					p{
						width: calc(100% - 73px);
						margin-left: 8px;
						color: $neutro400;
						font-size: 16px;
						font-family: $titles;
						margin-bottom: 0;
					}
					.actions{
						width: 65px;
						button{
							width: 30px;
							height: 30px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							background: none;
						}
					}
				}
			}
		}
		.contract-role{
			display: flex;
			align-items: flex-end;
			h5{
				color: #959595;
				font-size: 16px;
				line-height: 19px;
				font-family: $titles;
				margin-bottom: 16px;
				span{
					font-style: italic;
					color:$primary;
					font-family: $text;
					font-size: 14px;
				}
			}
			.form-group{
				width: calc(100% - 72px);
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
				margin-left: 16px;
			}
		}

		.contract-role-desc{
			textarea{
				height: 132px;
				background: #FFFFFF;
				border: 1px solid $neutro300;
				border-radius: $border;
			}
			h5{
				color: #959595;
				font-size: 16px;
				line-height: 19px;
				font-family: $titles;
				margin-bottom: 16px;
				span{
					font-style: italic;
					color:$primary;
					font-family: $text;
					font-size: 14px;
				}
			}
			.form-group{
				width: 100%;
				margin-bottom: 0;
			}
		}
		.contract-payment{
			.row{
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
			}
			.form-group{
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
			}
			h5{
				color: #959595;
				font-size: 16px;
				line-height: 19px;
				font-family: $titles;
				margin-bottom: 16px;
				span{
					font-style: italic;
					color:$primary;
					font-family: $text;
					font-size: 14px;
				}
			}
			.dif-amount{
				display: flex;
				align-items: flex-end;
				margin-top: 32px;
				input{
					width: calc(100% - 72px);
					margin-bottom: 0;
				}
				button.btn-outline{
					width: 49px;
					margin-left: 16px;
				}
			}
		}
		.contract-payment-driven{
			display: flex;
			align-items: center;
			.form-group{
				width: calc(100% - 72px);
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
				margin-left: 16px;
			}
			.results{
				background: $neutro200;
				padding: 24px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				max-width: 450px;
				height: 66px;
				margin-top: 24px;
				p{
					color:$neutro400;
					font-size: 12px;
					font-family: $titles;
					width: calc(100% - 100px);
					margin-left: 8px;
					margin-bottom: 0;
				}
				.actions{
					width: 60px;
					display: inline-flex;
					button{
						background: none;
						border:none;
						width: 30px;
						height: 30px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}
				}
			}

			.btn-default.white{
				font-family: $titles;
				font-size: 14px;
				margin: 8px;
				color:$primary;
			}
		}
		.contract-payment-task{
			.one-line{
				display: flex;
				align-items: flex-end;
				.form-group{
					width: calc(100% - 72px);
					margin-bottom: 0;
				}
				button.btn-outline{
					width: 49px;
					margin-left: 16px;
				}
			}
			.form-group{
				margin-bottom: 0;
			}
			button.btn-outline{
				width: 49px;
			}
		}
		.review{
			h2{
				font-size: 30px;
				color:$neutro600;
			}
			.section{
				h3{
					font-size: 16px;
					color:$neutro400;
					font-family: $titles;
				}
				.card-type{}
				.general-info{
					display: flex;
					align-items: stretch;
					justify-content: center;
					position: relative;
					padding: 16px;
					margin-bottom: 32px;
					button{
						position: absolute;
						right: 16px;
						top: 16px;
						width: 55px;
						height: 32px;
						font-size: 16px;
					}
					.card{
						border: 1px solid $neutro200;
						box-sizing: border-box;
						filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
						border-radius: $border2;
						background: #fff;
						padding: 12px;
						width: 160px;
						margin: 8px;
						justify-content: center;
						img{
							width: 44px;
							display: block;
							margin: 0 auto;
						}
						h4{
							font-size: 14px;
							color:$neutro000;
							width: 100%;
							text-align: center;
							margin-bottom: 16px;
							line-height: 16px;
						}
						.line{
							width: 68px;
							height: 4px;
							background: $neutro300;
							display: block;
							margin: 0 auto;
							margin-bottom: 16px;
						}
						p{
							margin-bottom: 0;
							font-size: 10px;
							line-height: 12px;
							width: 100%;
							text-align: center;
							color:$neutro400;
						}
					}
				}
				.contract-info{
					padding: 24px;
					position: relative;
					display: flex;
    				flex-wrap: wrap;
    				padding-top: 64px;
    				margin-bottom: 24px;
    				align-content: start;
					button{
						width: 55px;
						height: 32px;
						font-size: 16px;
						align-self: flex-end;
						position: absolute;
						right: 16px;
						top: 16px;
					}
					dl{
						margin-bottom: 0;
						width: 100%;
						display: flex;
						dt{
							font-size: 16px;
							font-family: $titles;
							color:$neutro000;
							margin: 0;
							line-height: 20px;
						}
						dd{
							font-size: 16px;
							color:$neutro;
							margin: 0;
							margin-left: 8px;
							line-height: 20px;
							img{
								margin-right: 8px;
							}
						}
					}
					p{
						margin-bottom: 0;
						font-size: 16px;
						color:$neutro;
						strong{
							font-family: $titles;
							color:$neutro000;
							margin-right: 4px;
						}
					}
				}
				.row{
					align-items: stretch;
					.col-12{
						margin-bottom: 40px;
						.card-type{
							height: 80%;
						}
					}
				}
			}
		}
		.contractor-done{
			width: 100%;
			min-height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.card-type{
				padding: 32px;
				max-width: 400px;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				h4{
					font-size: 25px;
					color:$neutro;
					text-align: center;
					line-height: 30px;
				}
			}
		}
	}
}
.modal{
	form{
		h5{
			font-size: 14px;
			color:$neutro;
			font-family: $titles;
			text-align: center;
		}
		.form-group{
			&.custom-radio{
				width: 140px;
			    position: relative;
			    height: 140px;
			    max-height: 426px;
			    margin: 8px;
			    display: inline-flex;
				input{
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					position: absolute;
					opacity: 0;
					z-index: 2;
				}
				label{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					align-content: center;
					justify-content: center;
					border-radius: $border2;
					box-shadow: $sombra16;
					background: #fff;
					padding: 14px;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 40px;
					}
					h3{
						color:$neutro000;
						font-size: 16px;
						line-height: 17px;
						font-family: $titles;
						margin-bottom: 8px;
						width: 100%;
						text-align: center;
					}
					.line{
						width: 53px;
						height: 3px;
						background: $neutro300;
						margin: 0 auto;
					}
				}
				input:checked + label{
					background: $primary100;
					border:1px solid $primary;
					box-shadow: none;
					h3{
						color:$primary;
					}
					.line{
						background: $primary;
					}
					p{
						color:$neutro600;
					}
				}
				input:disabled + label{
					background: $primary100;
					border:1px solid $neutro300;
					img{
						opacity: 0.5;
					}
					h3{
						color:$neutro300;
					}
					.line{
						background: $neutro300;
					}
					p{
						color:$neutro300;
					}
				}
			}
		}
	}
}
#addSpecialClause, #editSpecialClause, #deleteSpecialClause, #editContractor, #editGeneralInfo,
#editRole, #legalInfo{
	.modal-dialog{
		max-width: 580px;
		.modal-header{
			padding: 16px;
			h4{
				font-size: 20px;
				text-align: center;
				color: $neutro000;
			}
		}
		.modal-body{
			padding: 24px;
			padding-bottom: 40px;
			form{
				max-width: 444px;
				button{
					max-width: inherit;
				}
			}
			p{
				max-width: inherit;
				strong{
					font-family: $titles;
				}
			}
			ol{
				list-style-position: inside;
				margin-bottom: 32px;
				li{
					font-family: $titles;
					margin-bottom: 16px;
					span{
						font-family: $text;
						strong{
							font-family: $titles;
						}
					}
				}
			}
			button.w100{
				width: 100%;
				max-width: inherit;
			}
		}
	}
}
#ContractPreview{
	.modal-dialog{
		max-width: 1139px;
		.modal-body{
			.sign{
				width: 100%;
				max-width: 459px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto 40px;
				.line{
					height: 48px;
					width: calc(100% - 60px);
					border-bottom: 1px solid $neutro;
					margin-right: 20px;
				}
				button{
					width: 132px;
					margin-right: 10px;
				}
			}
			.custom-control{
				    position: relative;
				    display: block;
				    min-height: 1.5rem;
				    padding-left: 1.5rem;
				    margin-bottom: 30px;
				    margin-left: 260px;
				    justify-content: center;

			}
			.contract{
				width: 100%;
				background: $neutro700;
				height: 60vh;
				color:#fff;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			form{
				    max-width: none;
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					flex-wrap: wrap;
					.form-group{
						display: flex;
						align-items: center;
						justify-content: inherit;
						flex-wrap: wrap;
						align-content: space-between;
					}
					.custom-date{
						.date-look{
							padding-left: 16px;
							span{
								font-size: 17px;
								color:$neutro300;
							}
							.ico{
								width: 48px;
								height: 42px;
								border-left: 1px solid $neutro300;
								top: 2px;
								img{}
							}
						}
					}
					.custom-radio.custom2{
						background: #FFFFFF;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: 5px;
						height: 49px;
						padding: 0 16px;
						padding-left: 32px;
						margin-top: 0;
						width: 48%;
						label{
							line-height: 49px;
							width: 100%;
							box-shadow: none;
							background: none;
							height: 49px;
							font-family: $text;
							color:$neutro300;
						}
						.custom-control-label:before{
							width: 18px;
							height: 18px;
							border-radius: 2px;
							border-color: $neutro300;
							top: 14px;
							left:-1rem;
							opacity: 1;
							box-shadow: none;
							background: url('../img/check_gray.svg') no-repeat center;
							background-size: 12px auto;
						}
						.custom-control-label::after{
							top: 14px;
							width: 18px;
							height: 18px;
							border-radius: 2px;
							background: none;
							box-shadow: none;
						}
						input:checked + .custom-control-label{
							border:none;
						}
						input:checked + .custom-control-label:before{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
						input:checked + .custom-control-label::after{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
					}
					.legalsign{
						background: $neutro200;
						padding-top: 24px;
						margin-bottom: 34px;
						h4{
							width: 90%;
							display: block;
							max-width: 475px;
							margin: 0 auto 24px;
							text-align: center;
							padding-bottom: 20px;
							border-bottom:1px solid $neutro400;
					}
				}
		     }
		}
	}
}
#editContractType{
	.modal-dialog{
		max-width: 580px;
		.modal-header{
			padding: 16px;
			h4{
				font-size: 20px;
				text-align: center;
				color: $neutro000;
			}
		}
		.modal-body{
			padding: 24px;
			padding-bottom: 40px;
			form{
				max-width: 470px;
				.contract-class{
					button{
						background: #FFFFFF;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: $border;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color:$neutro300;
						font-size: 15px;
						width: 48%;
						max-width: 243px;
						.ico{
							width: 18px;
							height: 18px;
							border: 1px solid $neutro300;
							box-sizing: border-box;
							border-radius: 2px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							margin-right: 8px;
							img{}
						}
						&:focus{
							box-shadow: none;
						}
						&[aria-expanded="true"]{
							outline: none;
							.ico{
								border-color:$primary;
								background: $primary;
								img{
									filter:brightness(100);
								}
							}
						}
					}
				}
				.summary{
					padding: 24px;
					margin-bottom: 32px;
					h4{
						font-size: 16px;
						color:$primary;
						padding-left: 32px;
						padding-bottom: 8px;
						position: relative;
						margin-bottom: 24px;
						.line{
							width: 76px;
							height: 3px;
							background: $neutro300;
							position: absolute;
							left: 32px;
							bottom: 0;
						}
					}
					dl{
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						dt{
							margin-right: 16px;
						}
						dd{
							margin-bottom: 0;
							color:$neutro;
							font-size: 12px;
							strong{
								font-family: $titles;
								color:$neutro000;
							}
						}
					}
					.btn-ghost{
						.link{
							text-transform: uppercase;
						}
						max-width: initial;
						justify-content: flex-start;
						padding-left: 0;
						img{
							margin-right: 16px;
						}
					}
				}
				.btn-default.white{
					font-size: 14px;
					margin: 8px;
				}
				.clauses{
					margin-top: 32px;
					margin-bottom: 32px;
					.clause{
						border:1px solid $neutro300;
						background: #fff;
						border-radius: $border;
						padding: 24px;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 100%;
						max-width: 456px;
						p{
							width: calc(100% - 73px);
							margin-left: 8px;
							color: $neutro400;
							font-size: 16px;
							font-family: $titles;
							margin-bottom: 0;
						}
						.actions{
							width: 65px;
							button{
								width: 30px;
								height: 30px;
								display: inline-flex;
								align-items: center;
								justify-content: center;
								background: none;
							}
						}
					}
				}
			}
		}
	}
}
#editPayment{
	.results{
		background: $neutro200;
		padding: 24px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		max-width: 450px;
		height: 66px;
		margin-top: 24px;
		p{
			color:$neutro400;
			font-size: 12px;
			font-family: $titles;
			width: calc(100% - 100px);
			margin-left: 8px;
			margin-bottom: 0;
		}
		.actions{
			width: 60px;
			display: inline-flex;
			button{
				background: none;
				border:none;
				width: 30px;
				height: 30px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.btn-default.white{
		font-family: $titles;
		color:$primary;
		font-size: 14px;
		margin: 8px;
	}
}

@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	// iPad Pro
  	
}
@media (max-width: 992px){
	header.nav-onboard{
	    position: fixed;
	    width: 100%;
	    height: auto;
	    padding: 16px;
	    padding-bottom: 0;
	    z-index: 3;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: $sombra16;
        .d-lg-none.flex-wrap{
        	justify-content: space-between;
        }
        h1{
        	img{
        		width: 120px;
        	}
        }
        p{
			font-size: 16px;
			color:$neutro400;
			margin-bottom: 0;
			a{
				font-family: $titles;
				color:$primary;
				margin-left: 8px;
			}
		}
	    .current-step{
	    	width: calc(100% + 30px);
		    height: 48px;
		    position: relative;
		    margin-right: -15px;
		    margin-left: -15px;
	    	button.close{
	    		width: 48px;
	    		height: 48px;
	    		display: flex;
	    		align-items: center;
	    		justify-content: center;
	    		background: none;
	    		position: absolute;
				right: -16px;
	    	}
	    	button.back{
	    		width: 80px;
	    		position: absolute;
	    		left: -16px;
	    		top: 0;
	    		height: 48px;
	    		color: $neutro400;
	    	}
	    	.dropdown{
	    		width: calc(100% - 112px);
	    		margin: 0 auto;
	    		height: 48px;
	    		position: relative;
	    		z-index: 3;
	    		.dropdown-toggle{
	    			background: none;
	    			border:none;
	    			color:$neutro;
	    			font-size: 15px;
	    			outline: none !important;
	    			box-shadow: none !important;
	    			border-radius: none;
	    			&:focus{
	    				color: $primary;
	    			}
	    			strong{
	    				font-family: $titles;
	    				margin-right: 4px;
	    			}
	    			&:after{
	    				content: "";
	    				background: url(../img/angle_down_small.svg) no-repeat;
	    				width: 12px;
	    				height: 12px;
	    				display: inline-flex;
					    align-items: center;
					    justify-content: center;
					    border: none;
					    vertical-align: unset;
					    margin-left: 8px;
					    margin-top: 6px;
	    			}
	    		}
	    		.dropdown-menu{
	    			background: #FFFFFF;
					box-shadow: $sombra16;
					border-radius: $border;
					border:none;
	    			.dropdown-item{
	    				font-size: 15px;
	    				color:$neutro;
	    				height: 48px;
	    				line-height: 48px;
	    			}
	    		}
	    	}
	    	.timeline{
	    		width: calc(100% + 32px);
	    		position: absolute;
	    		height: 4px;
	    		background: $neutro200;
	    		bottom: 0;
	    		left: -16px;
	    		z-index: 2;
	    		.progress{
	    			position: absolute;
	    			height: 4px;
	    			width: 100%;
	    			left: 0;
	    			top: 0;
	    			background: $primary;
	    		}
	    		&.pre{
	    			.progress{
	    				display: none;
	    			}
	    		}
	    		&.one{
	    			.progress{
	    				width: 16.666%;
	    			}
	    		}
	    		&.two{
	    			.progress{
	    				width: calc(16.666% * 2);
	    			}
	    		}
	    		&.three{
	    			.progress{
	    				width:calc(16.666% * 3);
	    			}
	    		}
	    		&.four{
	    			.progress{
	    				width: calc(16.666% * 4);
	    			}
	    		}
	    		&.five{
	    			.progress{
	    				width: calc(16.666% * 5);
	    			}
	    		}
	    		&.six{
	    		}
	    	}
	    }
	}
	aside{
	    position: relative;
	    width: 100%;
	    height: auto;
	    z-index: 2;
	}
	#onBoarding{
		width: 100%;
	    margin: 0;
	    height: auto;
	    padding-top: 0;
	    min-height: inherit;
	    padding-bottom: 64px;
	    h2{
	    	text-align: center;
	    	width: 100%;
	    	flex:100%;
	    	max-width: 100%;
	    	margin-left: 0;
	    }
	    .new-hire{
	    	padding-top: 90px;
	    	min-height: 84vh;
	    	padding-bottom: 40px;
	    	.contract-name, .contract-date, .contract-dedication, .contract-type, 
	    	.contract-role, .contract-role-desc, .contract-payment-driven,
	    	.contract-payment-task, .contract-payment, .assign-contractor{
	    		width: 100%;
		    	flex:100%;
		    	max-width: 100%;
		    	margin-left: 0;
	    	}
	    	.contract-payment{
	    		.form-group{
	    			margin-bottom: 24px;
	    		}
	    	}
	    }
	}
}
#downloadbulk{
	.modal-body{
		padding: 0;
		h4{
		margin: 0 auto;
		text-align: center
	   }
	}
	.total-due{
			overflow: hidden; 
			height: auto;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 124px;
			h4{
				font-size: 19px;
				color: $neutro000;
				font-family: $text;
				margin-bottom: 0;
			}
			h3{
				font-size: 19px;
				color: $primary;
				font-family: $titles;
				width: auto;
				margin-bottom: 0;
			}
		}
		.line{
			width: 60%;
			border-top: 1px dashed $neutro000;
			margin-bottom: 20px;
			margin:0 auto;
		}
	h3{
		font-size: 30px;
		font-family: $titles;
		color:$neutro000;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		font-size: 16px;
		color: $neutro400;
		display: block;
		margin: 0 auto 15px;
		text-align: center;
		margin-top: 20px;
	}
	form{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		.form-group{
			display: flex;
			align-items: center;
			justify-content: inherit;
			flex-wrap: wrap;
			align-content: space-between;
			margin-bottom: none;
		}
		.custom-date{
			.date-look{
				padding-left: 16px;
				span{
					font-size: 17px;
					color:$neutro300;
				}
				.ico{
					width: 48px;
					height: 42px;
					border-left: 1px solid $neutro300;
					top: 2px;
					img{}
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			width: 48%;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
				background: url('../img/check_gray.svg') no-repeat center;
				background-size: 12px auto;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
		.director{
			background: $neutro200;
			padding-top: 24px;
			h4{
				width: 90%;
				display: block;
				max-width: 475px;
				margin: 0 auto 24px;
				text-align: center;
				padding-bottom: 20px;
				border-bottom:1px solid $neutro400;
			}
		}
		&.files{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tab-pane{
			align-items: stretch;
			justify-content: space-between;
			max-width: 636px;
			margin: 0 auto;
			flex-wrap: wrap;
			&.show{
				display: flex;
			}
		}
		.upload-file{
			background: $neutro100;
			border:1px dashed $neutro400;
			border-radius: $border2;
			padding: 24px;
			width: 32%;
			max-width: 360px;
			position: relative;
			h5{
				font-size: 18px;
				color:$neutro400;
				font-family: $titles;
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				font-size: 14px;
				color:$neutro400;
				text-align: center;
			}
			&.drop{
				border-color:$primary;
			}
			.state-empty{
				position: relative;
				z-index: 1;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				p{
					font-size: 12px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					strong{
						font-family: $titles;
						margin-right: 4px;
					}
					span{
						color:$primary;
					}
				}
				.btn-upload{
					border-color:$neutro200;
					color:$primary;
					margin: 0 auto;
					img{
						display: inline-block;
						margin: 0;
						margin-right: 16px;
					}
					&:hover{
						background: $primary;
						color:#fff;
						img{
							filter: brightness(10);
						}
					}
				}
				&.off{
					display: none;
				}
			}
			.state-charged{
				position: relative;
				z-index: 1;
				.doc{
					background: #fff;
					border:1px solid $neutro200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 16px;
					border-radius: 3px;
					position: relative;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 32px;
					}
					p.name{
						width: 100%;
						text-align: center;
						font-size: 11px;
						color:$neutro400;
						font-family: $titles;
						margin-bottom: 0;
					}
					.check{
						position: absolute;
						background: $exito200;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						top: -10px;
						right: -10px;
						img{
							width: 12px;
							margin: 0;
						}
					}
				}
				.actions{
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					.btn-ghost{
						width: auto;
						font-size: 15px;
						&.just-icon{}
					}
				}
				&.off{
					display: none;
				}
			}
			.drop-state{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $primary;
				color:#fff;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				border-radius: $border2;
				opacity: 0;
				z-index: 0;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				span{
					font-size: 21px;
					font-family: $titles;
					width: 100%;
					text-align: center;
				}
				&.active{
					opacity: 1;
					z-index: 3;
				}
			}
			&.double{
				width: 60%;
			}
			&.unique{
				width: 100%;
				max-width: inherit;
				justify-content: center;
			}
			.list{
				.custom-control.custom-radio.custom2{
					width: 100%;
					border:none;
					background-color: transparent;
					height: auto;
					label{
						height: auto;
						line-height: 1.2;
						color:$neutro400;
						&:before{
							top: 0;
						}
						&:after{
							top: 0;
						}
					}
				}
			}
		}
		.alert{
			display: flex;
			align-items: start;
			justify-content: flex-start;
			p{
				max-width: inherit;
				text-align: left;
				margin-left: 16px;
			}
		}
	}
	.nav-tabs{
		min-height: inherit;
		padding: 16px;
		background: none;
		justify-content: center;
		.nav-item{
			.nav-link{
				margin: 0 8px;
				padding: 0;
				height: auto;
				width: 210px;
				.custom-control.custom-radio.custom2{
					border:none;
					width: auto;
					label{
						padding-left: 16px;
					}
				}
				&.active{
					.custom-control.custom-radio.custom2{
						border:none;
						width: auto;
						label{
							&:before{
								background-color: $primary;
								border-color:$primary;
								background-image: url('../img/check.svg');
							}
							&:after{}
						}
					}
				}
			}
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	// iPad
}
@media (max-width: 767px) {
	header.nav-onboard{
        h1{
        	img{
        		width: 90px;
        	}
        }
        p{
			font-size: 12px;
		}
		.current-step{
			button.back{
				font-size: 12px;
				width: 64px;
				left: 0;
				img{
					width: 12px;
				}
			}
			button.close{
				right: 0;
			}
		}
	}
	aside{
		padding-top: 90px;
		h2{
			font-size: 20px;
			text-align: center;
			line-height: 24px;
			margin-top: 30px;
			margin-bottom: 16px;
		}
		h4{
			font-size: 15px;
			text-align: center;
		}
	}
	#onBoarding{
		.new-hire{
			h2{
				font-size: 20px;
				line-height: 24px;
				margin-top: 40px;
			}
			.contract-choice{
				padding: 0;
				margin-top: 24px;
				form{
					flex-wrap: wrap;
				}
				.form-group.custom-radio{
					width: 100%;
					min-height: 136px;
					height: auto;
					margin: 0;
					margin-bottom: 16px;
					label{
						position: relative;
						img{
							width: 68px;
							position: absolute;
							left: 20px;
							top: 50%;
							margin-top: -34px;
						}
						h3{
						    width: calc(100% - 84px);
						    margin-left: 84px;
						    text-align: left;
						    font-size: 18px;
						    line-height: 22px;
						    margin-bottom: 8px;
						}
						.line{
							width: 66px;
							height: 4px;
							margin-left: 84px;
							margin-bottom: 8px;
						}
						p{
							width: calc(100% - 84px);
						    margin-left: 84px;
						    font-size: 14px;
						    line-height: 17px;
						    text-align: left;
						}
					}
				}
			}
			.contract-dedication{
				flex-wrap:wrap;
				.form-group{
					width: 100%;
				}
				button.btn-outline{
					margin: 0;
					margin-top: 24px;
				    margin-left: calc(100% - 56px);
				}
			}
			.contract-type{
				.contract-class{
					button{
						width: 100%;
						margin-bottom: 16px;
						max-width: inherit;
					}
				}
				.form-group{
					padding: 0;
					.custom-radio.custom2{
						width: 48%;
					}
				}
				#contractTypeOntop{
					.justify-content-between{
						flex-wrap:wrap;
						padding: 0;
					}
				}
				.clauses{
					padding: 0;
					.clause{
						padding: 16px;
					}
				}
				#contractTypeMyown{
					.justify-content-between{
						flex-wrap:wrap;
					}
					.custom-file{
						margin-bottom: 24px;
						.look{
							width: 100%;
						}
					}
					.btn-default{
					    margin-left: calc(100% - 200px);
					}
				}
			}
			.contract-payment-driven{
				flex-wrap: wrap;
				.w100{
					margin: 0;
				}
				.form-group{
					width: 100%;
					margin-bottom: 16px;
					padding: 0;
				}
				button.btn-outline{
					margin: 0;
					//margin-top: 24px;
				    //margin-left: calc(100% - 50px);
				    margin:8px;
				}
				.results{
					p{
						width: calc(100% - 86px);
					}
				}
			}
			.contract-payment-task{
				.one-line{
					.form-group{
						width: 100%;
						margin-bottom: 16px;
					}
				}
				.form-group{
					margin-bottom: 16px;
				}
				.justify-content-end{
					button.btn-outline{
						margin-left: calc(100% - 56px);
					}
				}
			}
			.contract-payment{
				.form-group{
					margin-bottom: 16px;
				}
				button.btn-outline{
					margin-left: calc(100% - 56px);
				}
				.custom-radio.custom2{
					width: 100%;
					margin-bottom: 16px;
				}
			}
			.review{
				.section{
					margin-top: 24px;
					.general-info{
						margin-bottom: 16px;
						flex-wrap: wrap;
						padding-top: 48px;
					}
				}
			}
			.assign-contractor{
				.form-group{
					.col-xl-8{
						margin-bottom: 24px;
					}
				}
			}
		}
		.clock{
			//position: absolute;
			bottom: 23px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 170px;
			margin: 0 auto 24px;
			img{
				margin-right: 16px;
			}
			h4{
				font-size: 20px;
				color:#000;
				font-weight: 700;
				margin-bottom: 0;
			}
			p{
				font-size: 15px;
				color: #B4B3B3;
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 576px){
	#ContractPreview{
	.modal-dialog{
		.modal-body{
			.custom-control .custom-checkbox{
				display: none;
			}
			
		}
	}
  }
}