@import 'styles.scss';
@import 'platform.scss';
.row.container{
	max-width: 1440px;
}

.contracts{
	.alarm{
       max-width: 1338px;
       margin:0 auto;
	}
	.btn-link{
		text-transform: none;
		color:$neutro;
		font-size: 12px;
		justify-content: center;
		img{
			margin-left: 8px;
		}
	}
	.begin{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 48px;
		.row.container{
			width: 100%;
			padding: 0;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.nav-tabs{
		justify-content: flex-end;
		min-height: inherit;
		background: none;
		justify-content: left;
		margin-top: 56px;
		.nav-item{
			margin-right: 20px;
			background: #fff;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			//max-width: 230px;
			a{
				padding: 16px;
				height: 48px;
				font-size: 16px;
				font-weight: bold;
				border-bottom: 4px solid transparent;
				color:$neutro400;
				img{
					position: relative;
					opacity:1;
					margin: 0;
					top: inherit;
					left:inherit;
					margin-right: 8px;
					filter:grayscale(100%);
				}
				&.active{
					background:$primary100;
					border: 1px solid #FF5A70;
					color:$primary;
					border-radius: 5px;
					img{
					opacity:1;
					filter: grayscale(0%);
					}
				}
			}
		}
	}
	.tab-pane{
		width: 100%;
		.cards-detail{
			align-items: stretch;
		}
	} 
	.filters{
		padding-top: 24px;
		padding-bottom: 8px;
		.form-group{
			label{
				font-size: 12px;
				color:$neutro900;
			}
		}
		.col-lg-3{
			display: inline-flex;
			align-items: flex-end;
			//padding-bottom: 24px;
			margin-bottom: 16px;
			.clear-filters{
				margin-bottom: 16px;
				font-size: 10px;
				color: $neutro000;
				text-transform: none;
				height: 24px;
				img{
					width: 6px;
					margin-right: 8px;
				}
			}
		}
		.btn-ghost{
			justify-content: flex-end;
			padding-right: 0;
		}
	}
	.badges{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.alert.badge{
			background: $neutro100;
			font-size: 12px;
			color: $neutro600;
			margin-right: 16px;
			.close{
			    padding: 0;
			    width: 48px;
			    height: 32px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    font-weight: 400;
			}
		}
		.btn-link{
			color:$primary;
			width: 96px;
			height: 40px;
			padding: 0;
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.sales{
			.thead{
				.th{
					&:first-child{
						width: 10%;
						padding-left: 8px;
					}
					&:nth-child(2){
						width: 20%;
					}
					&:nth-child(3){
						width: 20%;
					}
					&:nth-child(4){
						width: 26%;
					}
					&:nth-child(5){
						width: 23%;
					}
					&:nth-child(6){
						width: 18%;
					}
					&:nth-child(7){
						width: 20%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 9%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 18%;
					}
					&:nth-child(3){
						width: 19%;
					}
					&:nth-child(4){
						width: 21%;
					}
					&:nth-child(5){
						width: 18%;
					}
					&:nth-child(6){
						width: 15%;
					}
					&:nth-child(7){
						width: 20%;
					}
					&:nth-child(8){
						width: 14%;
					}
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.upcoming{
			.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 12%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 13%;
				}
				&:nth-child(4){
					width: 19%;
				}
				&:nth-child(5){
					width: 13%;
				}
				&:nth-child(6){
					width: 18%;
				}
				&:nth-child(7){
					width: 12%;
				}
				&:nth-child(8){
					width: 5%;
					min-width: 40px;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			overflow: auto;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				min-width: 1039px;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 12%;
					}
					&:nth-child(3){
						width: 13%;
					}
					&:nth-child(4){
						width: 19%;
					}
					&:nth-child(5){
						width: 13%;
					}
					&:nth-child(6){
						width: 18%;
					}
					&:nth-child(7){
						width: 12%;
						img{
							margin: 0;
						}
					}
					&:nth-child(8){
						width: 5%;
						min-width: 40px;
						img{
							margin: 0;
						}
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								width: auto;
								img{
									margin-right: 8px;
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.wiretransferpending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.complete{
							background: $exito100;
							color:$exito;
						}
						&.pending{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				 }
			 }
		  }
	   }
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 90px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 5%;
			}
			&:nth-child(2){
				width: 59%;
			}
			&:nth-child(3){
				width: 101%;
			}
			&:nth-child(4){
				width: 85%;
			}
			&:nth-child(5){
				width: 57%;
			}
			&:nth-child(6){
				width: 31%;
			}
			&:nth-child(7){
				width: 97%;
			}
			&:nth-child(8){
				width: 18%;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		.item{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			background: $neutro100;
			margin-bottom: 24px;
			.td{
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro700;
				font-size: 15px;
				&:first-child{
					width: 8%;
				}
				&:nth-child(2){
					width: 49%;
				}
				&:nth-child(3){
					width: 49%;
				}
				&:nth-child(4){
					width: 31%;
				}
				&:nth-child(5){
					width: 44%;
				}
				&:nth-child(6){
					width: 36%;
				}
				&:nth-child(7){
					width: 40%;
				}
				&:nth-child(8){
					width: 21%;
				}
				button{
					width: 40px;
					height: 40px;
					background:transparent;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: $neutro700;
					border-radius:0;
					&:hover{
						color:$primary;
						border-bottom: 2px solid $primary;
					}
					&.view{
					    width: 122px;
						height: 40px;
						background:transparent;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						img{
							margin-right: 10px;
						}
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
							img{
						       filter:grayscale(0%);
							}
						}
					}
				}
				.dropdown{
					width: 100%;
					button{
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					//width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 20px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px 0 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background:$neutro200;
						color:$neutro;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: rgba(54, 207, 130, 0.2);
						color:$exito;
					}
					&.approved{
						background:#FFE4C8;
						color:#F29D42;
					}
					&.wire{
						background:#FFF8B7;
						color:#E7B400;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:#FFBEC3;
						color:#DA0010;
					}
				}
			}
		}
	}
}
@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	header{
  		height: auto;
		border-right: none;
	    flex-wrap: inherit;
    	justify-content: space-between;
    	height: 64px;
    	align-items: center;
    	align-content: center;
    	width: 100%;
    	padding-top: 0;
    	.d-lg-none{
    		display: inline-flex !important;
        }
    	button.navbar-toggler{
			width: 56px;
			height: 56px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color:$primary;
			padding: 0;
			position: absolute;
    		right: 0;
    		top: 4px;
    		right: 16px;
			i{
				font-size: 24px;
			}
		}
		nav{
    		position: absolute;
    		width: 100vw;
    		left: 0;
    		right: 0;
    		top: 60px;
    		margin: 0;
    		left: -17px;
    		ul{
    			width: 100%;
			    height: 1px;
			    //border-top: 1px solid $neutro300;
			    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.10);
		        position: absolute;
			    z-index: 3;
			    top: 5px !important;
			    align-content: flex-start;
			    flex-wrap: wrap;
			    background: #fff;
			    right: 0;
				overflow: hidden;
				padding: 0 24px;
				left: 16px;
			    //transition: 400ms ease-out right;
			    &.show{
					height: auto;
					transition: 400ms ease-out height;
    				opacity: 1;
    				top: 65px;
    				padding: 24px;
    			}
    			&.collapsing{
    				top: 65px;
    			}
			}
    	}
  	}
  	#platform{
  		width: 100%;
  		position: relative;
  	}
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	#platform.horizontal-menu{
		padding-top: 90px;
	}
	.contracts{
		.table{
			overflow-x: auto;
		}
		.thead{
			position: relative;
			width: max-content;
			.th{
				position: relative;
				z-index: 1;
				&:first-child{
					width: 184px;
				}
				&:nth-child(2){
					width: 194px;
				}
				&:nth-child(3){
					width: 153px;
				}
				&:nth-child(4){
					width: 133px;
				}
				&:nth-child(5){
					width: 129px;
				}
				&:nth-child(6){
					width: 145px;
				}
				&:nth-child(7){
					width: 108px;
				}
			}
		}
		.tbody{
			position: relative;
			.item{
				flex-wrap: wrap;
				width: max-content;
				.td{
					position: relative;
					z-index: 1;
					&:first-child{
						width: 184px;
					}
					&:nth-child(2){
						width: 194px;
					}
					&:nth-child(3){
						width: 133px;
					}
					&:nth-child(4){
						width: 153px;
					}
					&:nth-child(5){
						width: 129px;
					}
					&:nth-child(6){
						width: 145px;
					}
					&:nth-child(7){
						width: 108px;
					}
					button{
					}
				}
			}
		}
	}
	#contract_detail{
		.title{
			margin-bottom: 2rem;
			.back{
				position: relative;
			}
			h3{
				font-size: 24px;
				text-align: center;
			}
		}
		.top{
			.download-pdf{
				width: 100%;
				margin-bottom: 16px;
				margin-top: 16px;
				max-width: inherit;
			}
			.amend{
				max-width: inherit;
			}
			.end{
				margin-right: 0;
			}
		}
		.summary{
			h4{
				padding-left: 0;
				text-align: center;
				.line{
					left: 50%;
					margin-left: -35px;
				}
			}
			.row.container{
				padding: 0;
				div{
					padding: 0;
				}
			}
			.link{
				font-size: 15px;
			}
		}
		.amend-type{
			h5{
				font-size: 18px;
			}
			form{
				flex-wrap: wrap;
				padding: 0;
				.custom-radio{
					width: 100%;
					height: 132px;
					label{
						img{
							width: 69px;
						}
						h3{
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	.mobile-drop{
		margin-bottom: 32px;
		.dropdown{
			.dropdown-toggle{
				justify-content: flex-start;
				position: relative;
				background: #fff;
				border-radius: $border;
				border-color:$neutro400;
				color:$neutro400;
				img{
					filter:grayscale(100%);
					margin-right: 16px;
					width: 13px;
				}
				&:after{
					border:none;
					background: url(../img/angle_down_outlined.svg) no-repeat center;
					position: absolute;
					right: 0;
					top: 0;
					margin: 0;
				    width: 46px;
				    height: 46px;
				    background-size: 32px auto;
				}
				&[aria-expanded="true"]{
					background: #fff;
					border-radius: $border;
					border-color:$neutro400;
					color:$neutro400;
				}
			}
			.dropdown-menu{
				width: 100%;
			    margin: 1.125rem 0 0;
			    border:none;
				.dropdown-item{
					height: 48px;
					line-height: 40px;
					color:$neutro400;
					img{
						filter:grayscale(100%);
						margin-right: 16px;
						width: 13px;
					}
					&.active{
						background:none;
						color:$primary;
						img{
							filter:grayscale(0%);
						}
					}
				}
			}
		}
	}
}
#SocialSecurity{
	.modal-body{
		padding: 0;
	}
	h3{
		font-size: 24px;
		font-family: $titles;
		color:$neutro000;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		font-size: 16px;
		color: $neutro400;
		display: block;
		margin: 0 auto 24px;
		text-align: center;
	}
	form{
		max-width: 468px;
		.form-group{
			margin-bottom: 24px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.custom-date{
				.date-look{
					border: 1px solid $neutro300;
					border-radius: $border;
					padding-left: 16px;
					.ico{
						height: 40px;
						top: 2px;
						border-left:1px solid $neutro300;
					}
				}
			}
			.select.type1{
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			width: 48%;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
				background: url('../img/check_gray.svg') no-repeat center;
				background-size: 12px auto;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
		.director{
			background: $neutro200;
			padding-top: 24px;
			h4{
				width: 90%;
				display: block;
				max-width: 475px;
				margin: 0 auto 24px;
				text-align: center;
				padding-bottom: 20px;
				border-bottom:1px solid $neutro400;
			}
		}
		&.files{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tab-pane{
			align-items: stretch;
			justify-content: space-between;
			max-width: 636px;
			margin: 0 auto;
			flex-wrap: wrap;
			&.show{
				display: flex;
			}
		}
		.upload-file{
			background: $neutro100;
			border:1px dashed $neutro400;
			border-radius: $border2;
			padding: 24px;
			width: 32%;
			max-width: 450px;
			position: relative;
			h5{
				font-size: 18px;
				color:$neutro400;
				font-family: $titles;
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				font-size: 14px;
				color:$neutro400;
				text-align: center;
			}
			&.drop{
				border-color:$primary;
			}
			.state-empty{
				position: relative;
				z-index: 1;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				p{
					font-size: 12px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					strong{
						font-family: $titles;
						margin-right: 4px;
					}
					span{
						color:$primary;
					}
				}
				.btn-upload{
					border-color:$neutro200;
					color:$primary;
					margin: 0 auto;
					img{
						display: inline-block;
						margin: 0;
						margin-right: 16px;
					}
					&:hover{
						background: $primary;
						color:#fff;
						img{
							filter: brightness(10);
						}
					}
				}
				&.off{
					display: none;
				}
			}
			.state-charged{
				position: relative;
				z-index: 1;
				.doc{
					background: #fff;
					border:1px solid $neutro200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 16px;
					border-radius: 3px;
					position: relative;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 32px;
					}
					p.name{
						width: 100%;
						text-align: center;
						font-size: 11px;
						color:$neutro400;
						font-family: $titles;
						margin-bottom: 0;
					}
					.check{
						position: absolute;
						background: $exito200;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						top: -10px;
						right: -10px;
						img{
							width: 12px;
							margin: 0;
						}
					}
				}
				.actions{
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					.btn-ghost{
						width: auto;
						font-size: 15px;
						&.just-icon{}
					}
				}
				&.off{
					display: none;
				}
			}
			.drop-state{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $primary;
				color:#fff;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				border-radius: $border2;
				opacity: 0;
				z-index: 0;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				span{
					font-size: 21px;
					font-family: $titles;
					width: 100%;
					text-align: center;
				}
				&.active{
					opacity: 1;
					z-index: 3;
				}
			}
			&.double{
				width: 60%;
			}
			&.unique{
				width: 100%;
				max-width: inherit;
				justify-content: center;
			}
			.list{
				.custom-control.custom-radio.custom2{
					width: 100%;
					border:none;
					background-color: transparent;
					height: auto;
					label{
						height: auto;
						line-height: 1.2;
						color:$neutro400;
						&:before{
							top: 0;
						}
						&:after{
							top: 0;
						}
					}
				}
			}
		}
		.alert{
			display: flex;
			align-items: start;
			justify-content: flex-start;
			p{
				max-width: inherit;
				text-align: left;
				margin-left: 16px;
			}
		}
	}
	.nav-tabs{
		min-height: inherit;
		padding: 16px;
		background: none;
		justify-content: center;
		.nav-item{
			.nav-link{
				margin: 0 8px;
				padding: 0;
				height: auto;
				width: 210px;
				.custom-control.custom-radio.custom2{
					border:none;
					width: auto;
					label{
						padding-left: 16px;
					}
				}
				&.active{
					.custom-control.custom-radio.custom2{
						border:none;
						width: auto;
						label{
							&:before{
								background-color: $primary;
								border-color:$primary;
								background-image: url('../img/check.svg');
							}
							&:after{}
						}
					}
				}
			}
		}
	}
	.btn-4{
		margin-bottom: 28px;
	}
}
#bankInfo{
	.modal-dialog{
		.modal-body{
			form{
				legend{
					font-size: 20px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					font-family: $titles;
				}
				fieldset{
					margin-bottom: 24px;
				}
			}
			.full{
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		label{
			font-family: $titles;
			color:$neutro400;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
			font-family: $text;
			color:$neutro000;
		}
	}
	.pink{
		color:$primary;
	}
	.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
			 }
		  }
	   }
	}
}
#salesTeam{
	.modalbody{
		.form{
			max-width: 500px;
	      .form-group{
	      	.input{
	      		border: 1px solid #C4C4C4;
	      	}
	      }
		}
	}
}
#NewMembership{
	.modal-body{
		h3{
					font-size: 32px;
					font-family: $titles;
					color:$neutro000;
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				h4{
					font-size: 24px;
					font-family: $titles;
					color:$neutro000;
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				p{
					font-size: 16px;
					color: $neutro400;
					display: block;
					margin: 0 auto 24px;
					text-align: center;
				}
				form{
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					flex-wrap: wrap;
					.form-group{
						display: flex;
						align-items: center;
						justify-content: inherit;
						flex-wrap: wrap;
						align-content: space-between;
					.custom-date{
						.date-look{
							border: 1px solid $neutro300;
							border-radius: $border;
							padding-left: 16px;
							.ico{
								height: 40px;
								top: 2px;
								border-left:1px solid $neutro300;
							}
				        }
					  }
					  .select.type1{
				             .ico{
								width: 40px;
								height: 40px;
								right: 8px;
								border-left: 1px solid $neutro300;
							    left: inherit;
								top: 3px;
								border-radius: 0;
							}
						}
					}
					.custom-radio.custom2{
						background: #FFFFFF;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: 5px;
						height: 49px;
						padding: 0 16px;
						padding-left: 32px;
						margin-top: 0;
						width: 48%;
						label{
							line-height: 49px;
							width: 100%;
							box-shadow: none;
							background: none;
							height: 49px;
							font-family: $text;
							color:$neutro300;
						}
						.custom-control-label:before{
							width: 18px;
							height: 18px;
							border-radius: 2px;
							border-color: $neutro300;
							top: 14px;
							left:-1rem;
							opacity: 1;
							box-shadow: none;
							background: url('../img/check_gray.svg') no-repeat center;
							background-size: 12px auto;
						}
						.custom-control-label::after{
							top: 14px;
							width: 18px;
							height: 18px;
							border-radius: 2px;
							background: none;
							box-shadow: none;
						}
						input:checked + .custom-control-label{
							border:none;
						}
						input:checked + .custom-control-label:before{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
						input:checked + .custom-control-label::after{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
					}
					.memb{
						background: $neutro200;
						padding-top: 24px;
						margin-bottom: 50px;
						h4{
							width: 90%;
							display: block;
							max-width: 475px;
							margin: 0 auto 24px;
							text-align: center;
							padding-bottom: 20px;
							border-bottom:1px solid $neutro400;
						}
					}
					&.files{
						display: flex;
						align-items: stretch;
						justify-content: space-between;
					}
					.tab-pane{
						align-items: stretch;
						justify-content: space-between;
						max-width: 636px;
						margin: 0 auto;
						flex-wrap: wrap;
						&.show{
							display: flex;
						}
					}
	    }
  }
}
#DataNewMembership{
	.modal-body{
		h3{
					font-size: 32px;
					font-family: $titles;
					color:$neutro000;
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				h4{
					font-size: 24px;
					font-family: $titles;
					color:$neutro000;
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				p{
					font-size: 16px;
					color: $neutro400;
					display: block;
					margin: 0 auto 24px;
					text-align: center;
				}
				form{
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					flex-wrap: wrap;
					.form-group{
						display: flex;
						align-items: center;
						justify-content: inherit;
						flex-wrap: wrap;
						align-content: space-between;
					.custom-date{
						.date-look{
							border: 1px solid $neutro300;
							border-radius: $border;
							padding-left: 16px;
							.ico{
								height: 40px;
								top: 2px;
								border-left:1px solid $neutro300;
							}
				        }
					  }
					  .select.type1{
				             .ico{
								width: 40px;
								height: 40px;
								right: 8px;
								border-left: 1px solid $neutro300;
							    left: inherit;
								top: 3px;
								border-radius: 0;
							}
						}
					}
					.custom-radio.custom2{
						background: #FFFFFF;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: 5px;
						height: 49px;
						padding: 0 16px;
						padding-left: 32px;
						margin-top: 0;
						width: 48%;
						label{
							line-height: 49px;
							width: 100%;
							box-shadow: none;
							background: none;
							height: 49px;
							font-family: $text;
							color:$neutro300;
						}
						.custom-control-label:before{
							width: 18px;
							height: 18px;
							border-radius: 2px;
							border-color: $neutro300;
							top: 14px;
							left:-1rem;
							opacity: 1;
							box-shadow: none;
							background: url('../img/check_gray.svg') no-repeat center;
							background-size: 12px auto;
						}
						.custom-control-label::after{
							top: 14px;
							width: 18px;
							height: 18px;
							border-radius: 2px;
							background: none;
							box-shadow: none;
						}
						input:checked + .custom-control-label{
							border:none;
						}
						input:checked + .custom-control-label:before{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
						input:checked + .custom-control-label::after{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
					}
					.memb{
						background: $neutro200;
						padding-top: 24px;
						margin-bottom: 50px;
						h4{
							width: 90%;
							display: block;
							max-width: 475px;
							margin: 0 auto 24px;
							text-align: center;
							padding-bottom: 20px;
							border-bottom:1px solid $neutro400;
						}
					}
					&.files{
						display: flex;
						align-items: stretch;
						justify-content: space-between;
					}
					.tab-pane{
						align-items: stretch;
						justify-content: space-between;
						max-width: 636px;
						margin: 0 auto;
						flex-wrap: wrap;
						&.show{
							display: flex;
						}
					}
	    }
  }
}
#docsPreview{
	.modal-body{
			.docs{
				width: 100%;
				background: $neutro700;
				height: 60vh;
				color:#fff;
				display: flex;
				align-items: center;
				justify-content: center;
			}
	}
}
@media (max-width: 576px){
	#contract_detail{
		.detail{
			.top{
				margin-bottom: 16px;
				flex-wrap: wrap;
				padding-bottom: 0;
				h3{
					width: 100%;
				}
			}
			dl{
				margin-bottom: 0;
				dt{
					width: 100%;
				}
				dd{
					width: 100%;
				}
				&.gray{
					margin-bottom: 16px;
					dt, dd{
						width: 50%;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}