@import 'platform.scss';

header{
	border-right:1px solid $neutro300;
}
#platform{
	background: #fff;
}
#payout-ops{
	#top{
		button{
			&.go-filters{
				max-width: 111px;
				margin-left: 16px;
			}
			&.payout{
				max-width: 200px;
				margin-left: 16px;
			}
		}
		.search{
			width: calc(100% - 360px);
		}
	}
	.begin{
		//margin-top: 40px;
		h3{
			font-size: 24px;
			color:$neutro000;
		}
		.btn-ghost{
			color:$neutro400;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.filters{
		margin-bottom: 40px;
		.card{
			padding: 0;
			background: none;
			border:none;
		}
	}
	table{
		thead{
			tr{
				th{
					border-top:1px solid $primary;
					border-bottom:1px solid $primary;
					color:$primary;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
		tbody{
			tr{
				td{
					font-size: 14px;
					color:$neutro400;
					border-top: none;
					border-bottom: 1px solid $neutro300;
					.form-check.custom{
						input:checked + label{
							img{
								filter: brightness(10);
							}
						}
					}
					.dropdown{
						.dropdown-toggle{
							height: 27px;
							width: 100%;
							max-width: 130px;
							font-size: 14px;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-transform: uppercase;
							padding: 8px 16px;
							font-family: $titles;
							margin: 0;
							position: relative;
							&.complete{
								background: $exito100;
								color::$exito;
							}
							&.pending{
								background:$neutro100;
								color:$neutro;
							}
							&.inProcess{
								background:rgba(242, 157, 66, 0.2);
								color:#F29D42;
							}
							&.cancelled{
								background: $error100;
								color:$error;
							}
							&:after{
								border:none;
								background: url(../img/angle_down.svg) no-repeat center;
								background-size: 12px auto;
								width: 27px;
								height: 27px;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
						.dropdown-menu{
							.dropdown-item{
								color:$neutro;
							}
						}
					}
				}
			}
		}
	}
}