@import 'colores.scss';
@import 'platform.scss';
@import 'styles.scss';

.row.container{
	max-width: 1440px;
}
#contractor_payment{
	.title{
		h3{
			text-align: center;
			font-size: 32px;
			color:$neutro000;
		}
		p{
			width: 100%;
			text-align: center;
			color:$neutro400;
		}
	}
	.payment-type{
		max-width: 1068px;
		.custom-radio{
			position: relative;
			input{
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 130px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;
				img{}
				h4{
					margin-bottom: 0;
				}
			}
		}
	}
}
#payout{
	.row.container{
		max-width: 1068px;
	}
	.payment{
		p strong{
			font-size: 16px;
			font-family: $titles;
			color:$neutro;
			padding-left: 16px;
			margin-bottom: 24px;
		}
		.card-type{
			padding: 24px;
			position: relative;
			padding-top: 16px;
			padding-right: 16px;
			margin-bottom: 24px;
			.actions{
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				.left{
				  display: flex;
				  margin-left: 110px;
				  margin-top: 24px;
				}
				.btn{
					max-width: 109px;
					height: 40px;
					img{
						margin-right: 4px;
					}
				}
				.auto-pay{
					max-width: 140px;
					margin-right: 10px;
				}
				.edit{
					margin-right: 10px;
				}
			}
			.card-md{
				padding:none;
			}
			.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: 100%;
					max-width: 110px;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.inProcess{
						background: $alerta100;
						color:$alerta;
					}
					&.complete{
						background: rgba(54, 207, 130, 0.18);
						color:#36CF82;
					}
					&.pending{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			h5{
				font-size: 21px;
				font-family: $titles;
				color:$neutro000;
				margin-bottom: 8px;
			}
			.info{
				dl{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-bottom: 0;
					dt{
						font-size: 20px;
						font-family: $titles;
						color:$neutro000;
					}
					dd{
						font-size: 20px;
						color: $neutro;
						margin: 0;
						margin-left: 16px;
					}
				}
			}
			.method{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background: $neutro200;
				margin-right: 29px;
				&.payoneer{
					background: rgba(242, 157, 66, 0.2);
				}
				&.paypal{
					background: rgba(5, 148, 205, 0.08);
				}
			}
			h4{
				text-align: left;
				font-size: 24px;
				font-family: $titles;
				color:$neutro000;
				margin-bottom: 10px;
				&.lx{
					margin-right: 60px;
				}
			}
			p{
				text-align: left;
				font-size: 19px;
				color:$neutro400;
				margin-bottom: 10px;
			}
		}
	}
	.main-control{
		margin-top: 24px;
		.row{
			display: flex;
			align-items: flex-end;
		}
		h5{
			color:$neutro800;
			font-family: $titles;
			margin-bottom: 16px;
			font-size: 16px;
			img{
				margin-right: 8px;
				width: 16px;
			}
			.dot{
				display: inline-flex;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				&.upcoming{
					background: $neutro300;
				}
				&.inProcess{
					background: #F29D42;
				}
				&.complete{
					background: #36CF82;
				}
			}
		}
		.moneyPending{
			padding: 24px;
			border-radius: $border2;
			background: $primary;
			color:#fff;
			min-height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap:wrap;
			p{
				font-size: 16px;
				font-family: $semi;
				width: 100%;
				text-align: center;
				color:#fff;
				margin-bottom: 0;
			}
			p.display2{
				font-family: $titles;
				font-size: 50px;
				line-height: 50px;
				margin-bottom: 8px;
			}
		}
		.action-btn{
			width: 145px;
			height: 145px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			align-content: center;
			span{
				width: 100%;
				margin-top: 16px;
			}
			&.disabled{
				box-shadow: none;
				background: transparent;
				border:1px solid $neutro300;
				cursor:no-drop;
				img{
					filter: grayscale(100%);
					opacity: 0.4;
				}
				span{
					color:$neutro300;
				}
			}
		}
	}
	.card-box1{
		position: relative;
	    background: linear-gradient(99.99deg, rgba(255, 90, 112, 0.16) 1.23%, rgba(255, 90, 112, 0.32) 97.87%);;
	    border-radius: 10px;
	    padding: 24px;
	    margin-bottom: 24px;
	    height: 90%;
	    .td{
	    	h3{
				font-size: 32px;
				line-height: 36px;
				color: $primary;
	    	}
	    	p{
	    		font-size: 18px;
				line-height: 22px;
				color: #3B3B3B;

	    	}
	    }
	}
	.card-box2{
		position: relative;
	    background:linear-gradient(259.84deg, #E3E3E3 1.08%, rgba(180, 180, 180, 0.82) 90.59%);
	    border-radius: 10px;
	    padding: 24px;
	    margin-bottom: 24px;
	    height: 90%;
	    .td{
	    	h3{
				font-size: 32px;
				line-height: 36px;
				color: #1C0B11;
	    	}
	    	p{
	    		font-size: 18px;
				line-height: 22px;
				color: #3B3B3B;

	    	}
	    }
	}
	.filters{
		margin-bottom: 40px;
		.card{
			padding: 0;
			background: none;
			border:none;
		}
	}
	.resume{
		padding: 0;
		padding-bottom: 40px;
		border-bottom: 1px solid $neutro400;
		margin-bottom: 32px;
		.pay_state{
			width: 100%;
			padding: 0;
			cursor:pointer;
			height: 100%;
			.card-type{
				padding: 24px;
				border:2px solid #fff;
				transition: all linear 300ms;
				margin-bottom: 16px;
				position: relative;
				width: 100%;
				z-index: 1;
				min-height: 102px;
				h5{
					color:$neutro800;
					font-family: $titles;
					margin-bottom: 16px;
					font-size: 16px;
					img{
						margin-right: 8px;
						width: 16px;
					}
					.dot{
						display: inline-flex;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						&.upcoming{
							background: $neutro300;
						}
						&.inProcess{
							background: #F29D42;
						}
						&.complete{
							background: #36CF82;
						}
					}
				}
				p.display3{
					font-size: 24px;
					color: $neutro400;
					font-family: $titles;
					font-weight: 700;
					padding-left: 32px;
					margin-bottom: 0;
					white-space: nowrap;
				}
				div.btn.btn-ghost{
					font-size: 14px;
					color:$neutro400;
					height: 40px;
					font-family: $semi;
					width: 50px;
					margin-top: 16px;
					img{
						margin-left: 4px;
					}
				}
			}
			
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				opacity: 0;
			}
			&:hover{
				.card-type{
					cursor: pointer;
					border:2px solid $primary;
					background: $primary100;
					p{
						color: $primary;
					}
				}
				
			}
			input:checked + label.card-type{
				cursor: pointer;
				border:2px solid $primary;
				background: $primary100;
				p{
					color: $primary !important;
				}
			}
		}
	}
	.begin{
		//margin-top: 40px;
		h3{
			font-size: 24px;
			color:$neutro000;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		overflow-y: auto;
		.container{
			width: 100%;
			max-width: inherit;
			min-width: 1000px;
			padding: 0;
			padding-top: 16px;
		}
		&.contractor-table{
			.thead{
				margin-bottom: 24px;
			}
			.tbody{
				.item{
					.card-header{
						background: none;
					}
				}
			}
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 56px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width:26%;
				min-width: 40px;
				padding-left: 0;
			}
			&:nth-child(2){
				width: 52%;
			}
			&:nth-child(3){
				width: 40%;
			}
			&:nth-child(4){
				width: 4%;
			}
			&:nth-child(5){
				width: 10%;
			}
			&:nth-child(6){
				width: 7%;
				min-width: 40px;
				padding-left: 0;
			}
			&:nth-child(7){
				width: 7%;
				min-width: 40px;
				padding-left: 0;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		border:none;
		margin: 0;
		.item{
			width: 100%;
			border:none;
			border-radius: 0;
			padding: 0;
			overflow:inherit;
			.card-header{
				width: 100%;
				background: $neutro100;
				margin-bottom: 0;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-bottom: none;
			}
			.collapse{
				width: 100%;
				margin-bottom: 0;
			}
			.traceability{
				padding: 32px;
				border: none;
				box-shadow:none;
				background: none;
				border-radius: $border;
				position: relative;
				.process{
					margin-bottom: 24px;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					max-width: 849px;
					margin: 0 auto 24px;
					h5{
						font-size: 15px;
						font-family: $titles;
						color:$neutro000;
					}
					p.legal{
						font-size: 13px;
						color: $neutro400;
						letter-spacing: 0.5px;
						width: 100%;
						text-align: center;
						font-family: $semi;
						margin-bottom: 0;
						strong{
							font-family: $titles;
						}
						.primary{
							color: $primary;
						}
					}
					.step{
						width: 247px;
						.payment-status{
							width: 100%;
							max-width: 196px;
							margin: 16px 0 auto;
							height: 38px;
							border-radius: $border;
							font-size: 15px;
							display: flex;
							align-items: center;
							justify-content: center;
							img{
								filter: brightness(6);
								width: 16px;
								display: none;
							}
							&.pending{
								border:1px solid $exito;
								color:$exito;
							}
							&.received{
								background: $exito;
								color:#fff;
								img{
									display: inline-flex;
									margin-right: 8px;
								}
							}
						}
					}
				}
				.timeline{
					position: relative;
					height: 32px;
					//margin-bottom: 24px;
					padding-top: 56px;
					padding-bottom: 40px;
				    max-width: 597px;
				    margin: 0 auto;
				    display: block;
					.line{
						width: 100%;
						height: 3px;
						background: $neutro300;
						position: relative;
						z-index: 1;
						left: inherit;
					    margin-left: 0;
					    top: inherit;
					}
					.line-active{
						height: 3px;
						background: $primary;
						position: relative;
						z-index: 2;
						&.first-step{
							width: 15%;
						}
						&.second-step{
							width: 50%;
						}
						&.third-step{
							width: 82%;
						}
						&.fourth-step{
							width: 100%;
						}
					}
					.stage{
						position: absolute;
						top: 0;
						z-index: 2;
						&.begin{
							left: -22px;
							.dot{
								top: 51px;
							}
						}
						&.end{
							right: -18px;
							top: 5px;
							img{
								width: 40px;
								opacity: 0.5;
							}
						}
						&.actually{
							left: 50%;
							top: 44px;
							width: 24px;
							height: 24px;
							border-radius: 50%;
							background: rgba(218,0,16,0.2);
							z-index: 3;
							&.first-step{
								left: 15%;
							}
							&.second-step{
								left: 50%;
							}
							&.third-step{
								left: 82%;
							}
							&.fourth-step{
								left: 97.5%;
							}
							.dot{
								top: 6px;
								left: 6px;
								background: $primary;
							}
						}
					}
					.dot{
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background: $neutro300;
					    position: absolute;
    					top: 47px;
						&.active{
							background: $primary;
						}
					}
				}
				.alert{
					&.alert-info{
						background: $neutro100;
						border:1px solid $neutro300;
						border-radius: $border;
						max-width: 691px;
						margin: 24px auto;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 16px;
						}
						p{
							margin: 0;
							font-size: 14px;
							font-family: $titles;
							color:$neutro000;
							span{
								color:$primary;
							}
						}
					}
				}
				.table.table-striped{
					max-width: 900px;
					margin: 0 auto;
					display: table;
					th{
						font-size: 16px;
						color:$neutro800;
						font-family: $titles;
						border: none;
						background: $neutro100;
					}
					td{
						color:$neutro400;
						font-size: 16px;
						font-family: $text;
						border: none;
					}
					tr:nth-of-type(odd){
						background: transparent;
					}
					tr:nth-of-type(even){
						background: $neutro100;
					}
				}
				tr.resumen{
					background: transparent !important;
					td{
						padding: 6px;
						&:first-child{
							font-size: 16px;
							font-family: $titles;
							color:$neutro900;
							text-align: right;
						}
						&:last-child{
							color:$neutro;
							font-size: 16px;
							font-family: $text;
							width: 20%;
						}
					}
					&:first-child{
						td{
							border-top:1px solid $neutro400;
						}
					}
					&:last-child{
						td:last-child{
							font-size: 18px;
							color:$neutro900;
							font-family: $titles;
						}
					}
				}
			}
			.td{
				padding: 8px;
				height: 56px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro400;
				font-size: 14px;
				&:first-child{
					width:20%;
					min-width: 40px;
					padding-left: 0;
				}
				&:nth-child(2){
					width: 38%;
					flex-wrap: wrap;
					p{
						font-size: 14px;
						color:$neutro400;
						margin-bottom: 0;
						width: 100%;
					}
				}
				&:nth-child(3){
					width: 33%;
				}
				&:nth-child(4){
					width: 9%;
				}
				.method{
					width: 58px;
					height: 58px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $neutro100;
					&.payoneer{
						background: rgba(242, 157, 66, 0.2);
					}
					&.paypal{
						background: rgba(5, 148, 205, 0.08);
					}
				}
				p.display2{
					color:$primary;
					font-size: 24px;
					font-family: $titles;
				}
				h4{
					font-size: 20px;
					color:$neutro000;
					width: 100%;
					margin-bottom: 0;
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: 100%;
					max-width: 110px;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.inProcess{
						background: $alerta100;
						color:$alerta;
					}
					&.complete{
						background: rgba(54, 207, 130, 0.18);
						color:#36CF82;
					}
					&.pending{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							//transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
	.payment-cards{
		padding: 24px;
		.payment-card{
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding: 16px;
				margin-bottom: 16px;
				min-height: 40px;
				height: auto;
				position: relative;
				z-index: 2;
				&:last-child{
					margin-bottom: 0;
				}
				dt{
					width: 40%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 60%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
					.upload{
						background: none;
						border:none;
						width: 56px;
						height: 40px;
						font-size: 12px;
						color:$neutro400;
						font-family: $titles;
						flex-wrap: wrap;
						img{
							width: 24px;
						}
					}
					.method{
						width: 36px;
						height: 36px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: $neutro100;
						margin-right: 12px;
						img{
							width: 24px;
						}
						&.payoneer{
							background: rgba(242, 157, 66, 0.2);
						}
						&.paypal{
							background: rgba(5, 148, 205, 0.08);
						}
					}
					p{
						display: inline-flex;
						margin-bottom: 0;
						width: calc(100% - 50px);
						flex-wrap: wrap;
						color:$neutro000;
						font-family: $titles;
						font-size: 12px;
						small{
							font-size: 10px;
							color:$neutro400;
							font-family: $text;
						}
					}
				}
				.badge{
					height: 22px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: auto;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.opener{
					height: 33px;
					padding: 0;
				}
			}
			.traceability{
				position: relative;
				z-index: 1;
				padding-top: 56px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
				top: -7px;
				.process{
					h5{
						font-size: 15px;
						font-family: $titles;
						color:$neutro000;
					}
					p.legal{
						font-size: 13px;
						color: $neutro400;
						letter-spacing: 0.5px;
						width: 100%;
						text-align: center;
						font-family: $semi;
						margin-bottom: 0;
						strong{
							font-family: $titles;
						}
					}
					
				}
				.timeline{
					position: relative;
					width: 100%;
					//margin-bottom: 24px;
					height: auto;
				    display: inline-block;
				    margin: 0 auto;
				    padding: 0 40px;
					.line{
						height: 60%;
						width: 3px;
						background: $neutro300;
						position: absolute;
						z-index: 1;
						left: 60px;
					    margin-left: 0;
					    top: inherit;
					}
					.line-active{
						width: 3px;
						background: $primary;
						position: relative;
						z-index: 2;
						position: absolute;
						&.first-step{
							height: 15%;
						}
						&.second-step{
							height: 50%;
						}
						&.third-step{
							height: 82%;
						}
						&.fourth-step{
							height: 100%;
						}
					}
					.stage{
						position: relative;
						z-index: 2;
						width: 100%;
						padding-left: 48px;
						img{
							position: absolute;
							left: -20px;
						}
						&.begin{
						    left: 0;
						    top: -16px;
							.dot{
								top: 5px;
							}
							img{
								width: 32px;
							}
						}
						&.end{
							margin-top: 40px;
							img{
								width: 29px;
								opacity: 0.5;
							}
							.dot{
								top: 8px;
							}
						}
						&.actually{
						    left:50px;
    						top: 21px;
							width: 24px;
							height: 24px;
							border-radius: 50%;
							background: rgba(218,0,16,0.2);
							z-index: 3;
							padding: 0;
							position: absolute;
							&.first-step{
								left: 15%;
							}
							&.second-step{
								left: 50%;
							}
							&.third-step{
								left: 82%;
							}
							&.fourth-step{
								left: 97.5%;
							}
							.dot{
								top: 6px;
								left: 6px;
								background: $primary;
							}
						}
						.step{
							width: 100%;
							max-width: 180px;
							.payment-status{
								width: 100%;
								max-width: 196px;
								margin: 0 auto;
								height: 38px;
								border-radius: $border;
								font-size: 12px;
								display: flex;
								align-items: center;
								justify-content: center;
								img{
									filter: brightness(6);
									width: 16px;
									display: none;
								}
								&.pending{
									border:1px solid $exito;
									color:$exito;
								}
								&.received{
									background: $exito;
									color:#fff;
									img{
										display: inline-flex;
										margin-right: 8px;
									}
								}
							}
						}
					}
					.dot{
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background: $neutro300;
					    position: absolute;
    					//top: 47px;
    					left: 15px;
						&.active{
							background: $primary;
						}
					}
				}
				.alert{
					width: 90%;
					margin: 0 auto;
					&.alert-info{
						background: $neutro100;
						border:1px solid $neutro300;
						border-radius: $border;
						max-width: 691px;
						margin: 24px auto;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 16px;
						}
						p{
							margin: 0;
							font-size: 14px;
							font-family: $titles;
							color:$neutro000;
							span{
								color:$primary;
							}
						}
					}
				}
			}
		}
	}
}
#payout-client{
	.row.container{
		max-width: 1068px;
	}
	.empty_state2{
		width: 100vw;
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			//border: 2px dashed $neutro600;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 90%;
			max-width: 618px;
			height: 90%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	.empty_state{
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			border: 2px dashed $neutro600;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 100%;
			// height: 90%;
			// max-height: 392px;
			min-height: 315px;
			padding: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: $neutro100;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	#top{
		button{
			&.go-filters{
				max-width: 111px;
				margin-left: 16px;
			}
			&.payout{
				max-width: 200px;
				margin-left: 16px;
			}
		}
		.search{
			width: calc(100% - 360px);
		}
	}
	.accordion{
		background: transparent;
		.card{
			background: none;
			border:none;
			width: 100%;
			.card-header{
				border:none;
				background: none;
				padding-left: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				.historic{
					width: auto;
					max-width: 300px;
					font-size: 16px;
					font-family: $semi;
					img{
						margin-right: 8px;
					}
				}
			}
			.card-body{
				background: rgba(255,255,255,0.38);
				border-radius: $border;
				border:1px solid $neutro300;
				padding: 32px 48px;
			}
		}
		h3{
			text-align: left;
			button{
				font-size: 25px;
				color:$neutro000;
				width: auto;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				img{
					margin-left: 16px;
				}
			}
		}
	}
	.date-time{
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		p{
			font-size: 20px;
			color:$neutro400;
			margin-bottom: 0;
		}
		button{
			color:$neutro400;
			font-size: 20px;
			max-width: 300px;
			justify-content: flex-end;
		}
	}
	.resume{
		padding: 0;
		padding-bottom: 40px;
		//border-bottom: 1px solid $neutro400;
		margin-bottom: 32px;
		position: relative;
		.pay_state{
			width: 100%;
			padding: 0;
			cursor:pointer;
			//height: 100%;
			margin-bottom: 32px;
			.card-type{
				padding: 24px;
				border:2px solid #fff;
				transition: all linear 300ms;
				margin-bottom: 16px;
				position: relative;
				width: 100%;
				z-index: 1;
				min-height: 102px;
				h5{
					color:$neutro800;
					font-family: $titles;
					margin-bottom: 16px;
					font-size: 16px;
					text-align: center;
					img{
						margin-right: 8px;
						width: 16px;
					}
					.dot{
						display: inline-flex;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						background: $neutro300;
						&.complete{
							background: $exito;
						}
					}
				}
				&.inProcess{
					h5{
						.dot{
							background: #F29D42;
						}
					}
					p.display3{
						color:#F29D42;
					}
				}
				&.complete{
					h5{
						.dot{
							background: $exito;
						}
					}
					p.display3{
						color:$exito;
					}
				}
				p.display3{
					font-size: 24px;
					color: $neutro400;
					font-family: $titles;
					font-weight: 700;
					//padding-left: 32px;
					margin-bottom: 0;
					white-space: nowrap;
					text-align: center;
				}
				div.btn.btn-ghost{
					font-size: 14px;
					color:$neutro400;
					height: 40px;
					font-family: $semi;
					width: 50px;
					margin-top: 16px;
					img{
						margin-left: 4px;
					}
				}
			}
		}
		.timeline{
			position: relative;
			height: 32px;
			//margin-bottom: 24px;
			//padding-top: 56px;
			padding-bottom: 32px;
		    display: block;
			.line{
				width: 100%;
				height: 3px;
				background: $neutro300;
				position: relative;
				z-index: 1;
				left: inherit;
			    margin-left: 0;
			    top: inherit;
			    max-width: 654px;
			    margin: 0 auto;
			}
			.line-active{
				height: 3px;
				background: $primary;
				position: relative;
				z-index: 2;
				&.first-step{
					width: 15%;
				}
				&.second-step{
					width: 50%;
				}
				&.third-step{
					width: 82%;
				}
				&.fourth-step{
					width: 100%;
				}
			}
			.stage{
				position: relative;
				//width: 100%;
				z-index: 2;
				&.begin{
					//left: -22px;
					.dot{
						left:-5px
					}
				}
				&.end{
					//right: -18px;
					//top: 5px;
					img{
						width: 40px;
						opacity: 0.5;
					}
				}
				&.middle{
					//left: 50%;
					top: -15px;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: rgba(218,0,16,0.2);
					z-index: 3;
					&.first-step{
						left: 0%;
					}
					&.second-step{
						left: 50%;
					}
					&.third-step{
						left: 100%;
					}
					.dot{
						top: 6px;
						left: 6px;
						background: $primary;
					}
				}
			}
			.dot{
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $neutro300;
			    position: absolute;
				top: -8px;
				&.active{
					background: $primary;
				}
			}
		}
		.description{
			text-align: center;
			h5{
				font-size: 15px;
				color:$neutro000;
				text-align: center;
				width: 100%;
			}
			p{
				color:$neutro400;
				font-size: 15px;
				text-align: center;
				width: 100%;
			}
		}
	}
	.begin{
		//margin-top: 40px;
		h3{
			font-size: 24px;
			color:$neutro000;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		width: calc(100% + 30px);
		.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 12%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 13%;
				}
				&:nth-child(4){
					width: 19%;
				}
				&:nth-child(5){
					width: 13%;
				}
				&:nth-child(6){
					width: 18%;
				}
				&:nth-child(7){
					width: 12%;
				}
				&:nth-child(8){
					width: 5%;
					min-width: 40px;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			overflow: auto;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				min-width: 1039px;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 12%;
					}
					&:nth-child(3){
						width: 13%;
					}
					&:nth-child(4){
						width: 19%;
					}
					&:nth-child(5){
						width: 13%;
					}
					&:nth-child(6){
						width: 18%;
					}
					&:nth-child(7){
						width: 12%;
						img{
							margin: 0;
						}
					}
					&:nth-child(8){
						width: 5%;
						min-width: 40px;
						img{
							margin: 0;
						}
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								width: auto;
								img{
									margin-right: 8px;
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.complete{
							background: $exito100;
							color:$exito;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				}
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
#payment-ops{}

#holderInfo{
	.modal-dialog{
		.modal-content{
			.modal-body{
				padding-top: 0;
				form{
					.form-group{
						display: flex;
					    flex-wrap: wrap;
					    align-content: space-between;
					    label{
					    	font-size: 14px;
					    	color:$neutro400;
					    	font-family: $semi;
					    	span{
					    		font-style: italic;
					    		font-family: $text;
					    	}
					    }
						.upload-file{
							width: 100%;
							.look{
								max-width: inherit;
							}
						}
					}
				}
			}
		}
	}
}
#bankInfo{
	.modal-dialog{
		.modal-body{
			form{
				legend{
					font-size: 20px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					font-family: $titles;
				}
				fieldset{
					margin-bottom: 24px;
				}
			}
			.full{
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		label{
			font-family: $titles;
			color:$neutro400;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
			font-family: $text;
			color:$neutro000;
		}
	}
	.pink{
		color:$primary;
	}
	.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
			 }
		  }
	   }
	}
}
#extraPayAdded, #extraPayDeleted{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
			}
		}
	}
}
#accountHolder{
	h4{
		text-align: center;
		margin-bottom: 32px;
	}
	.modal-body{
		padding-top: 0;
		padding-bottom: 56px;
	}
	.actions{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 200px;
		margin: 0 auto;
		a{
			width: 102px;
			font-size: 20px;
		}
		button{
			width: 102px;
			font-size: 20px;
			margin: 8px;
		}
	}
}
#addPayment{
	.custom-radio{
		position: relative;
		input{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0;
			
		}
		label{
			border:1px solid $neutro200;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 77px;
			border-radius: $border;
			margin-bottom: 0;
			span{
				font-size: 12px;
				font-family: $titles;
				color:$neutro;
			}
			img{
				filter: grayscale(100%);
			}
		}
		input:checked + label{
			border-color:$primary;
			background: $primary100;
			span{
				color: $primary;
			}
			img{
				filter: grayscale(0%);
			}
		}
	}
}
#contactReason{
	.custom-control{
		&.custom-checkbox{
			margin-bottom: 24px;
			input{
				position: absolute;
			}
			label.custom-control-label{
				line-height: 27px;
				&:before{
				    width: 18px;
				    height: 18px;
				    border-radius: 2px;
				    border-color: $neutro300;
				    top: 3px;
				    left: -25px;
				    opacity: 1;
				    box-shadow: none;
				    background: url(../img/check_gray.svg) no-repeat center transparent !important;
				}
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				//background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
	}
}
#summary{
	.table.table-striped{
		
		display: table;
		th{
			font-size: 16px;
			color:$neutro800;
			font-family: $titles;
			border: none;
			background: $neutro100;
		}
		td{
			color:$neutro400;
			font-size: 16px;
			font-family: $text;
			border: none;
		}
		tr:nth-of-type(odd){
			background: transparent;
		}
		tr:nth-of-type(even){
			background: $neutro100;
		}
	}
	tr.resumen{
		background: transparent !important;
		td{
			padding: 6px;
			&:first-child{
				font-size: 16px;
				font-family: $titles;
				color:$neutro900;
				text-align: right;
			}
			&:last-child{
				color:$neutro;
				font-size: 16px;
				font-family: $text;
				width: 20%;
			}
		}
		&:first-child{
			td{
				border-top:1px solid $neutro400;
			}
		}
		&:last-child{
			td:last-child{
				font-size: 18px;
				color:$neutro900;
				font-family: $titles;
			}
		}
	}
}
#wiretransfer{
	h3{
		width: 100;
		text-align: center;
		font-size: 32px;
		margin-bottom: 20px;
	}
	p{
		font-size: 18px;
		max-width: 531px;
		text-align: center;
		strong{
			font-family: $titles;
		} 
	}
	.form-group{
		.select.type1{
			.select-look{
				font-size: 16px;
				color:$neutro900;
				.ico{
					border-left: 1px solid $neutro300;
					height: 41px;
					border-radius: 0;
					top: 3px;
				}
			}
		}
	}
	.bankdetail{
		.total-due{
			background: url(../img/ticket-top.svg) no-repeat center bottom;
			background-size: 100% auto;
			border-radius: 20px 20px 0 0;
			overflow: hidden; 
			height: auto;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 32px;
			h4{
				font-size: 19px;
				color: $neutro000;
				font-family: $text;
				margin-bottom: 0;
			}
			h3{
				font-size: 19px;
				color: $primary;
				font-family: $titles;
				width: auto;
				margin-bottom: 0;
			}
		}
		.line{
			width: 100%;
			border-top: 1px dashed $neutro000;
			margin-bottom: 20px;
		}
		.details{
			background: #f5f5f5;
			padding: 24px;
			dl{
				 width: 100%;
				 display:flex;
				 align-items: center;
				 justify-content: center;
				 margin-bottom: 0;
				 dt{
				 	color:$neutro400;
				 	font-family: $titles;
				 	width: 45%;
				 	text-align: right;
			     }
			     dd{
			     	color: $neutro000;
			     	font-family: $titles;
			     	width:55%;
			     	padding-left: 16px;
			     	display: inline-flex;
			     	align-items:center;
			     	justify-content: space-between;
			     	margin-bottom: 0;
			     	button{
			     		width: 24px;
			     		height: 24px;
			     		display: inline-flex;
			     		align-items: center;
			     		justify-content: center;
			     	}

			    }
			}
		}
		.bottom{
			background: url(../img/ticket-bottom.svg) no-repeat center bottom;
			background-size: 100% auto;
			height: auto;
			padding: 24px;
			padding-top: 0;
			padding-bottom: 32px;
			.btn-ghost{
				height: 32px;
				margin: 0 auto;
				margin-top: 20px;
			}
		}
	}
}
#uploadreceipt{
	.modal-body{
		padding: 0;
	}
	.total-due{
			overflow: hidden; 
			height: auto;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 124px;
			h4{
				font-size: 19px;
				color: $neutro000;
				font-family: $text;
				margin-bottom: 0;
			}
			h3{
				font-size: 19px;
				color: $primary;
				font-family: $titles;
				width: auto;
				margin-bottom: 0;
			}
		}
		.line{
			width: 60%;
			border-top: 1px dashed $neutro000;
			margin-bottom: 20px;
			margin:0 auto;
		}
	h3{
		font-size: 30px;
		font-family: $titles;
		color:$neutro000;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		font-size: 16px;
		color: $neutro400;
		display: block;
		margin: 0 auto 15px;
		text-align: center;
		margin-top: 20px;
	}
	form{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		.form-group{
			display: flex;
			align-items: center;
			justify-content: inherit;
			flex-wrap: wrap;
			align-content: space-between;
			margin-bottom: none;
		}
		.custom-date{
			.date-look{
				padding-left: 16px;
				span{
					font-size: 17px;
					color:$neutro300;
				}
				.ico{
					width: 48px;
					height: 42px;
					border-left: 1px solid $neutro300;
					top: 2px;
					img{}
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			width: 48%;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
				background: url('../img/check_gray.svg') no-repeat center;
				background-size: 12px auto;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
		.director{
			background: $neutro200;
			padding-top: 24px;
			h4{
				width: 90%;
				display: block;
				max-width: 475px;
				margin: 0 auto 24px;
				text-align: center;
				padding-bottom: 20px;
				border-bottom:1px solid $neutro400;
			}
		}
		&.files{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tab-pane{
			align-items: stretch;
			justify-content: space-between;
			max-width: 636px;
			margin: 0 auto;
			flex-wrap: wrap;
			&.show{
				display: flex;
			}
		}
		.upload-file{
			background: $neutro100;
			border:1px dashed $neutro400;
			border-radius: $border2;
			padding: 24px;
			width: 32%;
			max-width: 360px;
			position: relative;
			h5{
				font-size: 18px;
				color:$neutro400;
				font-family: $titles;
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				font-size: 14px;
				color:$neutro400;
				text-align: center;
			}
			&.drop{
				border-color:$primary;
			}
			.state-empty{
				position: relative;
				z-index: 1;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				p{
					font-size: 12px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					strong{
						font-family: $titles;
						margin-right: 4px;
					}
					span{
						color:$primary;
					}
				}
				.btn-upload{
					border-color:$neutro200;
					color:$primary;
					margin: 0 auto;
					img{
						display: inline-block;
						margin: 0;
						margin-right: 16px;
					}
					&:hover{
						background: $primary;
						color:#fff;
						img{
							filter: brightness(10);
						}
					}
				}
				&.off{
					display: none;
				}
			}
			.state-charged{
				position: relative;
				z-index: 1;
				.doc{
					background: #fff;
					border:1px solid $neutro200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 16px;
					border-radius: 3px;
					position: relative;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 32px;
					}
					p.name{
						width: 100%;
						text-align: center;
						font-size: 11px;
						color:$neutro400;
						font-family: $titles;
						margin-bottom: 0;
					}
					.check{
						position: absolute;
						background: $exito200;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						top: -10px;
						right: -10px;
						img{
							width: 12px;
							margin: 0;
						}
					}
				}
				.actions{
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					.btn-ghost{
						width: auto;
						font-size: 15px;
						&.just-icon{}
					}
				}
				&.off{
					display: none;
				}
			}
			.drop-state{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $primary;
				color:#fff;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				border-radius: $border2;
				opacity: 0;
				z-index: 0;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				span{
					font-size: 21px;
					font-family: $titles;
					width: 100%;
					text-align: center;
				}
				&.active{
					opacity: 1;
					z-index: 3;
				}
			}
			&.double{
				width: 60%;
			}
			&.unique{
				width: 100%;
				max-width: inherit;
				justify-content: center;
			}
			.list{
				.custom-control.custom-radio.custom2{
					width: 100%;
					border:none;
					background-color: transparent;
					height: auto;
					label{
						height: auto;
						line-height: 1.2;
						color:$neutro400;
						&:before{
							top: 0;
						}
						&:after{
							top: 0;
						}
					}
				}
			}
		}
		.alert{
			display: flex;
			align-items: start;
			justify-content: flex-start;
			p{
				max-width: inherit;
				text-align: left;
				margin-left: 16px;
			}
		}
	}
	.nav-tabs{
		min-height: inherit;
		padding: 16px;
		background: none;
		justify-content: center;
		.nav-item{
			.nav-link{
				margin: 0 8px;
				padding: 0;
				height: auto;
				width: 210px;
				.custom-control.custom-radio.custom2{
					border:none;
					width: auto;
					label{
						padding-left: 16px;
					}
				}
				&.active{
					.custom-control.custom-radio.custom2{
						border:none;
						width: auto;
						label{
							&:before{
								background-color: $primary;
								border-color:$primary;
								background-image: url('../img/check.svg');
							}
							&:after{}
						}
					}
				}
			}
		}
	}
}
#wiresuccessfull{
	img{
		display: block;
        margin: 0 auto;
	}
	h4{
		margin-top: 24px;
	    font-size: 22px;
	    color: $neutro000;
	    width: 100%;
	    text-align: center;
	}
	p{
		text-align: center;
	}
}
#credit-card{
	.modal-body{
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
	}
	.form-group{
		.type1{
		}
		label{
			margin-bottom: 10px;
		}
	}
	img{
		display: block;
        margin: 0 auto;
    }
	.custom-control{
		margin: 0 auto;
		margin-bottom: 20px;
	}
	label{
		position: relative;
	    margin-bottom: 0;
	    vertical-align: top;
	}
	.w-tooltip{
			button{
				background: transparent;
				margin-left: 8px;
		}
	}
	.full{
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		label{
			font-family: $titles;
			color:$neutro400;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
			font-family: $text;
			color:$neutro000;
		}
	}
	.pink{
		color:$primary;
	}
	.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
		}
	}
}
#card-added{
	img{
		display: block;
        margin: 0 auto;
	}
	h4{
		margin-top: 24px;
	    font-size: 22px;
	    color: $neutro000;
	    width: 100%;
	    text-align: center;
	}
}
#upcoming-payment{
	.row.container{
		max-width: 1068px;
	}
	.empty_state2{
		width: 100vw;
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			//border: 2px dashed $neutro600;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 90%;
			max-width: 618px;
			height: 90%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	.empty_state{
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			border: 2px dashed $neutro600;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 100%;
			// height: 90%;
			// max-height: 392px;
			min-height: 315px;
			padding: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: $neutro100;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	#top{
		h2{
			font-size: 32px;
			margin-bottom: 60px;
			margin-top: 20px;
		}
		button{
			&.go-filters{
				max-width: 111px;
				margin-left: 16px;
			}
			&.payout{
				max-width: 200px;
				margin-left: 16px;
			}
		}
	}
	.accordion{
		background: transparent;
		.card{
			background: none;
			border:none;
			width: 100%;
			.card-header{
				border:none;
				background: none;
				padding-left: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				.historic{
					width: auto;
					max-width: 300px;
					font-size: 16px;
					font-family: $semi;
					img{
						margin-right: 8px;
					}
				}
			}
			.card-body{
				background: rgba(255,255,255,0.38);
				border-radius: $border;
				border:1px solid $neutro300;
				padding: 32px 48px;
			}
		}
		h3{
			text-align: left;
			button{
				font-size: 25px;
				color:$neutro000;
				width: auto;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				img{
					margin-left: 16px;
				}
			}
		}
	}
	.date-time{
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		p{
			font-size: 20px;
			color:$neutro400;
			margin-bottom: 0;
		}
		button{
			color:$neutro400;
			font-size: 20px;
			max-width: 300px;
			justify-content: flex-end;
		}
	}
	.resume{
		padding: 0;
		padding-bottom: 40px;
		//border-bottom: 1px solid $neutro400;
		margin-bottom: 32px;
		position: relative;
		.pay_state{
			width: 100%;
			padding: 0;
			cursor:pointer;
			//height: 100%;
			margin-bottom: 32px;
			.card-type{
				padding: 24px;
				border:2px solid #fff;
				transition: all linear 300ms;
				margin-bottom: 16px;
				position: relative;
				width: 100%;
				z-index: 1;
				min-height: 102px;
				h5{
					color:$neutro800;
					font-family: $titles;
					margin-bottom: 16px;
					font-size: 16px;
					text-align: center;
					img{
						margin-right: 8px;
						width: 16px;
					}
					.dot{
						display: inline-flex;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						background: $neutro300;
						&.complete{
							background: $exito;
						}
					}
				}
				&.inProcess{
					h5{
						.dot{
							background: #F29D42;
						}
					}
					p.display3{
						color:#F29D42;
					}
				}
				&.complete{
					h5{
						.dot{
							background: $exito;
						}
					}
					p.display3{
						color:$exito;
					}
				}
				p.display3{
					font-size: 24px;
					color: $neutro400;
					font-family: $titles;
					font-weight: 700;
					//padding-left: 32px;
					margin-bottom: 0;
					white-space: nowrap;
					text-align: center;
				}
				div.btn.btn-ghost{
					font-size: 14px;
					color:$neutro400;
					height: 40px;
					font-family: $semi;
					width: 50px;
					margin-top: 16px;
					img{
						margin-left: 4px;
					}
				}
			}
		}
		.timeline{
			position: relative;
			height: 32px;
			//margin-bottom: 24px;
			//padding-top: 56px;
			padding-bottom: 32px;
		    display: block;
			.line{
				width: 100%;
				height: 3px;
				background: $neutro300;
				position: relative;
				z-index: 1;
				left: inherit;
			    margin-left: 0;
			    top: inherit;
			    max-width: 654px;
			    margin: 0 auto;
			}
			.line-active{
				height: 3px;
				background: $primary;
				position: relative;
				z-index: 2;
				&.first-step{
					width: 15%;
				}
				&.second-step{
					width: 50%;
				}
				&.third-step{
					width: 82%;
				}
				&.fourth-step{
					width: 100%;
				}
			}
			.stage{
				position: relative;
				//width: 100%;
				z-index: 2;
				&.begin{
					//left: -22px;
					.dot{
						left:-5px
					}
				}
				&.end{
					//right: -18px;
					//top: 5px;
					img{
						width: 40px;
						opacity: 0.5;
					}
				}
				&.middle{
					//left: 50%;
					top: -15px;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: rgba(218,0,16,0.2);
					z-index: 3;
					&.first-step{
						left: 0%;
					}
					&.second-step{
						left: 50%;
					}
					&.third-step{
						left: 100%;
					}
					.dot{
						top: 6px;
						left: 6px;
						background: $primary;
					}
				}
			}
			.dot{
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $neutro300;
			    position: absolute;
				top: -8px;
				&.active{
					background: $primary;
				}
			}
		}
		.description{
			text-align: center;
			h5{
				font-size: 15px;
				color:$neutro000;
				text-align: center;
				width: 100%;
			}
			p{
				color:$neutro400;
				font-size: 15px;
				text-align: center;
				width: 100%;
			}
		}
	}
	.begin{
		//margin-top: 40px;
		h3{
			font-size: 24px;
			color:$neutro000;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		width: calc(100% + 30px);
		.thead{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 16px;
			padding-right: 16px;
			.th{
				color:$primary;
				font-weight: 700;
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 15px;
				color:$neutro000;
				font-family:$titles;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 18%;
					//padding-left: 56px;
				}
				&:nth-child(3){
					width: 16%;
				}
				&:nth-child(4){
					width: 16%;
				}
				&:nth-child(5){
					width: 9%;
				}
				&:nth-child(6){
					width: 18%;
				}
				&:nth-child(7){
					width: 12%;
				}
				&:nth-child(8){
					width: 5%;
					min-width: 40px;
				}
			}
		}
		.tbody{
			width: 100%;
			padding-bottom: 24px;
			overflow: auto;
			.item{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right: 16px;
				background: $neutro100;
				margin-bottom: 24px;
				min-width: 1039px;
				flex-wrap: wrap;
				.td{
					padding: 8px;
					height: 90px;
					display: inline-flex;
					justify-content: flex-start;
					align-items: center;
					color:$neutro700;
					font-size: 15px;
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 19%;
					}
					&:nth-child(3){
						width: 15%;
					}
					&:nth-child(4){
						width: 14%;
					}
					&:nth-child(5){
						width: 13%;
					}
					&:nth-child(6){
						width: 16%;
					}
					&:nth-child(7){
						width: 12%;
						img{
							margin: 0;
						}
					}
					&:nth-child(8){
						width: 5%;
						min-width: 40px;
						img{
							margin: 0;
						}
					}
					&.bold{
						color:$neutro000;
				        font-family:$titles;
				        margin-right: 20px;
					}
					button{
						width: 40px;
						height: 40px;
						background:transparent;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						color: $neutro700;
						border-radius:0;
						&:hover{
							color:$primary;
							border-bottom: 2px solid $primary;
						}
					}
					img{
						margin-right: 8px;
					}
					.dropdown{
						width: 100%;
						button{
							&:hover{
								border:none;
							}
						}
						.dropdown-menu{
							border:none;
							padding: 16px;
							.dropdown-item{
								border-bottom: 1px solid $neutro200;
								height: 40px;
								line-height: 31px;
								padding-left: 8px;
								font-size: 14px;
								width: auto;
								img{
									margin-right: 8px;
									filter: grayscale(100%);
								}
								&:last-child{
									border:none;
								}
							}
						}
					}
					.badge{
						height: 25px;
						border-radius: 20px;
						font-size: 12px;
						font-family: $titles;
						//width: 100%;
						border:none;
						text-transform: none;
						text-align: left;
						justify-content: flex-start;
						line-height: 20px;
					    vertical-align: inherit;
					    padding: 0;
						padding: 0 16px 0 0;
					    position: relative;
						&:before{
						    content: '•';
						    width: 24px;
						    text-align: center;
						    font-size: 22px;
						    display: inline-block;
						}
						&:hover{
							border:none;
						}
						&.no-dot{
							justify-content: center;
							&:before{
								content: '';
								width: 1px;
							}
						}
						&.pending{
							background: $error100;
							color:$error;
						}
						&.wait{
							background: $alerta100;
							color:$alerta;
						}
						&.complete{
							background: $exito100;
							color:$exito;
						}
						&.ended{
							background:$neutro200;
							color:$neutro;
							&:before{
								color:$neutro600;
							}
						}
						&.warn{
							background:$error100;
							color:$error;
						}
					}
				}
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
#Approve{
	p{
		text-align: center;
		color:$primary;
	}
}
#EditAmount{
	h4{
		margin-bottom:none;
	}
	.cname{
		background: $neutro200;
		border-radius: 5px;
		margin-bottom: 20px;
		height: 54px;
		h3{
			font-size: 18px;
			font-weight: 400;
			color:$neutro400;
			margin-top: 11px;

		}
	}
}
#ConfirmAmount{
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 16px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 16px;
			font-family: $titles;
			color:$neutro000;
			width: 48%;
			text-align: center;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: center;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
	    }

	}
}
#ExtraPayment{
	h4{
		margin-bottom:none;
	}
	.cname{
		background: $neutro200;
		border-radius: 5px;
		margin-bottom: 20px;
		height: 54px;
		h3{
			font-size: 18px;
			font-weight: 400;
			color:$neutro400;
			margin-top: 11px;

		}
	}
}
#ExtraPaymentGroup{
	h4{
		margin-bottom:none;
	}
	.cname{
		background: $neutro200;
		border-radius: 5px;
		margin-bottom: 20px;
		height: 54px;
		h3{
			font-size: 18px;
			font-weight: 400;
			color:$neutro400;
			margin-top: 11px;

		}
	}
}
#ConfirmExtra{
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 16px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 16px;
			font-family: $titles;
			color:$neutro000;
			width: 48%;
			text-align: center;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: center;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
	    }

	}
}
#ConfirmExtraGroup{
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 16px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 16px;
			font-family: $titles;
			color:$neutro000;
			width: 48%;
			text-align: center;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: center;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
	    }

	}
}
#auto-pay-enable{
	p{
		text-align:center;
	}
}
#auto-pay-disable{
	p{
		text-align:center;
	}
}
#successfullautopayoff{
	img{
        margin-bottom: 25px;
        margin-left: 116px;
	}
	h4{
		text-align:center;
	}
	p{
		text-align:center;
	}
}
#successfullautopayon{
	img{
        margin-bottom: 25px;
        margin-left: 116px;
	}
	h4{
		text-align:center;
	}
	p{
		text-align:center;
	}
}
#invoice-summary{
    .modal-content{
        .modal-header{
            padding-bottom: 0;
            padding-top: 24px;
            h4{
                font-size: 16px;
                color:$neutro000;
                font-family: $titles;
                width: 100%;
                text-align: center;
            }
        }
        .modal-body{
            margin-top: 50px;
            padding-top: 0;
            padding-bottom: 16px;
            padding-left: 40px;
            padding-right: 40px;
            h4{
                margin-top: 16px;
                margin-bottom: 24px;
                font-size: 16px;
                color:$neutro400;
            }
            dl{
                margin: 0;
                display: flex;
                margin-bottom: 6px;
                dd{
                    font-size: 16px;
                    font-family: $titles;
                    color:$neutro000;
                    margin: 0;
                }
                dt{
                    font-size: 16px;
                    color:$neutro400;
                    font-family: $text;
                    margin: 0;
                }
            }
            .table.table-striped{
                display: table;
                th{
                    font-size: 12px;
                    color:$neutro800;
                    font-family: $titles;
                    border: none;
                    background: $neutro100;
                }
                td{
                    color:$neutro400;
                    font-size: 12px;
                    font-family: $text;
                    border: none;
                }
                tr:nth-of-type(odd){
                    background: transparent;
                }
                tr:nth-of-type(even){
                    background: $neutro100;
                }
            }
            tr.resumen{
                background: transparent !important;
                td{
                    padding: 6px;
                    &:first-child{
                        font-size: 16px;
                        font-family: $titles;
                        color:$neutro900;
                        text-align: right;
                    }
                    &:last-child{
                        color:$neutro;
                        font-size: 16px;
                        font-family: $text;
                        width: 20%;
                    }
                }
                &:first-child{
                    td{
                        border-top:1px solid $neutro400;
                    }
                }
                &:last-child{
                    td:last-child{
                        font-size: 18px;
                        color:$neutro900;
                        font-family: $titles;
                    }
                }
            }
            .card-type4{
                margin-bottom: 16px;
                //padding: 16px;
                min-height: 88px;
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                padding: 0;
               &.payment-method{
                min-height: 55px;
               } 
                input{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    opacity: 0;
                }
                label{
                    width: 100%;
                    height: 127px;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    &:before{
                        display: none;
                    }
                    &:after{
                        display: none;
                    }
                }
                .td{
                padding: 8px;
                height: 56px;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                color:$neutro400;
                font-size: 14px;
                &:first-child{
                    width:22%;
                    min-width: 40px;
                    padding-left: 14px;
                }
                &:nth-child(2){
                    width: 39%;
                    flex-wrap: wrap;
                }
                &:nth-child(3){
                    width: 33%;
                }
                input:checked + label{
                    background: $primary100;
                    border: 1px solid $primary;
                }
                .method{
                width: 55px;
                height:55px;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #CDCBCB;
                margin-right: 29px;
                margin-left: 24px;
                &.payoneer{
                    background:#DBDBDB;
                    margin-left:8px;
                }
                &.total1{
                    background: #FFAFBA;
                }
              }
            }
                p{
                    margin-bottom: 0;
                    width: 100%;
                    display: block;
                }
                p.legal{
                    font-size: 12px;
                    color: $neutro700;
                    font-family: $semi;
                    font-weight: 600;
                &.primary{
                    color: $primary;
                }
            }
                p strong{
                    color:$neutro000;
                    font-family: $titles;
                    font-weight: 700;
                    &.color{
                    	color:$primary;
                    }
                }
                input:disabled + label{
                    opacity: 0.4;
                    cursor: none;
                    p{
                        strong{
                            color: $neutro;
                        }
                        .legal{
                            color: $neutro400;
                        }
                    }
                    img{
                        filter:grayscale(50%);
                    }
                }
            }
        }
        .modal-footer{
            border-top:none;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            button{
                max-width: 116px;
            }
        }
    }
}
#howSplitPayment{
	.modal-body{
		h4{
			text-align: center;
		}
		p{
			text-align: center;
		}
		h3{
			color:$primary;
			font-size: 20px;
			text-align: center;
			margin-bottom: 30px;
		}
		.type-p{
			padding: 20px;
		}
		.method{
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: $neutro200;
			margin-right: 29px;
			&.payoneer{
			   background: rgba(242, 157, 66, 0.2);
			}
			&.paypal{
				background: rgba(5, 148, 205, 0.08);
			}
        }
        form{
		max-width: 600px;
		.form-group{
			margin-bottom: 24px;
			margin-left: 0px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.select.type1{
				margin-left: 0px;
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}

	  }
	  .alert{
				background: $primary100;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border:none;
				margin-bottom: 24px;
				img{
					margin-right: 16px;
				}
				button{
					background: none;
					color:$primary;
					text-decoration: underline;
				}
				p{
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro000;
				}
			}
   }
}
#paymentcorrect{
	h4{
		text-align: center;
	}
	p{
		text-align: center;
	}
}
#chooseDefault{
	.modal-body{
		h3{
			color:$primary;
			font-size: 20px;
			margin-bottom: 30px;
		}
		.custom-radio{
				margin-bottom: 16px;
				//padding: 16px;
				min-height: 88px;
				display: flex;
    			align-items: center;
    			position: relative;
    			width: 100%;
    			padding: 0;
    			input{
    				width: 100%;
    				height: 100%;
    				position: absolute;
    				left: 0;
    				top: 0;
    				z-index: 1;
    				opacity: 0;
    			}
    			label{
				    width: 100%;
				    height: 127px;
				    padding: 16px;
				    display: flex;
				    align-items: center;
				    img{
					    filter: grayscale(0%);
					}
    				&:before{
    					display: none;
    				}
    				&:after{
    					display: none;
    				}
    			}
    			input:checked + label{
    				background: $primary100;
    				border: 1px solid $primary;
    			}
				p{
					margin-bottom: 0;
					width: 100%;
					display: block;
				}
				p.legal{
					font-size: 12px;
					color: $neutro700;
					font-family: $semi;
					font-weight: 600;
				&.primary{
					color: $primary;
				}
			}
		}
		.type-p{
			padding: 20px;
		}
		.method{
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: $neutro200;
			margin-right: 29px;
			&.payoneer{
			   background: rgba(242, 157, 66, 0.2);
			}
			&.paypal{
				background: rgba(5, 148, 205, 0.08);
			}
        }
        form{
		max-width: 600px;
		.form-group{
			margin-bottom: 24px;
			margin-left: 0px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.select.type1{
				margin-left: 0px;
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}

	  }
	  .alert{
				background: $primary100;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border:none;
				margin-bottom: 24px;
				img{
					margin-right: 16px;
				}
				button{
					background: none;
					color:$primary;
					text-decoration: underline;
				}
				p{
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro000;
				}
			}
   }
}
#payoneer{
		.modal-body{
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
	}
	.form-group{
		.type1{
		}
		label{
			margin-bottom: 10px;
		}
	}
	img{
		display: block;
        margin: 0 auto;
    }
	.custom-control{
		margin: 0 auto;
		margin-bottom: 20px;
	}
	label{
		position: relative;
	    margin-bottom: 0;
	    vertical-align: top;
	}
	.w-tooltip{
			button{
				background: transparent;
				margin-left: 8px;
		}
	}
	.full{
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		label{
			font-family: $titles;
			color:$neutro400;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
			font-family: $text;
			color:$neutro000;
		}
	}
	.pink{
		color:$primary;
	}
	.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
			}
		}
    }
#payPal1{
		.modal-body{
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
	}
	.form-group{
		.type1{
		}
		label{
			margin-bottom: 10px;
		}
	}
	img{
		display: block;
        margin: 0 auto;
    }
	.custom-control{
		margin: 0 auto;
		margin-bottom: 20px;
	}
	label{
		position: relative;
	    margin-bottom: 0;
	    vertical-align: top;
	}
	.w-tooltip{
			button{
				background: transparent;
				margin-left: 8px;
		}
	}
	.full{
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		label{
			font-family: $titles;
			color:$neutro400;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
			font-family: $text;
			color:$neutro000;
		}
	}
	.pink{
		color:$primary;
	}
	.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
			}
		}
    }
#bulkcommission{
	.modal-body{
		padding: 0;
		h4{
		margin: 0 auto;
		text-align: center
	   }
	}
	.total-due{
			overflow: hidden; 
			height: auto;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 124px;
			h4{
				font-size: 19px;
				color: $neutro000;
				font-family: $text;
				margin-bottom: 0;
			}
			h3{
				font-size: 19px;
				color: $primary;
				font-family: $titles;
				width: auto;
				margin-bottom: 0;
			}
		}
		.line{
			width: 60%;
			border-top: 1px dashed $neutro000;
			margin-bottom: 20px;
			margin:0 auto;
		}
	h3{
		font-size: 30px;
		font-family: $titles;
		color:$neutro000;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		font-size: 16px;
		color: $neutro400;
		display: block;
		margin: 0 auto 15px;
		text-align: center;
		margin-top: 20px;
	}
	form{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		.form-group{
			display: flex;
			align-items: center;
			justify-content: inherit;
			flex-wrap: wrap;
			align-content: space-between;
			margin-bottom: none;
		}
		.custom-date{
			.date-look{
				padding-left: 16px;
				span{
					font-size: 17px;
					color:$neutro300;
				}
				.ico{
					width: 48px;
					height: 42px;
					border-left: 1px solid $neutro300;
					top: 2px;
					img{}
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			width: 48%;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
				background: url('../img/check_gray.svg') no-repeat center;
				background-size: 12px auto;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center $primary !important;
				border-color:$primary;
			}
		}
		.director{
			background: $neutro200;
			padding-top: 24px;
			h4{
				width: 90%;
				display: block;
				max-width: 475px;
				margin: 0 auto 24px;
				text-align: center;
				padding-bottom: 20px;
				border-bottom:1px solid $neutro400;
			}
		}
		&.files{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tab-pane{
			align-items: stretch;
			justify-content: space-between;
			max-width: 636px;
			margin: 0 auto;
			flex-wrap: wrap;
			&.show{
				display: flex;
			}
		}
		.upload-file{
			background: $neutro100;
			border:1px dashed $neutro400;
			border-radius: $border2;
			padding: 24px;
			width: 32%;
			max-width: 360px;
			position: relative;
			h5{
				font-size: 18px;
				color:$neutro400;
				font-family: $titles;
				margin-bottom: 16px;
				width: 100%;
				text-align: center;
			}
			p{
				font-size: 14px;
				color:$neutro400;
				text-align: center;
			}
			&.drop{
				border-color:$primary;
			}
			.state-empty{
				position: relative;
				z-index: 1;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				p{
					font-size: 12px;
					color:$neutro000;
					width: 100%;
					text-align: center;
					strong{
						font-family: $titles;
						margin-right: 4px;
					}
					span{
						color:$primary;
					}
				}
				.btn-upload{
					border-color:$neutro200;
					color:$primary;
					margin: 0 auto;
					img{
						display: inline-block;
						margin: 0;
						margin-right: 16px;
					}
					&:hover{
						background: $primary;
						color:#fff;
						img{
							filter: brightness(10);
						}
					}
				}
				&.off{
					display: none;
				}
			}
			.state-charged{
				position: relative;
				z-index: 1;
				.doc{
					background: #fff;
					border:1px solid $neutro200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 16px;
					border-radius: 3px;
					position: relative;
					img{
						display: block;
						margin: 0 auto 16px;
						width: 32px;
					}
					p.name{
						width: 100%;
						text-align: center;
						font-size: 11px;
						color:$neutro400;
						font-family: $titles;
						margin-bottom: 0;
					}
					.check{
						position: absolute;
						background: $exito200;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						top: -10px;
						right: -10px;
						img{
							width: 12px;
							margin: 0;
						}
					}
				}
				.actions{
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					.btn-ghost{
						width: auto;
						font-size: 15px;
						&.just-icon{}
					}
				}
				&.off{
					display: none;
				}
			}
			.drop-state{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $primary;
				color:#fff;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				border-radius: $border2;
				opacity: 0;
				z-index: 0;
				img{
					display: block;
					margin: 0 auto 24px;
				}
				span{
					font-size: 21px;
					font-family: $titles;
					width: 100%;
					text-align: center;
				}
				&.active{
					opacity: 1;
					z-index: 3;
				}
			}
			&.double{
				width: 60%;
			}
			&.unique{
				width: 100%;
				max-width: inherit;
				justify-content: center;
			}
			.list{
				.custom-control.custom-radio.custom2{
					width: 100%;
					border:none;
					background-color: transparent;
					height: auto;
					label{
						height: auto;
						line-height: 1.2;
						color:$neutro400;
						&:before{
							top: 0;
						}
						&:after{
							top: 0;
						}
					}
				}
			}
		}
		.alert{
			display: flex;
			align-items: start;
			justify-content: flex-start;
			p{
				max-width: inherit;
				text-align: left;
				margin-left: 16px;
			}
		}
	}
	.nav-tabs{
		min-height: inherit;
		padding: 16px;
		background: none;
		justify-content: center;
		.nav-item{
			.nav-link{
				margin: 0 8px;
				padding: 0;
				height: auto;
				width: 210px;
				.custom-control.custom-radio.custom2{
					border:none;
					width: auto;
					label{
						padding-left: 16px;
					}
				}
				&.active{
					.custom-control.custom-radio.custom2{
						border:none;
						width: auto;
						label{
							&:before{
								background-color: $primary;
								border-color:$primary;
								background-image: url('../img/check.svg');
							}
							&:after{}
						}
					}
				}
			}
		}
	}
}
#addcommission{
	h4{
		margin-bottom:none;
	}
	.cname{
		background: $neutro200;
		border-radius: 5px;
		margin-bottom: 20px;
		height: 54px;
		h3{
			font-size: 18px;
			font-weight: 400;
			color:$neutro400;
			margin-top: 11px;

		}
	}
}
#FlowBelvo{
	.modal-body{
		h4{
			text-align:center;
		}
		h6{
			font-size: 16px;
			color:#898989;
			text-align:center;
			font-style:$titles;
		}
		p{
			font-size: 14px;
            line-height: 24px;
			text-align:center;
		}
	}
}
#ConfirmBelvo{
	form{
		.form-group{
			input{
				border: 1px solid #BEBEBE;
			}
		}
	}
	dl{
		background: $neutro100;
		padding: 16px;
		display: flex;
		margin: 0;
		margin-bottom: 16px;
	    margin-left: 43px;
	    margin-right: 41px;

		dd{
			font-size: 16px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 10px;
			margin-top: 10px;
			width: 48%;

		}
		dt{
			font-size: 16px;
			font-family: $text;
			color:$neutro000;
			width: 48%;
			margin-top:10px;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
	    }

	}
}
#chooseBelvo{
	.modal-body{
		h3{
			color:$primary;
			font-size: 20px;
			margin-bottom: 30px;
		}
		.custom-radio{
				margin-bottom: 16px;
				//padding: 16px;
				min-height: 88px;
				display: flex;
    			align-items: center;
    			position: relative;
    			width: 100%;
    			padding: 0;
    			input{
    				width: 100%;
    				height: 100%;
    				position: absolute;
    				left: 0;
    				top: 0;
    				z-index: 1;
    				opacity: 0;
    			}
    			label{
				    width: 100%;
				    height: 127px;
				    padding: 16px;
				    display: flex;
				    align-items: center;
				    img{
					    filter: grayscale(0%);
					}
    				&:before{
    					display: none;
    				}
    				&:after{
    					display: none;
    				}
    			}
    			input:checked + label{
    				background: $primary100;
    				border: 1px solid $primary;
    			}
				p{
					margin-bottom: 0;
					width: 100%;
					display: block;
				}
				p.legal{
					font-size: 12px;
					color: $neutro700;
					font-family: $semi;
					font-weight: 600;
				&.primary{
					color: $primary;
				}
			}
		}
		.type-p{
			padding: 20px;
		}
		.method{
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: $neutro200;
			margin-right: 29px;
			&.payoneer{
			   background: rgba(242, 157, 66, 0.2);
			}
			&.paypal{
				background: rgba(5, 148, 205, 0.08);
			}
        }
        form{
		max-width: 600px;
		.form-group{
			margin-bottom: 24px;
			margin-left: 0px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.select.type1{
				margin-left: 0px;
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}

	  }
	  .alert{
				background: $primary100;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border:none;
				margin-bottom: 24px;
				img{
					margin-right: 16px;
				}
				button{
					background: none;
					color:$primary;
					text-decoration: underline;
				}
				p{
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro000;
				}
			}
   }
}


@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	
}
@media (max-width: 992px){
	
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 767px) {
	#payout{
		padding-top: 0;
		#top{
			.main-control{
				.action-btn{
					margin-top: 16px;
					height: 88px;
					img{
						width: 30px;
					}
					span{
						font-size: 11px;
						margin-top: 8px;
					}
				}
			}
			.btn.btn-default.gray.go-filters{
				width: 90px !important;
				img{
					margin-right: 8px;
				}
			}
		}
		.payment{
			.card-type{
				.actions{
					margin-top: 30px;
					.left{
					margin-left: 0px;
				    }
				}

			}
		}
	}
}
@media (max-width: 576px){
	#payout{
		padding-top: 0;
		#top{
			.main-control{
				.action-btn{
					margin-top: 16px;
					height: 88px;
					img{
						width: 30px;
					}
					span{
						font-size: 11px;
						margin-top: 8px;
					}
				}
			}
			.btn.btn-default.gray.go-filters{
				width: 90px !important;
				img{
					margin-right: 8px;
				}
			}
		}
		.payment{
			.card-type{
				.actions{
					margin-top: 30px;
					.left{
					margin-left: 0px;
				    }
				}

			}
		}
	}
	#upcoming-payment{
		padding-top: 0;
		#top{
			.search{
				width:100%;
				margin-bottom: 20px;
			}
			.main-control{
				.action-btn{
					margin-top: 16px;
					height: 88px;
					img{
						width: 30px;
					}
					span{
						font-size: 11px;
						margin-top: 8px;
					}
				}
			}
			.btn.btn-default.gray.go-filters{
				width: 90px !important;
				margin-top: 20px;
				justify-content: center;
				margin: 0 auto;
				img{
					margin-right: 8px;
				}
			}
			.btn.btn-ghost.w-icon-l{
				margin: 0 auto;
				justify-content: center;
			}
		}
	}
	#payout-client{
		#top{
			.search{
				width:100%;
				margin-bottom: 20px;
			}
			.btn.btn-default{
				width: 48%;
				display: inline-flex;
				margin:0;
				max-width: inherit;
				&.gray{
					margin-right: 4%;
				}
			}
		}
	}
	.modal{
		.modal-dialog{
			.modal-content{
				.modal-header{
					h3{
						font-size: 24px;
					}
				}
				.modal-body{
					form{
						.upload-file{
							width: 100%;
							&.double{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	#wiretransfer{
		.bankdetail{
			.details{
				dl{
					flex-wrap: wrap;
					margin-bottom: 8px;
					dt{
						width: 100%;
						text-align: left;
					}
					dd{
						width:100%;
						padding:0;
					}
				}
			}
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
}