@import 'colores.scss';
.row.container{
	max-width: 1440px;
}
#contract_detail{
	.row.container{
		max-width: 1070px;
	}
	.top{
		max-width: 1070px;
		margin-bottom: 32px;
		h2{
			font-size: 32px;
			line-height: 1;
			color:$neutro000;
			margin-bottom: 0;
		}
		p{
			font-size: 24px;
			color:$neutro400;
			margin-bottom: 8px;
			margin:0 auto;
		}
	}
	.cards-detail{
		margin: 0 auto;
		p{
			text-align: center;
			margin-bottom: 30px;
		}
		img{
			margin: 0 auto;
			margin-bottom: 20px;
			margin-left: 32px;
		}
		.details{
			background: #f5f5f5;
			border-radius: 5px;
			margin-bottom: 10px;
			dl{
				 width: 100%;
				 display:flex;
				 align-items: center;
				 justify-content: center;
				 dt{
				 	color:$neutro400;
				 	font-family: $titles;
				 	width: 15%;
				 	text-align: right;
			     }
			     dd{
			     	color: $neutro000;
			     	font-family: $titles;
			     	width:55%;
			     	padding-left: 16px;
			     	display: inline-flex;
			     	align-items:center;
			     	justify-content: space-between;
			     	margin-bottom: 0;
			     	button{
			     		width: 24px;
			     		height: 24px;
			     		display: inline-flex;
			     		align-items: center;
			     		justify-content: center;
			            margin-bottom: 0px;
			     		img{
			     			margin: 0 auto;
							margin-bottom: 1px;
							margin-left: 1px;
			     		}
			     	}

			    }
			}
		}
		button{
			margin: 0 auto;
			margin-bottom: 30px;

		}
	}
	.form-group{
			margin-bottom: 24px;
			padding:0;
			textarea{
				color:$neutro200;
				font-size: 12px;
				width: 100%;
			    height: 114px;
			    background: #FFFFFF;
			    border-radius: 10px;
			    border: 1px solid #C4C4C4;
			    color: #322B2B;
			    padding: 24px;
			    font-size: 16px;
			    font-weight: 400;
			    transition: all linear 300ms;
			}
		}
	.title{
		position: relative;
		margin-bottom: 50px;
		max-width: 1070px;
		.back{
			position: absolute;
			left: 0;
			top: 0;
			color:$neutro400;
			justify-content: flex-start;
		}
		h2{
			width: 100%;
			text-align: center;
		}
		h3{
			width: 100%;
			padding-bottom: 24px;
			border-bottom:1px solid $neutro300;
			font-size: 32px;
			color:$neutro600;
		}
	}
	.detail{
		padding: 24px;
		margin-bottom: 24px;
		height: 90%;
		.top{
			border-bottom:1px solid $neutro300;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 24px;
			margin-bottom: 16px;
			h3{
				font-size: 26px;
				color:$neutro000;
			}
			h4{
				font-size: 20px;
				color:$neutro000;
			}
			p.pink{
				font-size: 14px;
				font-family: $titles;
				color:$primary;
			}
			&.no-line{
				padding-bottom: 0;
				border:none;
			}
			button.edit{
				width: 51px;
				height: 28px;
				font-size: 14px;
				font-family: $titles;
			}
			img{
				margin: 0;
			    top: inherit;
			    left: inherit;
			    margin-top: -5px;
			}
		}
		.resultsdriven{
				background: $neutro100;
				padding: 24px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				max-width: 450px;
				height: 66px;
				margin-top: 24px;
				p{
					color:$neutro000;
					font-size: 14px;
					font-family: $titles;
					width: calc(100% - 80px);
					margin-left: 8px;
					margin-bottom: 0;
				}
				.actions{
					width: 60px;
					display: inline-flex;
					button{
						background: none;
						border:none;
						width: 30px;
						height: 30px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		dl{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-bottom: 16px;
			dt{
				width: 50%;
				font-size: 14px;
				color:$neutro400;
				font-family: $titles;	
			}
			dd{
				margin-bottom: 0;
				width: 50%;
				font-size: 14px;
				color:$neutro000;
				font-family: $titles;
				text-align: right;
			}
			&.gray{
				background: $neutro100;
				padding: 0 16px;
				height: 48px;
				dt{}
				dd{
				}
			}
			&.full-width{
				padding: 16px;
				height: auto;
				dt{
					width: 100%;
					margin-bottom: 8px;
				}
				dd{
					width: 100%;
					text-align: left;
				}
			}
		}
		.modification{
			background: $neutro100;
			padding: 16px;
			h5{
				font-size: 14px;
				color:$neutro400;
				font-family: $titles;
			}
			.topic{
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 8px;
				p{
					margin: 0;
					margin-left: 8px;
					font-size: 14px;
					margin-top: 3px;
					font-family: $titles;
				}
			}
		}
		.textarea{
			width: 100%;
			height: 123px;
			background: $neutro100;
			padding: 16px;
			color: $neutro600;
			font-family: $titles;
			font: 14px;
			&.empty{
				color:$neutro400;
			}
		}
		.custom-switch{
			margin-top: 4px;
		}
		.file-uploaded{
			background: $neutro100;
		    //box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    height: 48px;
		    padding: 0 16px;
		    padding-right: 0;
		    position: relative;
		    width: 100%;
		    img{
		    	margin-right: 8px;
		    	width: 24px;
		    }
		    span{
		    	color:$neutro;
		    	font-size: 16px;
		    	font-family: $titles;
		    	line-height: 1.1;
		    	margin-right: 8px;
		    	width: calc(100% - 130px);
	    	    word-break: break-all;
	    	    color:$neutro400;
		    }
		    .actions{
		    	width: 90px;
		    	button{
		    		width: 40px;
		    		height: 40px;
		    		background: none;
		    		img{
		    			width: 18px;
		    		}
		    	}
		    }
		    &:hover{
		    	cursor: pointer;
				background: $primary;
				box-shadow: none;
				img{
					-webkit-filter: brightness(10);
						filter: brightness(10);
				}
				span{
					color:#fff;
				}
				.change-file{
					span{
						color:#fff;
						font-weight: 500;
					}
				}
		    }
		    &.charged{
		    	background: #fff;
		    	border:1px solid $neutro300;
		    	justify-content: center;
		    	span{
		    		width: auto;
		    	}
		    }
		}
		&.verify{
			h4{
				font-size: 20px;
				color:$neutro400;
				font-family: $text;
			}
			.top{
				position: relative;
				.renew{
					position: absolute;
					right: 0;
					top: 0;
					filter:grayscale(100%);
					width: 32px;
				}
				h3{
					.ico-ok{
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color: $exito200;
						display: none;
					}
					.ico-not{
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color:$error100;
						display: none;
					}
				}
			}
			.message{
				font-size: 16px;
				font-family: $titles;
				color:$neutro800;
				padding: 24px;
				border-top:1px solid $neutro300;
				margin-bottom: 8x;
				a{
					color:$primary;
				}
			}
			.custom-control{
				li{
					font-size: 16px;
					width: 100%;
					box-shadow: none;
					background: none;
					height: 40px;
					font-family: $titles;
					color:$neutro400;
					line-height: 40px;
				}
			}
			&.ok{
				.top{
					h4{
						color:$exito;
					}
					h3{
						.ico-ok{
							display: inline-flex;
						}
					}
						.renew{
							display: none;
						}
				}
				.custom-control.custom-checkbox{
					input:checked + .custom-control-label:before{
						background: url(../img/check.svg) no-repeat center $exito !important;
						border-color:$exito;
					}
				}
			}
			&.not{
				.top{
					h4{
						color:$error900;
					}
					h3{
						.ico-not{
							display: inline-flex;
						}
					}
						.renew{
							display: none;
						}
				}
			}
			.bar-progress{
				margin-top: 24px;
				.progress{
					height: 23px;
					border-radius: 12px;
					background-color: $neutro200;
					.progress-bar{
						border-radius: 12px;
						&[aria-valuenow="0"],
						&[aria-valuenow="10"],
						&[aria-valuenow="20"]{
							background:$error900;
						}
						&[aria-valuenow="30"],
						&[aria-valuenow="40"],
						&[aria-valuenow="50"]{
							background:$acento;
						}
						&[aria-valuenow="60"],
						&[aria-valuenow="70"],
						&[aria-valuenow="80"]{
							background:#FFD964;
						}
						&[aria-valuenow="90"],
						&[aria-valuenow="100"]{
							background:$exito;
						}
					}
				}
				
				span{
					font-size: 14px;
					color:$neutro400;
				}
			}
		}
	}
	.country-residence{
			margin: 0 auto;
			max-width: 456px;
			margin-bottom: 20px;
	}
	form{
	.form-group{
		label{
			color: #959595;
			font-size: 16px;
			line-height: 19px;
			font-family: $titles;
		}
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=search], 
		input[type=date], 
		input[type=time],
		input[type=month],
		input[type=number]{
			border-radius: $border;
		}
		.select{
			&.type2{
				.select-look{
					background: #fff;
					border-color:$neutro300;
					color:$neutro300;
					.ico{
						width: 40px;
						height: 40px;
						right: 8px;
						border-left: 1px solid $neutro300;
					    left: inherit;
						top: 3px;
						right: 3px;
					}
				}
			}
			&.bigger{
				height: 62px;
				.select-look{
					height: 62px;
					line-height: 62px;
					font-size: 17px;
					.ico{
						width: 56px;
						height: 53px;
					}
				}
			}
			&.flag-type{
				.select-look{
					box-shadow: $sombra16;
					border-radius: $border;
					border:none;
					.flag{
						width: 45px;
						height: 62px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						position: absolute;
						left: 0;
						top: 0;
					}
					span{
						width: 100%;
						padding-left: 48px;
						padding-right: 56px;
						line-height: 62px;
						font-size: 18px;
						color: $neutro300;
					}
				}
			}
			&.flag-type2{
				.select-look{
					box-shadow: none;
					border: 1px solid $neutro300;
					.flag{
						width: 45px;
						height: 48px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						position: absolute;
						left: 0;
						top: 0;
					}
					span{
						width: 100%;
						padding-left: 48px;
						padding-right: 56px;
						line-height: 48px;
						font-size: 18px;
						color: $neutro300;
					}
				}
			}
			.world{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			img{
				width: 100%;
			}
		  }
		}

		::-webkit-input-placeholder { /* Edge */
		  color: $neutro300;
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: $neutro300;
		}

		::placeholder {
			color: $neutro300;
		}
		.custom-date{
			position: relative;
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 2;
			}
			.date-look{
				position: relative;
				width: 100%;
				height: 49px;
				background: #FFFFFF;
				border: 1px solid #D9D9D9;
				box-sizing: border-box;
				border-radius: 5px;
				z-index: 1;
				padding-left: 16px;
				.text{
					font-size: 17px;
					line-height: 49px;
					color: #bdbdbd;
				}
				.ico{
					width: 49px;
					height: 37px;
					position: absolute;
					right: 0;
					top: 6px;
					border-left:1px solid #bebebe;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
		 }
	  }
   }
}
#comment{
	img{
		margin-left: 180px;
	}
	h4{
		justify-content:center;
		font-size: 24px;
		color:$neutro000;
		margin-bottom: 20px;
		margin-left: 180px;
	}
	p{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	form{
		max-width: 468px;
		.form-group{
			margin-bottom: 24px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.custom-date{
				.date-look{
					border: 1px solid $neutro300;
					border-radius: $border;
					padding-left: 16px;
					.ico{
						height: 40px;
						top: 2px;
						border-left:1px solid $neutro300;
					}
				}
			}
			.select.type1{
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.upload{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			background: none;
			margin-bottom: 24px;
			img{
				margin-right: 16px;
			}
			span{
				font-size: 16px;
				font-family: $titles;
				color:$primary;
				text-decoration: underline;
				i{
					font-family: $text;
					font-size: 12px;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}
	}
}