@import 'styles.scss';
@import 'styles.scss';

.row.container{
	max-width: 1440px;
}

header{
	//border-right: 1px solid $neutro200;
	height: calc(100vh - 40px);
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 268px;
    padding-top: 72px;
    padding-left: 40px;
	h1{
		font-size: 1px;
		color:transparent;
		padding-left: 16px;
	}
	nav{
		margin-top: 48px;
		ul{
			flex-wrap: wrap;
			max-width: 190px;
			li{
				width: inherit;
				margin-bottom: 8px;
				margin-right: 0;
				a{
					justify-content: flex-start;
					font-size: 14px;
					height: 40px;
					padding: 0 16px;
					border-radius:$border;

					img{
						margin-right: 16px;
						filter: grayscale(100%);
					}
					span{
						color:$neutro400;
						text-transform: none;
						font-family:$titles;
						font-weight: 700;
						letter-spacing: 0.18px;
					}
					&:hover{
						background: $primary100;
						text-decoration: none;
						.line{
							opacity: 0.5;
						}
						span{
							text-decoration: none !important;
							color:$primary;
						}
						img{
							filter: grayscale(0%);
						}
					}
					&.active{
						background: $primary100;
						span{
							color:$primary;
						}
						.line{
							opacity: 1;
						}
						img{
							filter: grayscale(0%);
						}
					}
				}
				&.special{
					border-top:1px solid $neutro300;
					color:$neutro400;
					padding-top: 16px;
					margin-bottom: 8px;
					a{
						img{
							opacity: 0.5;
						}
						span{
							font-size: 13px;
							color:$neutro300;
						}
					}
					&:hover a{
						background: none;
						span{
							text-decoration: none !important;
							color:$primary;
						}
						img{
							filter: grayscale(0%);
							opacity: 1;
						}
					}
					&.active a{
						background: none;
						span{
							color:$primary;
						}
						.line{
							opacity: 1;
						}
						img{
							filter: grayscale(0%);
							opacity: 1;
						}
					}
				}
			}

			.user-profile{
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				padding-top: 8px;
				//margin-top: 24px;
				margin-right: 0;
				flex-wrap: wrap;
				.info{
					margin-left: 8px;
					p{
						margin-bottom: 0;
						strong{
							font-size: 15px;
							font-family: $titles;
							color:$neutro900;
						}
						&.legal{
							color: $neutro300;
							font-size: 10px;
						}
					}
				}
				.profile{
					border-bottom:1px solid $neutro300;
					width:100%;
					display: inline-flex;
					align-items: center;
					justify-content: flex-start;
					padding: 0;
					text-transform: none;
					border-radius: 0;
					padding-bottom: 24px;
					height: auto;
					img{
						margin-right: 0;
						filter: grayscale(0%);
						
					}
					&:hover{
						background: none;
					}
				}
				.go{
					width: 100%;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-top: 8px;
					padding-left: 0;
					img{
						margin: 0;
						margin-right: 16px;
						filter: grayscale(100%);
					}
					span{
						font-size: 12px;
						font-family: $text;
						color:$neutro400;
					}
					&:hover{
						text-decoration: none !important;
						background: none;
						img{
							filter: grayscale(0);
						}
						span{
							color:$neutro;
							font-family: $titles;
						}
					}
				}
			}
		}
	}
	&.horizontal{
		width: 100%;
	    height: auto;
	    position: fixed;
	    z-index: 3;
	    background: #FFFFFF;
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
		justify-content: space-between;
		padding: 0;
		flex-wrap: inherit;
		height: 100px;
		align-items: center;
		.row.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		h1{
		}
		nav{
			margin-top: 0;
			//width: calc(100% - 180px);
			justify-content: flex-end;
			display: flex;
			ul{
				max-width: inherit;
				flex-wrap: inherit;
				width: auto;
				li{
					width: auto;
				    height: 100px;
				    margin-bottom: 0;
				    display: inline-flex;
				    align-items: flex-end;
					border-bottom:6px solid #fff;
					margin: 0 8px;
					a{
						padding-bottom: 24px;
						height: auto;
						span{
							font-size: 18px;
							font-family: $titles;
							color:$neutro400;
						}
					}
					.dropdown{
						a.dropdown-toggle{
							font-size: 18px;
							font-family: $titles;
							color:$neutro400;
							border-radius: 0;
							&:after{
								width: 16px;
								height: 16px;
								border:none;
								background: url('../img/angle_down.svg') no-repeat center;
								background-size: 10px auto;
							}
						}
						.dropdown-menu{
							border:none;
							margin-top: 1.125rem;
							width: 200px;
							padding: 0 16px;
							.dropdown-item{
								font-size: 16px;
								text-transform: none;
								color:$neutro400;
								padding-bottom: 0;
								border-bottom:1px solid $neutro200;
								border-radius: 0;
								&:last-child{
									border-bottom:none;
								}
								&:hover{
									color: $neutro000;
									font-family: $titles;
									background-color: none;
								}
							}
						}
						.dropdown-menu.show{
							left: inherit !important;
							right: 0 !important;
						}
						&.show{
							a.dropdown-toggle{
								img{
									filter:grayscale(0%);
								}
								span{
									color:$primary;
								}
								&:after{
									width: 16px;
									height: 16px;
									border:none;
									background: url('../img/angle_down_pink.svg') no-repeat center;
								}
							}
						}
					}
					&.active{
						border-bottom-color:$primary;
						img{
							filter:grayscale(0%);
						}
						a{
							span{
								color:$primary;
							}
						}
						.dropdown{
							a.dropdown-toggle{
								&:after{
									width: 16px;
									height: 16px;
									border:none;
									background: url('../img/angle_down_pink.svg') no-repeat center;
								}
							}
							.dropdown-menu{
								.dropdown-item{}
							}
						}
					}
					&:hover{
						border-bottom-color: $primary;
						a{
							background: transparent;
							color: $primary;
							span{
								color: $primary;
							}
						}
						.dropdown{
							a.dropdown-toggle{
								&:after{
									width: 16px;
									height: 16px;
									border:none;
									background: url('../img/angle_down_pink.svg') no-repeat center;
								}
							}
							.dropdown-menu{
								.dropdown-item{}
							}
						}
					}
				}
			}
		}
		.user-profile{
			margin-bottom: 0;
			//margin-left: calc(100vw/8);
			padding-left: 24px;
			//border-left: 1px solid $neutro300;
			 .name{
					width: 70px;
					height: 70px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $neutro100;
					&.user{
						background: #FFC6BD;
						span{
							font-size: 32px;
							font-weight: $titles;
							color: #fff;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			img{
				filter: grayscale(0%);
			}
			.dropdown{
				a.dropdown-toggle{
				    //padding-bottom: 13px;
				    position: relative;
				    font-size: 18px;
					font-family: $titles;
					color:$neutro400;
					border-radius: 0;
					display: flex;
				    align-items: center;
				    justify-content: center;
				    text-decoration: none;
					.line{
						position: absolute;
						width: 1px;
						height: 45px;
						top:50%;
						margin-top: -21.5px;
						background:$neutro300;
						left: -24px;
					}
					&:after{
						width: 16px;
						height: 16px;
						border:none;
						background: url('../img/angle_down.svg') no-repeat center;
						background-size: 10px auto;
						background-size: 18px auto;
						text-decoration: none;
					}
					.badge{
						position: absolute;
						width: 24px;
						height: 24px;
						border:2px solid #fff;
						background:$primary;
						border-radius: 50%;
						font-size: 12px;
						color:#fff;
						font-family: $titles;
						padding: 0;
						display: flex;
						align-items: center;
						justify-content: center;
					    left: 48px;
					    top: 0;
					}
				}
				.dropdown-menu{
					border:none;
					margin-top: 2.125rem;
					width: 200px;
					padding: 0 16px;
					.dropdown-item{
						font-size: 16px;
						text-transform: none;
						color:$neutro400;
						padding-bottom: 0;
						border-bottom:1px solid $neutro200;
						border-radius: 0;
						height: 53px;
						line-height: 53px;
						font-size: 16px;
						&:last-child{
							border-bottom:none;
						}
						&:hover{
							color: $neutro000;
							font-family: $titles;
							background-color: transparent;
							text-decoration: none;
						}
					}
				}
				.dropdown-menu{
					&.show{
						right: -56px !important;
					}
					.dropdown-item{
						position: relative;
						.badge{
							position: absolute;
							width: 8px;
							height: 8px;
							background:$primary;
							border-radius: 50%;
							font-size: 12px;
							color:#fff;
							font-family: $titles;
							padding: 0;
							display: flex;
							align-items: center;
							justify-content: center;
					        left: 118px;
							top: 11px;
						}
					}
				}
			}
		}
	}
}
#platform{
	padding: 0;
	height: calc(100vh - 40px);
	overflow-x: hidden;
    padding-top: 56px;
    width: calc(100% - 268px);
    background: $neutro100;
    position: absolute;
    right: 0;
    top: 0;
    &.horizontal-menu{
    	position: relative;
    	min-height: calc(100vh - 140px);
    	width: 100%;
    	padding-top: 156px;
    }
	#top{
		h2{
			font-size: 34px;
			line-height: 1.2;
		}
		.row.container{
			//width: 100%;
		}
		button{
			margin-right: 8px;
		}
		.search{
			//margin-right: 32px;
			position: relative;
			//width: 100%;
			margin-bottom: 0;
			input{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: 10px;
				color:$neutro700;
				padding-left: 40px;
				font-size: 16px;
				font-weight: 400;
				//box-shadow: $sombra13;
				border:1px solid $neutro300;
				transition: all linear 300ms;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $neutro400;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $neutro400;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $neutro400;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $neutro400;
				}
			}
			img{
				position: absolute;
				left: 16px;
				top: 13px;
			}
		}
		.go-filters{
			&[aria-expanded="true"]{
				background: $primary;
				outline: none;
				color:#fff;
				img{
					filter:brightness(100);
				}
			}
		}
		.title{
			position: relative;
			margin-bottom: 3rem;
			.back{
				position: absolute;
				left: 0;
				top: 0;
				color:$neutro400;
				justify-content: flex-start;
			}
			h2{
				width: 100%;
				text-align: center;
			}
		}
	}
	.notifications{
		.new{
				margin-bottom: 20px; 
				margin-left: 160px;
			}
		.notification{
			width: 100%;
			padding: 16px 24px;
			border-radius: $border;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			max-width: 1080px;
			margin-bottom: 32px;
			.ico{
				width: 64px;
				height: 64px;
				background: $neutro200;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: 16px;
				img{
					width: 32px;
					filter: grayscale(100%);
				}
			}
			.newico{
				width: 64px;
				height: 64px;
				background: $primary100;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: 16px;
				img{
					width: 32px;
				}
			}
			p{
				font-family: $titles;
				font-size: 20px;
				width: calc(100% - 326px);
				margin-bottom: 0;
				color:$neutro400;
				margin-right: 16px;
				line-height: 1.2;
				span{
					color:$primary;
				}
			}
			.actions{
				width: 230px;
				display: inline-flex;
				align-items: center;
				justify-content: flex-start;
				button{
					margin-left: 16px;
					&:first-child{
						margin: 0;
					}
				}
			}
		}
	}
}
.nav-tabs{
	position:relative;
	border:none;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #fafafa;
	min-height: 80px;
    display: flex;
    align-items: flex-start;
    margin-top: 0;
	.nav-item{
		position: relative;
		z-index: 2;
		.nav-link{
			font-size: 14px;
			font-weight: 400;
			display: inline-flex;
			color:$neutro;
			align-items: center;
			justify-content: flex-start;
			position: relative;	
			border:none;
			position: relative;
			width: 100%;
			background: none;
			height: 80px;
			padding: 8px 0;
			span{
				width: 32px;
				height: 32px;
				border-radius:50%;
				background: $neutro200;
				color:$neutro400;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-right: 16px;
				font-size: 18px;
				font-weight: 500;
			}
			img{
				position: absolute;
				opacity: 0;
				width: 16px;
				top: 50%;
				left:50%;
				margin-top: -5px;
				margin-left: -8px;
			}
			&:hover{
				border:none;
			}
			&.done{
				span{
					color: transparent;
					background: $primary300;
					top:0;
				}
				img{
					opacity: 1;
				}
			}
			&.active{
				font-weight: 600;
				color: $neutro700;
				span{
					color:#fff;
					background:$primary;
				}
				img{
					opacity: 0;
				}
			}
		}
	}
}
.tab-pane{
	&.fade:not(.show){
		display: none;
		transition: 300ms linear all;
	}
}
.home{
	margin-top: 48px !important;
	h4{
		font-weight: 700;
		color:$neutro700;
	}
	.activities{
		width: 100%;
		display: flex;
		align-items: stretch;
		margin-top: 32px;
		margin-bottom: 56px;
		.activity{
			background: #FFFFFF;
			box-shadow: 0 0 6px 0 rgba(144,138,139,0.30);
			border-radius: 8px;
			padding: 24px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: space-between;
			flex-wrap: wrap;
			img{
				width: 56px;
			}
			h5{
				color:$neutro700;
				text-align: center;
				margin-top: 24px;
				margin-bottom: 24px;
			}
			button{}
		}
	}
	.notification{
		background: #FFFFFF;
		box-shadow: 0 0 6px 0 rgba(144,138,139,0.30);
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 16px;
		margin-bottom: 24px;
		img{
			width: 32px;
		}
		p{
			font-size: 18px;
			font-weight: 600;
			color:$neutro700;
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 0;
		}
		.actions{
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.btn-link{
				color:$primary;
				font-size: 12px;
				text-transform: none;
				img{
					width: 24px;
				}
				&.accept{
					color:$exito;
					img{
						margin-right: 8px;
					}
				}
				&.deny{
					img{
						margin-right: 8px;
					}
				}
				&:hover{
					font-weight: 700;
				}
			}
			
		}
	}
	.metrics{
		padding: 24px;
		background: $neutro100;
		border-radius: 8px;
		margin-bottom: 40px;
		width: 100%;
	}
}

#collapseFilters{
	background: $neutro100;
	padding-top: 24px;
	margin-bottom: 24px;
	label{
		font-size: 15px;
	}
}

.new-contract{
	form{
		.form-group{
			.custom-radio.big-radio{
				margin: 0;
    			padding: 0 15px;
    			height: auto;
				label{
					padding: 24px;
					height: 100%;
					margin: 0;
					img{
						width: 56px;
						display: inline-block;
					}
					p{
						width: 100%;
						padding: 0;
						margin-top: 16px;
						color:$neutro;
					}
					span{
					    width: calc(100% - 72px);
					    text-align: left;
					    margin-left: 16px;
					}
					.check{
						img{
							width: 10px;
						}
					}
				}
			}
		}
		.milestone{
			background: #FFFFFF;
			border: 1px solid $neutro200;
			padding: 24px 16px;
			position: relative;
			margin-bottom: 40px;
			h4{
				font-weight: 700;
				font-size: 24px;
				margin-bottom: 32px;
				color: $neutro900;
				letter-spacing: 0;
			}
			.btn-link{
				text-transform: none;
				color:$primary;
				position: absolute;
				font-size: 12px;
				justify-content: center;
				right: 16px;
				bottom: 16px;
				width: auto;
				img{
					margin-left: 8px;
				}
			}
			&.first-one{
				.btn-link{
					display: none;
				}
			}
		}
		.contractor{
			width: 100%;
			height: 100%;
			background: $neutro100;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 24px;
			max-width: 450px;
			img{
				width: 64px;
			}
			.info{
				margin-left: 16px;
				h4{
					font-size: 24px;
					font-weight: 700;
					color:$neutro900;
				}
				p{
					margin-bottom: 0;
					color:$neutro;
				}
			}
		}
		.invitation{
			background: $neutro100;
			padding: 24px;
			padding-bottom: 0;
			h5{
				margin-bottom: 32px;
			}
		}
		.review-box{
			background: $neutro100;
			padding: 24px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 24px;
			position: relative;
			img{
				width: 64px;
			}
			.info{
				margin-left: 16px;
				h4{
					color:$neutro900;
					font-size: 24px;
					font-weight: 700;
				}
				p{
					margin-bottom: 0;
					color:$neutro;
					line-height: 24px;
				}
			}
			.edit{
				position: absolute;
				right: 16px;
				top: 16px;
				background: $neutro100;
				img{
					width: 24px;
				}
			}
		}
	}

	.row.done{
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		margin-top: 48px;
		margin-bottom: 48px;
		h3{
			margin-bottom: 32px;
		}
		p{
			margin-bottom: 24px;
		}
	}
}
#payout{
	padding-top: 56px;
	padding-bottom: 56px;
	.row.container{
		position: relative;
	}
	
	.filters{
		margin-bottom: 40px;
		.card{
			padding: 0;
			background: none;
			border:none;
		}
	}
	
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		overflow-y: auto;
		.container{
			width: 100%;
			max-width: inherit;
			min-width: 1000px;
			padding: 0;
			padding-top: 16px;
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 56px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 5%;
				min-width: 48px;
			}
			&:nth-child(2){
				width: 9%;
			}
			&:nth-child(3){
				width: 12%;
			}
			&:nth-child(4){
				width: 12%;
			}
			&:nth-child(5){
				width: 15%;
			}
			&:nth-child(6){
				width: 15%;
			}
			&:nth-child(7){
				width: 17%;
			}
			&:nth-child(8){
				width: 10%;
			}
			&:last-child{
				width: 5%;
				min-width: 40px;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		border:none;
		margin: 0;
		.item{
			width: 100%;
			border:none;
			border-radius: 0;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			margin-bottom: 16px;
			.card-header{
				width: 100%;
				background: $neutro100;
				margin-bottom: 8px;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-bottom: none;
			}
			.collapse{
				width: 100%;
				margin-bottom: 16px;
			}
			.traceability{
				padding: 32px;
				border: 1px solid $neutro300;
				box-shadow: $sombra13;
				background: #fff;
				border-radius: $border;
				.icons{
					margin-bottom: 24px;
					.icon{
						width: 100%;
						max-width: 120px;
						height: 56px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 8px;
						img{
							filter:grayscale(100%);
							width: 35px;
						}
					}

					.col-3.done, .col-3.active{
						.icon{
							img{
								filter:grayscale(0%);
							}
						}	
					}
					p.legal{
						font-size: 12px;
						color: $neutro700;
						letter-spacing: 0.5px;
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}
				}
				.timeline{
					position: relative;
					height: 32px;
					//margin-bottom: 24px;
					.line{
						width: 75%;
						height: 2px;
						background: $neutro300;
						position: absolute;
						z-index: 1;
						left: 50%;
						margin-left: -37.5%;
						top: 3px;
					}
					.line-active{
						height: 2px;
						background: $primary;
						position: relative;
						z-index: 2;
						&.first-step{
							width: 15%;
						}
						&.second-step{
							width: 50%;
						}
						&.third-step{
							width: 82%;
						}
						&.fourth-step{
							width: 100%;
						}
					}

					.dot{
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: $neutro300;
						&.active{
							background: $primary;
						}
					}
				}
				.actions{
					h5{
						font-size: 12px;
						color:$neutro;
						text-align: center;
						max-width: 160px;
						margin: 0 auto;
						font-family: $text;
						line-height: 14px;
					}
				}
				button.btn-outline{
					font-size: 16px;
					font-family: $titles;
				}
			}
			.td{
				padding: 8px;
				height: 56px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro400;
				font-size: 14px;
				&:first-child{
					width:4%;
					min-width: 40px;
					padding-left: 0;
				}
				&:nth-child(2){
					width: 8%;
				}
				&:nth-child(3){
					width: 13%;
				}
				&:nth-child(4){
					width: 13%;
				}
				&:nth-child(5){
					width: 15%;
				}
				&:nth-child(6){
					width: 15%;
					color: $neutro300;
				}
				&:nth-child(7){
					width: 19%;
					img{
						margin-right: 6px;
					}
				}
				&:nth-child(8){
					width: 8%;
				}
				&:last-child{
					width: 5%;
					min-width: 40px;
					padding-left: 0;
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: 100%;
					max-width: 110px;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.inProcess{
						background: $alerta100;
						color:$alerta;
					}
					&.complete{
						background: rgba(54, 207, 130, 0.18);
						color:#36CF82;
					}
					&.upcoming{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			}
		}
	}
}
#pay-method, #bank-acount{
	.modal-content{
		.modal-header{
			padding-bottom: 0;
			padding-top: 24px;
		    h4{
		    	font-size: 16px;
		    	color:$neutro000;
		    	font-family: $titles;
		    	width: 100%;
		    	text-align: center;
		    }
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			h4{
				margin-top: 16px;
				margin-bottom: 24px;
				font-size: 16px;
				color:$neutro400;
			}
			dl{
				margin: 0;
				display: flex;
    			margin-bottom: 6px;
				dd{
					font-size: 16px;
					font-family: $titles;
					color:$neutro000;
					margin: 0;
				}
				dt{
					font-size: 16px;
					color:$neutro400;
					font-family: $text;
					margin: 0;
				}
			}
			.custom-radio{
				margin-bottom: 16px;
				//padding: 16px;
				min-height: 88px;
				display: flex;
    			align-items: center;
    			position: relative;
    			width: 100%;
    			padding: 0;
    			input{
    				width: 100%;
    				height: 100%;
    				position: absolute;
    				left: 0;
    				top: 0;
    				z-index: 1;
    				opacity: 0;
    			}
    			label{
				    width: 100%;
				    height: 127px;
				    padding: 16px;
				    display: flex;
				    align-items: center;
    				&:before{
    					display: none;
    				}
    				&:after{
    					display: none;
    				}
    			}
    			input:checked + label{
    				background: $primary100;
    				border: 1px solid $primary;
    			}
				p{
					margin-bottom: 0;
					width: 100%;
					display: block;
				}
				p.legal{
					font-size: 12px;
					color: $neutro700;
					font-family: $semi;
					font-weight: 600;
				&.primary{
					color: $primary;
				}
			}
				p strong{
					color:$neutro000;
					font-family: $titles;
					font-weight: 700;
				}
				input:disabled + label{
					opacity: 0.4;
					cursor: none;
					p{
						strong{
							color: $neutro;
						}
						.legal{
							color: $neutro400;
						}
					}
					img{
						filter:grayscale(50%);
					}
				}
			}
		}
		.modal-footer{
			border-top:none;
			padding-bottom: 40px;
			padding-left: 40px;
			padding-right: 40px;
			button{
				max-width: 116px;
			}
		}
	}
}
#card-info, #edit-info{
	.modal-content{
		.modal-header{
			padding-bottom: 0;
			h4{
		    	font-size: 18px;
		    	color:$neutro000;
		    	font-family: $titles;
		    	width: 100%;
		    	text-align: center;
		    }
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 32px;
			padding-right: 32px;
			h4{
				margin-top: 16px;
				margin-bottom: 24px;
				font-size: 16px;
				color:$neutro;
			}
			form{
				max-width: inherit;
				padding: 0;
				margin-top: 24px;
				margin-left: -15px;
				margin-right: -15px;
			}
		}
		.modal-footer{
			border-top:none;
			padding-bottom: 40px;
			padding-left: 40px;
			padding-right: 40px;
			button{
				max-width: 116px;
			}
		}
	}
}
#double-check{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 0px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 24px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				text-align: center;
				strong{
					font-family: $titles;
				}
			}
		}
		.modal-footer{
			padding-top: 8px;
			padding-bottom: 24px;
			button{
				max-width: 80px;
				&.gray{
					color:#fff;
				}
			}
		}
	}
}
#successfull{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
			}
		}
	}
}
#transactionDetail{
	.modal-dialog{
		max-width: 400px;
	}
	.modal-content{
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h3{
				font-size: 24px;
				width: 100%;
				text-align: center;
				color:$neutro000;
				font-family: $titles;
				margin-bottom: 24px;
			}
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 16px;
				color:$neutro700;
				width: 100%;
				text-align: center;
				padding-top: 24px;
				border-top:1px solid $neutro200;
				margin-bottom: 24px;
			}
			dl{
				margin: 0 auto;
				display: flex;
    			margin-bottom: 6px;
    			width: 100%;
    			max-width: 270px;
				dt{
					font-size: 14px;
					font-family: $titles;
					color:$neutro600;
					margin: 0;
					width: 50%;
				}
				dd{
					font-size: 14px;
					color:$neutro600;
					font-family: $text;
					margin: 0;
					width: 50%;
				}
			}
		}
		.modal-footer{
			padding-bottom: 32px;
		}
	}
}
form{
	.form-group{
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=search], 
		input[type=date], 
		input[type=time],
		input[type=month],
		input[type=number]{
			width: 100%;
			max-width: 610px;
			height: 48px;
			background: $neutro100;
			border-radius: 10px;
			color:$neutro700;
			padding-left: 24px;
			font-size: 16px;
			font-weight: 400;
			//box-shadow: $sombra13;
			border:1px solid $neutro400;
			transition: all linear 300ms;
			&:focus{
				outline:none;
				border: 1px solid $primary400;
				background: #fff;
			}
			&.error{
				border:1px solid $error;
			}
			&::-webkit-input-placeholder { /* Edge */
			  color: $neutro400;
			  font-family: $text;
			  font-size: 16px;
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			  color: $neutro400;
			  font-family: $text;
			  font-size: 16px;
			}

			&::placeholder {
			  color: $neutro400;
			  font-family: $text;
			  font-size: 16px;
			}
		}
		&.type1{
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				background: #FFFFFF;
					border:1px solid $neutro300;
			}
			.custom-date{
				.date-look{
					background: #fff;
					border-radius: 10px;
					color:$neutro700;
					border:1px solid $neutro300;
				}
			}
			label{
				font-family: $titles;
				color:$neutro400;
			}
		}
		
		&.type2{
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				background: $neutro100;
				border-color:$neutro300;
				border-radius: $border;
				color:$neutro400;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
					color:$neutro;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Edge */
				  color: $neutro300;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $neutro300;
				}

				&::placeholder {
				  color: $neutro300;
				}
			}
		}
		&.big{
			position: relative;
			label{
				font-size: 16px;
				font-family: $titles;
				color:$neutro400;
			}
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				background: #fff;
				border-color:$neutro300;
				border-radius: $border;
				color:$neutro400;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
					color:$neutro;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Edge */
				  color: $neutro300;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $neutro300;
				}

				&::placeholder {
				  color: $neutro300;
				}
			}
			&.w-icon-r{
				position: relative;
				input{
					//width: calc(100% - 48px);
				}
				.visibility{
					width: 48px;
					height: 48px;
					position: absolute;
					bottom: 0;
					right: 0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background: transparent;
					.on{
						display: none;
					}
					&.show{
						.on{
							display: block;
						}
						.off{
							display: none;
						}
					}
				}
			}
		}
		.select{
			width: 100%;
			height: 48px;
			border-radius:$border2;
			position: relative;
			select{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				padding-left: 24px;
				color:$neutro600;
				font-size: 16px;
				opacity: 0;
			}
			.select-look{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: $border;
				border:1px solid $neutro300;
				padding-left: 16px;
				font-size: 16px;
				font-weight: 300;
				//box-shadow: $sombra13;
				position: relative;
				z-index: 1;
				line-height: 48px;
				color:$neutro;
				.ico{
					width: 48px;
					height: 48px;
					z-index: 0;
					position: absolute;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				img{
				}
			}
			&.type2{
				.select-look{
					background: $neutro100;
					border-color:$neutro300;
					color:$neutro300;
					.ico{
						width: 40px;
						height: 40px;
						right: 8px;
						border-left: 1px solid $neutro300;
					    left: inherit;
    					top: 3px;
					}
				}
			}
			&.type3{
				.select-look{
					border:none;
					color:$neutro300;
					.ico{
						width: 40px;
						height: 40px;
						right: 8px;
						border-left: 1px solid $neutro300;
					    left: inherit;
    					top: 3px;
					}
				}
			}
			&.type1{
				.select-look{
					white-space: nowrap;
					font-size: 15px;
					overflow: hidden;
					color:$neutro300;
					.ico{
						left: inherit;
						right: 0;
						top: 0;
						background: #fff;
						border-radius: 4px;
						height: 45px;
					}
				}
			}
		}
		&.box-type{
			background: $neutro100;
			border:1px solid $neutro200;
			label{
				font-size: 10px;
				color:$neutro;
				font-family: $titles;
				margin-bottom: 0;
				padding-left: 16px;
			}
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				background: transparent;
				border:none;
				color:$neutro000;
				font-size: 14px;
				padding-left: 16px;
				height: 40px;
				&::-webkit-input-placeholder { /* Edge */
				  color: $neutro000;
				  font-family: $text;
				  font-size: 14px;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $neutro000;
				  font-family: $text;
				  font-size: 14px;
				}

				&::placeholder {
				  color: $neutro000;
				  font-family: $text;
				  font-size: 14px;
				}
			}
			&.w-icon-r{
				position: relative;
				input{
					width: calc(100% - 48px);
				}
				.visibility{
					width: 48px;
					height: 48px;
					position: absolute;
					bottom: 0;
					right: 0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background: transparent;
					.on{
						display: none;
					}
					&.show{
						.on{
							display: block;
						}
						.off{
							display: none;
						}
					}
				}
			}
		}
		&.type3{
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				border:none;
				color:$neutro400;
				background: #fff;
				border-radius: $border;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
					color:$neutro;
				}
				&.error{
					border:1px solid $error;
				}
				&::-webkit-input-placeholder { /* Edge */
				  color: $neutro300;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $neutro300;
				}

				&::placeholder {
				  color: $neutro300;
				}
			}
		}
		textarea{
			padding: 16px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $neutro300;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $neutro300;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $neutro300;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $neutro300;
			}
		}
		.custom-date{
			position: relative;
			width: 100%;
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				opacity: 0;
			}
			.date-look{
				padding-left: 48px;
				padding-right: 48px;
				position: relative;
				width: 100%;
				height: 48px;
				z-index: 1;
				line-height: 48px;
				color:$neutro300;
				font-size: 14px;
			}
			.date{
				position: absolute;
				left: 0;
				top: 0;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.ico{
				position: absolute;
				right: 0;
				top: 0;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.modal{
	.modal-dialog-sm{
		max-width: 366px;
	}
	.modal-dialog-md{
		max-width: 574px;
		.modal-body{
			form{
				max-width: 468px;
			}
		}
	}
	.modal-dialog-lg{
		max-width: 800px;
		.modal-content{
			.modal-body{
				form{
					max-width: 700px;
				}
			}
		}
	}
	.modal-dialog-xl{
		max-width: 1200px;
		.modal-content{
			.modal-body{
				form{
					max-width: 950px;
				}
			}
		}
	}
	.two-choices{
		img{
		display: block;
		margin: 0 auto 32px;
		}
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 56px;
		}
		.actions{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 200px;
			margin: 0 auto;
			a{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			button{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			
		}
	}
	.two-choices-delete{
		img{
		display: block;
		margin: 0 auto;
		}
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 56px;
		}
		.actions{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 200px;
			margin: 0 auto;
			a{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			button{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			
		}
	}
	.two-confirm{
		img{
		display: block;
		margin: 0 auto 32px;
		}
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 56px;
		}
		.actions{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 269px;
			margin: 0 auto;
			a{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			button{
				width: 117px;
				font-size: 20px;
				margin: 8px;
			}
			
		}
	}
	.two-enable{
		img{
		display: block;
		margin: 0 auto 32px;
		}
		h4{
			text-align: center;
			margin-bottom: 32px;
		}
		.actions{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 269px;
			margin: 0 auto;
			margin-bottom: 20px;
			a{
				width: 73px;
				font-size: 20px;
				margin: 8px;
			}
			button{
				width: 117px;
				font-size: 20px;
				margin: 8px;
			}
			
		}
	}
	.modal-result{
		.modal-body{
			padding-top: 0;
			img{
				display: block;
				margin: 0 auto;
			}
			h4{
				margin-top: 24px;
				margin-bottom: 24px !important;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
				span{
					color:$primary;
				}
			}
		}
	}
	.modal-content{
		.modal-header{
			position: relative;
			h3{
				font-size: 32px;
				font-family: $titles;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			h4{
				font-size: 20px;
				font-family: $titles;
				color:$neutro000;
				width: 100%;
				text-align: center;
			}
			button.close{
				position: absolute;
				right: 16px;
				top: 16px;
			}
		}
	}
}
#contractSign{
	.modal-dialog{
		max-width: 1200px;
		.modal-content{
			.modal-body{
				.contractSpace{
					width: 100%;
					height: 45vh;
					background: $neutro;
				}
				.contractorSignature{
					margin-top: 24px;
					form{
						max-width: 550px;
					}
					.form-group-inline{
						display: flex;
						align-items: center;
						justify-content: center;
						input{
							max-width: 200px;
						}
						label{
							margin: 0;
							margin-right: 16px;
						}
					}
				}
			}
		}
	}
}
#chooseDefault,{
	.custom-radio{
		position: relative;
		input{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0;
			
		}
		label{
			border:1px solid $neutro200;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 77px;
			border-radius: $border;
			margin-bottom: 0;
			span{
				font-size: 12px;
				font-family: $titles;
				color:$neutro;
			}
			img{
				filter: grayscale(100%);
			}
		}
		input:checked + label{
			border-color:$primary;
			background: $primary100;
			span{
				color: $primary;
			}
			img{
				filter: grayscale(0%);
			}
		}
	}
}
#howSplitPayment{
	.row{
		.payment{
			width: 200px;
			height: 100px;
			border:1px solid $neutro400;
			display: flex;
			align-items: center;
			justify-content: start;
			height: 77px;
			border-radius: $border;
			margin-bottom: 0;
			.actions{
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				.left{
				  display: flex;
				  margin-left: 110px;
				  margin-top: 24px;
				}
				.btn{
					max-width: 109px;
					height: 40px;
					img{
						margin-right: 4px;
					}
				}
			}
			.card-md{
				padding:none;
			}
			.method{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background: $neutro200;
				margin-right: 29px;
				&.payoneer{
					background: rgba(242, 157, 66, 0.2);
				}
				&.paypal{
					background: rgba(5, 148, 205, 0.08);
				}
			}
			h4{
				text-align: left;
				font-size: 24px;
				font-family: $titles;
				color:$neutro000;
				margin-bottom: 10px;
				&.lx{
					margin-right: 60px;
				}
			}
			p{
				text-align: left;
				font-size: 16px;
				color:$neutro400;
				margin-bottom: 10px;
			}
		}
	}
}
#profile{
	padding-top: 40px;
	padding-bottom: 56px;
	max-width: 1068px;
	.row.container{
		padding: 0;
		max-width: 1068px;
	}
	.nav-tabs{
		justify-content: center;
		background: none;
		border-bottom: 1px solid $neutro300;
		.nav-item{
			//max-width: 25%;
			.nav-link{
				font-size: 18px;
				color:$neutro900;
				font-family: $text;
				justify-content: flex-end;
				padding: 0 16px;
				//letter-spacing: 0.5px;
				img{
					position: relative;
				    top: inherit;
				    left: inherit;
				    width: auto;
				    margin: 0;
					opacity: 1;
					margin-right: 16px;
					filter:grayscale(100%);
				}
				&.active{
					border-bottom: 4px solid $primary;
					color:$primary;
					img{
						filter: grayscale(0);
					}
				}
			}
		}
	}
	.mobile-drop{
		margin-bottom: 32px;
		.dropdown{
			.dropdown-toggle{
				justify-content: flex-start;
				position: relative;
				background: #fff;
				border-radius: $border;
				border-color:$neutro400;
				color:$neutro400;
				img{
					filter:grayscale(100%);
					margin-right: 16px;
					width: 13px;
				}
				&:after{
					border:none;
					background: url(../img/angle_down_outlined.svg) no-repeat center;
					position: absolute;
					right: 0;
					top: 0;
					margin: 0;
				    width: 46px;
				    height: 46px;
				    background-size: 32px auto;
				}
				&[aria-expanded="true"]{
					background: #fff;
					border-radius: $border;
					border-color:$neutro400;
					color:$neutro400;
				}
			}
			.dropdown-menu{
				width: 100%;
			    margin: 1.125rem 0 0;
			    border:none;
				.dropdown-item{
					height: 48px;
					line-height: 40px;
					color:$neutro400;
					img{
						filter:grayscale(100%);
						margin-right: 16px;
						width: 20px;
					}
					&.active{
						background:none;
						color:$primary;
						img{
							filter:grayscale(0%);
						}
					}
				}
			}
		}
	}
	.tab-pane{}
	.card-type{
		padding: 24px;
	}
	.data{
		margin-bottom: 24px;
	}
	.profile-picture{
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		max-width: 800px;
		margin: 0 auto 32px;
		.info{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			h4{
				font-size: 20px;
				color: $neutro000;
				margin-bottom: 0;
			}
			img{
				width: 80px;
				display: block;
				margin-bottom: 24px;
			}
			.info{
				margin-left: 16px;
				width: 100%;
				margin: 0;
				display: flex;
			}
			.btn-ghost{
				height: 24px;
				font-size: 16px;
				//justify-content: flex-start;
				color:$neutro;
				font-family: $titles;
				padding-left: 0;
				display: flex;
			}
		}
		.btn-outline{
			// height: 30px;
			// width: 50px;
			//border-radius: 2px;
		}
	}
	.password-change{
		width: 100%;
		max-width: 534px;
		margin:0 auto;
		h4{
			font-size: 20px;
			color: $neutro000;
			margin-bottom: 24px;
		}
	}
	form{
		max-width: 864px;
		margin: 32px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.form-group{
		max-width: 400px;
		label{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: $text;
			color:$neutro400;
			font-size: 18px;
		}
		.btn-tooltip{
			width: 48px;
			height: 24px;
			padding: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
		.select.type2{
			.select-look{
				background: #fff;
				box-shadow: none;
				.ico{
					right: 1px;
				}
			}
		}
		.custom-date{
			.date-look{
				border-radius: $border;
				box-shadow: none;
				height: 48px;
				padding: 8px 16px;
				.date{
					border-left:1px solid $neutro300;
					right: 0;
					left: inherit;
				    height: 38px;
    				top: 5px;
				}
			}
		}
	}
	.empty_state{
		width: 100%;
		max-width: 534px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin:0 auto;
		padding: 32px 24px;
		button.add-pay-method{
			width: 90%;
			max-width: 618px;
			height: auto;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
			}
			.btn{
				width: 100%;
				max-width: 375px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 25px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
		.no-payments{
			width: 90%;
			max-width: 618px;
			height: 90%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	.payment{
		p strong{
			font-size: 16px;
			font-family: $titles;
			color:$neutro;
			padding-left: 16px;
			margin-bottom: 24px;
		}
		.card-type{
			padding: 32px;
			position: relative;
			padding-top: 16px;
			padding-right: 16px;
			.actions{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			button{
				//position: absolute;
				right: 32px;
				top: 32px;
				width: 55px;
				height: 32px;
				border-radius: 2px;
				font-family: $titles;
				margin-left: 8px;
			}
			h5{
				font-size: 18px;
				font-family: $titles;
				color:$neutro000;
				margin-bottom: 8px;
			}
			.info{
				dl{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-bottom: 0;
					dt{
						font-size: 16px;
						font-family: $titles;
						color:$neutro000;
					}
					dd{
						font-size: 16px;
						color: $neutro700;
						margin: 0;
						margin-left: 16px;
					}
				}
			}
		}
	}
	.actions{
		button{
			max-width: 110px;
		}
	}
	.set{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 48px;
		margin-bottom: 16px;
		.notif-type{
			width: calc(100% - 156px);
			h4{
				color:$neutro900;
				margin-bottom: 14px;
			}
			p{
				margin-bottom: 0;
				font-size: 16px;
				color:$neutro400;
			}
		}
		.switch{
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			.custom-switch{
				height: 32px;
				padding: 0;
				width: 55px;
				margin-left: 8px;
				display: inline-flex;
				input.custom-control-input{
					width: 100%;
					height: 100%;
				}
				label.custom-control-label{
					&:before{
						width: 55px;
						height: 32px;
						border-radius: 16px;
						border-color:$neutro300;
						background: $neutro300;
						left: 0;
						right: 0;
						top: 0;
					}
					&:after{
					    width: 26px;
					    height: 26px;
					    background-color: #fff;
					    border-radius: 50%;
				        top: 3px;
						left: 3px;
						box-shadow: 0px 3.35076px 3.35076px rgba(0, 0, 0, 0.25);
					}
				}
				.custom-control-input:checked ~ .custom-control-label::before{
					background: $exito;
					border-color:$exito;
				}
				.custom-control-input:checked~.custom-control-label::after{
    				transform: translateX(1.4rem) !important;
				}
			}

			span.state{
				font-size: 16px;
				color:$neutro400;
				text-align: left;
			}
		}
	}
	.form-inline{
		.custom-radio{
			width: 45%;
			max-width: 324px;
			position: relative;
			height: 100px;
			max-height: 426px;
			margin: 8px;
			padding: 0;
			input{
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				//flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				border-radius: $border2;
				box-shadow: $sombra16;
				background: #fff;
				padding: 16px;
				margin-bottom: 0;
				img{
					width: 48px;
					margin-right: 8px;
				}
				span{
					color:$neutro000;
					font-size: 14px;
					font-family: $titles;
					width: calc(100% - 56px);
					margin-left: 0;
				}
			}
			input:checked + label{
				background: $primary100;
				border:2px solid $primary;
				box-shadow: none;
				span{
					color:$primary !important;
				}
			}
			input:disabled + label{
				background: $primary100;
				border:1px solid $neutro300;
				img{
					opacity: 0.5;
				}
				span{
					color:$neutro300;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
				background: none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
		}
	}
	
}
@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	header{
  		height: auto;
		border-right: none;
	    flex-wrap: inherit;
    	justify-content: space-between;
    	height: 64px;
    	align-items: center;
    	align-content: center;
    	width: 100%;
    	padding-top: 0;
    	.d-lg-none{
    		display: inline-flex !important;
    	}
    	button.navbar-toggler{
			width: 56px;
			height: 56px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color:$primary;
			padding: 0;
			position: absolute;
    		right: 0;
    		top: 4px;
    		right: 16px;
			i{
				font-size: 24px;
			}
		}
		nav{
    		position: absolute;
    		width: 100vw;
    		left: 0;
    		right: 0;
    		top: 60px;
    		margin: 0;
    		left: -17px;
    		ul{
    			width: 100%;
			    height: 1px;
			    //border-top: 1px solid $neutro300;
			    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.10);
		        position: absolute;
			    z-index: 3;
			    top: 5px !important;
			    align-content: flex-start;
			    flex-wrap: wrap;
			    background: #fff;
			    right: 0;
				overflow: hidden;
				padding: 0 24px;
				left: 16px;
			    //transition: 400ms ease-out right;
			    &.show{
					height: auto;
					transition: 400ms ease-out height;
    				opacity: 1;
    				top: 65px;
    				padding: 24px;
    			}
    			&.collapsing{
    				top: 65px;
    			}
			}
    	}
  	}
  	#platform{
  		width: 100%;
  		position: relative;
  	}
}
@media (max-width: 992px){
	body{
		padding-top: 0;
		overflow-x: hidden;
	}
	header{
		height: auto;
		border-right: none;
	    flex-wrap: inherit;
    	justify-content: space-between;
    	height: 64px;
    	align-items: center;
    	align-content: center;
    	width: 100%;
    	padding-top: 0;
    	button.navbar-toggler{
			width: 56px;
			height: 56px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color:$primary;
			padding: 0;
			position: absolute;
    		right: 0;
    		top: 4px;
    		right: 16px;
			i{
				font-size: 24px;
			}
		}
    	.user-profile{
			max-width: inherit;
		}
    	nav{
    		position: absolute;
    		width: 100vw;
    		left: 0;
    		right: 0;
    		top: 60px;
    		margin: 0;
    		left: -17px;
    		ul{
    			width: 100%;
    			max-width: inherit;
			    height: 1px;
			    //border-top: 1px solid $neutro300;
			    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.10);
		        position: absolute;
			    z-index: 3;
			    top: 5px !important;
			    align-content: flex-start;
			    flex-wrap: wrap;
			    background: #fff;
			    right: 0;
				overflow: hidden;
				padding: 0 24px;
				left: 16px;
			    //transition: 400ms ease-out right;
			    &.show{
					height: auto;
					transition: 400ms ease-out height;
    				opacity: 1;
    				top: 65px;
    				padding: 24px;
    			}
    			&.collapsing{
    				top: 65px;
    			}
    		}
    	}
    	&.horizontal{
    		height: 70px;
    		h1{}
    		nav{
    			width: 100%;
				.accordion{
					height: 0;
					top: 10px !important;
					flex-wrap: wrap;
					box-shadow: none;
					border:none;
					width: 100%;
					li{
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;
						border-bottom:1px solid $neutro200;
						a{
							padding-bottom: 0;
							height: 48px;
						}
						&.card{
							border:none;
							border-bottom:1px solid $neutro200;
							.card-header{
								padding: 0;
								width: 100%;
								background: transparent;
								h2{
									line-height: 48px;
								}
								button{
									background: none;
									width: 100%;
									height: 48px;
									position: relative;
									text-align: left;
									padding: 0 16px;
									img{
										filter:grayscale(100%);
										margin-right: 16px;
									}
									span{
										font-size: 18px;
										color:$neutro400;
									}
									.ico{
										width: 48px;
										height: 48px;
										position: absolute;
										right: 0;
										top: 0;
										display: flex;
										align-items: center;
										justify-content: center;
										img{
											margin: 0;
											width: 16px;
										}
									}
									&[aria-expanded="true"]{
										.ico{
											transform: rotate(180deg);
										}
									}
								}
							}
							.card-body{
								position: relative;
								padding: 0;
							    left: inherit;
							    box-shadow: none;
							    top: inherit !important;
							    z-index: 1;
							    border-top: 1px solid $neutro200;
							    background: $neutro100;
								flex-wrap: wrap;
							}
							.collapse.show{
								width: 100%;
								.card-body{
									height: auto;
									padding: 0;
									li{
										a{
											font-size: 18px;
											color:$neutro400;
											text-transform: none;
											font-family: $text;
											padding-left: 58px;
										}
										&:last-child{
											border-bottom:none;
										}
									}
								}
							}
							
						}
						&.card.user-profile{
							margin: 0;
							.card-header{
								h2{
									button{
										height: 64px;
										img{
											width: 48px;
										}
										.ico{
											height: 64px;
											img{
												width: 16px;
											}
										}
										.badge{
										    position: absolute;
										    width: 24px;
										    height: 24px;
										    border: 2px solid #fff;
										    background: $primary;
										    border-radius: 50%;
										    font-size: 12px;
										    color: #fff;
										    font-family: $titles;
										    padding: 0;
										    display: flex;
										    align-items: center;
										    justify-content: center;
										    left: 49px;
										    top: 4px;
										}
									}
								}
							}
							.card-body{
								li{
									a{
										padding-left: 24px !important;
									}
									.badge{
										position: absolute;
										width: 8px;
										height: 8px;
										background: $primary;
										border-radius: 50%;
										padding: 0;
										display: flex;
										align-items: center;
										justify-content: center;
										left: 132px;
										top: 11px;
									}
								}
							}
						}
					}
				}
				&.show{
					.accordion{
						height: auto;
						border-top:1px solid $neutro300;
					}
				}
    		}
    	}
	}
	#platform{
		height: auto;
		padding-top: 24px;
		width: 100%;
		position: relative;
	}
	.contracts{
		.begin{
			margin-top: 0px;
		}
	}
}
#UnexpectedError{
	.modal-header{
		img{
			margin-left: 18px;
		}
	}
	.modal-body{
		h4{
			text-align: center;
		}
		p{
			text-align: center;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	#platform{
  		#top{
  			.col-md-6{
  				flex: 100%;
  				max-width: 100%;
  				align-items: flex-start;
  				justify-content: flex-start !important;
  				margin-top: 1rem;
  			}
  		}
  	}
  	#payout{
		.traceability{
			.actions{
				.col-12{
					display: none !important;
					&.active{
						display: block !important;
						h5{
							max-width: inherit;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.contracts{
		.table{
			overflow-x: auto;
		}
		.thead{
			position: relative;
			width: max-content;
			.th{
				position: relative;
				z-index: 1;
				&:first-child{
					width: 184px;
				}
				&:nth-child(2){
					width: 194px;
				}
				&:nth-child(3){
					width: 153px;
				}
				&:nth-child(4){
					width: 133px;
				}
				&:nth-child(5){
					width: 129px;
				}
				&:nth-child(6){
					width: 145px;
				}
				&:nth-child(7){
					width: 108px;
				}
			}
		}
		.tbody{
			position: relative;
			.item{
				flex-wrap: wrap;
				width: max-content;
				.td{
					position: relative;
					z-index: 1;
					&:first-child{
						width: 184px;
					}
					&:nth-child(2){
						width: 194px;
					}
					&:nth-child(3){
						width: 133px;
					}
					&:nth-child(4){
						width: 153px;
					}
					&:nth-child(5){
						width: 129px;
					}
					&:nth-child(6){
						width: 145px;
					}
					&:nth-child(7){
						width: 108px;
					}
					button{
					}
				}
			}
		}
	}
	.new-contract{
		form{
			.form-group{
				.custom-radio.big-radio{
					margin-bottom: 24px;
				}
			}
		}
	}
	#payout{
		.traceability{
			.actions{
				.col-12{
					display: none !important;
					&.active{
						display: block !important;
						h5{
							max-width: inherit;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 576px){
	header{
		ul{
			li{
				padding: 4px;
				a{
					border: none;
				}
			}
		}
	}
	.new-contract{
		.nav-tabs{
			flex-wrap: inherit;
			.nav-item{
			    flex: initial;
			    max-width: inherit;
			    padding: 8px;
				.nav-link{
				    flex-wrap: wrap;
    				text-align: center;
    				font-size: 1px;
    				color:transparent;
    				padding: 8px 0;
    				max-width: 67px;
    				text-align: left;
					span{
					    display: flex;
					}
					&.active{
						font-size: 14px;
						color: $neutro900;
					    width: 110px;
    					max-width: inherit;
					}
				}
			}
		}
		.btn.btn-default{
			font-size: 12px;
			max-width: 140px;
		}
	}
	#payout{
		.accordion{
			.card{
				.traceability{
					.icons{
						.col-3{
							display: none !important;
							&.active{
								display: block !important;
								flex: 1;
								max-width: inherit;
								.icon{
									background: #FFFFFF;
									box-shadow: $sombra16;
									border-radius: $border;
									margin: 0 auto 24px;
									img{
										width: 48px;
									}
								}
							}
						}
						.icon{
							box-shadow: none;
							border-radius:0;
							background: transparent;
							img{
								width: 32px;
							}
							&.active{
								
							}
						}
					}
					.actions{
						.col-12{
							display: none !important;
							&.active{
								display: block !important;
								h5{
									max-width: inherit;
								}
							}
						}
					}
				}
			}
		}
	}
	#platform{
		.notifications{
			.new{
				margin-left:0; 
			}
			.notification{
				flex-wrap: wrap;
				.ico{
					margin: 0 auto 32px;
				}
				.newico{
					margin: 0 auto 32px;
				}
				p{
					width: 100%;
					margin-bottom: 32px;
					text-align: center;
				}
				.actions{
					width: 100%;
					justify-content: center;
				}
			}
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}