@import 'styles.scss';


#register{
	padding:56px 0 0 0;
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    section{
    	width: 100%;
    }
	h2{
		margin-bottom: 48px;
		font-size: 40px;
	}
	h3{
		font-size: 32px;
		word-break: break-word;
	}
	form{
		.custom-radio{
			position: relative;
			height: 56px;
			margin: 0;
			margin-top: 16px;
			input{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 56px;
				background: #FFFFFF;
				box-shadow: 0 0 6px 0 rgba(144,138,139,0.30);
				border-radius: 6px;
				position: relative;
				z-index: 1;
				align-items: center;
				justify-content: flex-start;
			    padding: 0 16px;
    			display: flex;
				span{
					color: $neutro;
					font-size: 14px;
					font-weight: 400;
					margin-left: 16px;
				}
				.check{
					position: absolute;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: $primary;
					display: flex;
					align-items: center;
					justify-content: center;
					right: 16px;
					top:50%;
					margin-top: -12px;
					opacity: 0;
					img{}
				}
			}
			.custom-control-label::after{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			.custom-control-label::before{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			input:checked + label{
				border:1px solid $primary;
				span{}
				.check{
					opacity: 1;
				}
			}
			&.big-radio{
				height: auto;
				width: 100%;
				height: 100%;
				label{
					height: auto;
					flex-wrap: wrap;
					justify-content: center;
					padding: 3vw;
					span{
						width: 100%;
						font-weight: 700;
						font-size: 21px;
						color: $primary;
						letter-spacing: 0;
						text-align: center;
						margin-bottom: 16px;
						display: block;
						margin-left: 0;
					}
					.check{
						margin: 0;
						top: 16px;
					}
				}
			}
		}
	}
	.register-banner{
		background: #fafafa;
		padding: 24px 16px;
		p{
			color:$neutro;
			margin-bottom: 0;
			strong{
				font-weight: 500;
			}
		}
		.row{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.nav-tabs{
		margin-bottom: none;
		position:relative;
		border:none;
		margin-top: 40px;
		margin-bottom: 40px;
		background: #fafafa;
		min-height: 64px;
	    display: flex;
	    align-items: center;
		.nav-item{
			position: relative;
			z-index: 2;
			.nav-link{
				font-size: 14px;
				font-weight: 400;
				display: inline-flex;
				color:$neutro;
				align-items: center;
				justify-content: flex-start;
				position: relative;	
				border:none;
				position: relative;
				width: 100%;
				background: none;
				span{
					width: 32px;
					height: 32px;
					border-radius:50%;
					background: $neutro200;
					color:$neutro400;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					position: relative;
					margin-right: 16px;
					font-size: 18px;
					font-weight: 500;
				}
				img{
					position: absolute;
					opacity: 0;
					width: 16px;
					top: 50%;
					left:50%;
					margin-top: -5px;
					margin-left: -8px;
				}
				&:hover{
					border:none;
				}
				&.done{
					span{
						color: transparent;
						background: $primary300;
						top:0;
					}
					img{
						opacity: 1;
					}
				}
				&.active{
					font-weight: 600;
					color: $neutro700;
					span{
						color:#fff;
						background:$primary;
					}
					img{
						opacity: 0;
					}
				}
			}
		}
	}
	.tab-pane{
		&.fade:not(.show){
			display: none;
			transition: 300ms linear all;
		}
	}
	.shareholders{
		.table-head{
			height: 48px;
			color:$neutro900;
			font-size: 21px;
			font-weight: 700;
			background: $neutro200;
			padding-left: 16px;
			line-height: 48px;
		}
		.row{
			margin-bottom: 24px;
		}
		.shareholder{
			display: flex;
			align-items: center;
			font-weight: inherit;
			label{
				font-size: 21px;
				font-weight: 700;
				color:$neutro;
				margin-right: 16px;
				line-height: 48px;
				margin-bottom: 0;	
			}
			input{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: 10px;
				color:$neutro700;
				padding-left: 16px;
				font-size: 16px;
				font-weight: 400;
				//box-shadow: $sombra13;
				border:1px solid $neutro300;
				transition: all linear 300ms;
				&:focus{
					outline:none;
					border: 1px solid $primary400;
				}
				&.error{
					border:1px solid $error;
				}
			}
		}
	}
	.check-done{
		width: 80px;
		height: 80px;
		border-radius:50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $exito;
		margin-bottom: 40px;
		img{
			width: 48px;
		}
	}
}
@media (max-width: 1200px){
	
}
@media (max-width: 992px){
	
}
@media (max-width: 766px) {
	
}
@media (max-width: 576px){
	#register{
		.nav-tabs{
			flex-wrap: wrap;
			.nav-item{
				padding: 0;
				.nav-link{
				    flex-wrap: wrap;
    				text-align: center;
    				font-size: 1px;
    				color:transparent;
    				padding: 8px 0;
					span{
					    display: flex;
    					margin: 0 auto 16px;
					}
					&.active{
						font-size: 14px;
					}
				}
			}
		}
		.btn.btn-default{
			font-size: 12px;
			max-width: 140px;
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	

}