@import 'colores.scss';
.row.container{
	max-width: 1440px;
}
#review{
	.row.container{
		max-width: 1070px;
	}
	.top{
		max-width: 1070px;
		margin-top: 109px;
		h2{
			font-size: 32px;
			line-height: 1;
			color:$neutro000;
			margin-bottom: 20px;
		}
		h3{
			font-size: 24px;
			line-height: 1;
			color:$neutro000;
			margin-bottom: 20px;
			font-weight: $titles;
		}
		p{
			font-size: 16px;
			color:$neutro600;
			margin-bottom: 8px;
			margin:0 auto;
			line-height: 24px;
		}
	}
	.banner{
		width: 100%;
	    height: auto;
	    position: fixed;
	    z-index: 3;
	    background: $primary;
	    justify-content: space-between;
	    padding: 0;
	    flex-wrap: inherit;
	    height: 100px;
	    align-items: center;
	}
}
#ContractPreview{
	.modal-dialog{
		max-width: 1139px;
		.modal-body{
			.sign{
				width: 100%;
				max-width: 459px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto 40px;
				.line{
					height: 48px;
					width: calc(100% - 60px);
					border-bottom: 1px solid $neutro;
					margin-right: 20px;
				}
				button{
					width: 132px;
					margin-right: 10px;
				}
			}
			.custom-control{
				    position: relative;
				    display: block;
				    min-height: 1.5rem;
				    padding-left: 1.5rem;
				    margin-bottom: 30px;
				    margin-left: 260px;
				    justify-content: center;

			}
			.contract{
				width: 100%;
				background: $neutro700;
				height: 60vh;
				color:#fff;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}