@import 'styles.scss';
@import 'platform.scss';

body{
	background: #f9f9f9;
	min-height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.row.container{
	max-width: 1440px;
}
form{
	max-width: 440px;
	margin: 20px auto;
	.form-group{
		position: relative;
		h5{
			color: $neutro600;
			font-size: 16px;
			line-height: 19px;
			font-family: $titles;
			margin-bottom: 16px;
			span{
				font-style: italic;
				color:$primary;
				font-family: $text;
			}
		}
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=search], 
		input[type=date], 
		input[type=time],
		input[type=month],
		input[type=number]{
			border-radius: $border;
			font-size: 17px;
			height: 53px;
		}
		&.w-tooltip{
			button{
				width: 53px;
				height: 53px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 15px;
				top: 0;
				background: transparent;
				text-align: center;
			}
		}
		.select{
			&.type2{
				.select-look{
					background: #fff;
					border-color:$neutro300;
					color:$neutro400;
					height: 53px;
					.ico{
						width: 53px;
						height: 45px;
						right: 8px;
						border-left: 1px solid $neutro300;
					    left: inherit;
						top: 3px;
						right: 3px;
					}
				}
			}
		}
		.btn.w100{
			margin: 16px auto;
			margin-bottom: 22px;
		}
		.visibility{
			position: absolute;
			right: 0;
			top: 0;
			width: 53px;
			height: 53px;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				filter: grayscale(100%);
			}
			&.on{
				img{
					filter:grayscale(0%);
				}
			}
		}
		.custom-radio{
			width: 45%;
			max-width: 324px;
			position: relative;
			height: 100px;
			max-height: 426px;
			margin: 8px;
			padding: 0;
			input{
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				//flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				border-radius: $border2;
				box-shadow: $sombra16;
				background: #fff;
				padding: 16px;
				margin-bottom: 0;
				flex-wrap: wrap;
				p{
				  font-size: 11px;
				  margin-bottom: 0;
				  color: #000;
				  text-align: center;
				  line-height: 25px;
				  margin-top: 4px;
				}
				img{
					width: 48px;
					margin-right: 8px;
				}
				span{
					color:$neutro000;
					font-size: 14px;
					font-family: $titles;
					width: calc(100% - 56px);
					margin-left: 0;
				}
			}
			input:checked + label{
				background: $primary100;
				border:2px solid $primary;
				box-shadow: none;
				span{
					color:$primary !important;
				}
			}
			input:disabled + label{
				background: $primary100;
				border:1px solid $neutro300;
				img{
					opacity: 0.5;
				}
				span{
					color:$neutro300;
				}
			}
		}
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 32px;
			margin-top: 0;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				color:$neutro300;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				left:-1rem;
				opacity: 1;
				box-shadow: none;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
		}
		.custom-date{
			position: relative;
			input{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 2;
			}
			.date-look{
				position: relative;
				width: 100%;
				height: 53px;
				background: #FFFFFF;
				border: 1px solid $neutro300;
				box-sizing: border-box;
				border-radius: 5px;
				z-index: 1;
				padding-left: 16px;
				.text{
					font-size: 17px;
					line-height: 53px;
					color: $neutro400;
				}
				.ico{
					width: 53px;
					height: 40px;
					position: absolute;
					right: 0;
					top: 6px;
					border-left:1px solid $neutro300;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.custom-checkbox{
		label{
			color: $neutro400;
			font-size: 14px;
		}
		.custom-control-label::before, .custom-control-label::after{
			top: .1rem;
		}
		.custom-control-input:checked~.custom-control-label::before{
			border-color: $primary;
			background-color: $primary;
			box-shadow: none;
		}
	}
}
main#signup{
	width: 95%;
	position: relative;
	max-width: 900px;
	background: #fff;
	box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.08);
	border-radius: 17px;
	min-height: 667px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	margin: 48px auto 64px;
	header{
		width: 40%;
		position: absolute;
		display: inline-flex;
		align-items: flex-start;
		justify-content: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		background: $primary;
		border-radius: 17px;
		padding: 56px;
		padding-right: 24px;
		height: 100%;
		h1{
			margin-bottom: 120px;
			img{
				width: 135px;
			}
		}
		p{
			color: #fff;
		    font-size: 24px;
		    font-family: "a_bold", sans-serif;
		    position: relative;
		    z-index: 2;
		    line-height: 29px;
			&.display2{
				font-family: "a_regular", sans-serif;
			    font-size: 16px;
			    color: #fff;
			    line-height: 22px;
			}
		}
		.world{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			img{
				width: 100%;
			}
		}
		.texture{
			position: absolute;
			right:0;
			top: 43px;
			z-index: 1;
		}
		.texture2{
			position: absolute;
			left: 0;
			top: 330px;
			z-index: 1;
		}
	}
	section{
		width: 60%;
		display: inline-block;
		margin-left: 40%;
		padding: 24px;
		padding-top: 56px;
		h2{
			font-size: 25px;
			line-height: 30px;
			color: $neutro000;
			margin-bottom: 40px;
			width: 100%;
			text-align: center;
		}
		.close{
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 8px;
			top: 8px;
			position: absolute;
			img{
				margin: 0 !important;
			}
		}
		.back{
			color:$neutro400;
			width: auto;
		}
		&.signup-1{
			.btn-default.w100{
				//margin-bottom: 8px;
			}
			.log{
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-family: $titles;
				color: $neutro400;
				a{
					color: $primary;
				}
			}
		}
		&.login{
			form{
				.custom-checkbox{
					position: relative;
					label{
						color: $neutro400;
						font-size: 16px;
					}
					a.link{
						position: absolute;
						right: 0;
						text-decoration: none !important;
						font-family: $titles;
					}
				}
			}
			.log{
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-family: $titles;
				color: $neutro400;
				a{
					color: $primary;
				}
			}
			
		}
	}
	&.verify-email{
		max-width: 684px;
		min-height: 457px;
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			img{
				display: block;
				margin: 0 auto 16px;
			}
			.w100{
				max-width: 352px;
				margin: 16px auto;
			}
			h2{
				font-style: 25px;
				margin-bottom: 16px;
			}
			p{
				font-size: 24px;
				color: $neutro400;
				line-height: 25px;
				text-align: center;
				margin-bottom: 32px;
				strong{
					font-family: $titles;
				}
			}
		}
	}
	&.company-role{
		max-width: 684px;
		min-height: 457px;
		position: relative;
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			h5{
				text-align: center;
				font-size: 25px;
				margin-bottom: 48px;
			}
			.custom-radio{
				width: 100%;
				max-width: 360px;
			    margin: 0 auto 40px;
    			display: block;
    			label{
    				span{
    					font-size: 25px;
    					font-family: $text;
    					color: $neutro600;
    					text-align: center;
    				}
    			}
			}
		}
	}
	&.company-info{
		border-radius: 0 0 17px 17px;
		min-height: 630px;
		form{
			max-width: 826px;
		}
		.close{
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 0;
			top: 0;
			position: absolute;
		}
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			position: relative;
			.timeline{
	    		width: 100%;
	    		position: absolute;
	    		height: 4px;
	    		background: $neutro200;
	    		top: 0;
	    		left: 0px;
	    		z-index: 2;
	    		.progress{
	    			position: absolute;
	    			height: 4px;
	    			width: 100%;
	    			left: 0;
	    			top: 0;
	    			background: $primary;
	    		}
	    		&.step1{
	    			.progress{
	    				width: 50%;
	    			}
	    		}
	    	}
		}
	}
	&.send-invite{
		max-width: 540px;
		min-height: 439px;
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			img{
				display: block;
				margin:0 auto ;
			}
			h2{
				font-style: 25px;
				margin-bottom: 16px;
			}
			a{
				margin: 0 auto;
			}
			form{
				max-width: 400px;
			}
		}
	}
	&.account-created{
		max-width: 407px;
		min-height: 338px;
		section{
			width: 100%;
			margin-left: 0;
			padding: 24px;
			padding-top: 40px;
			img{
				display: block;
				margin: 0 auto 32px;
			}
			h2{
				font-style: 25px;
				margin-bottom: 16px;
			}
			p{
				font-size: 20px;
				width: 100%;
				text-align: center;
				color:$neutro400;
				margin-bottom: 24px;
			}
			a{
				margin: 0 auto;
			}
			form{
				max-width: 400px;
			}
		}
	}
	&.contractor-type{
		max-width: 684px;
		min-height: 457px;
		position: relative;
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			h5{
				text-align: center;
				font-size: 25px;
				margin-bottom: 48px;
			}
			.custom-radio{
				width: 100%;
				max-width: 360px;
			    margin: 0 auto 40px;
    			display: block;
    			position: relative;
    			label{
    				img{
    					width: 64px;
    				}
    				span{
    					font-size: 25px;
    					font-family: $text;
    					color: $neutro600;
    					text-align: center;
    					//width: calc(100% - 72px);
    					width: auto;
    					margin-left: 8px;
    				}
    			}
    			button{
    				position: absolute;
    				right: 0;
    				top: 0;
    				width: 40px;
    				height: 40px;
    				display: flex;
    				align-items: center;
    				z-index: 3;
    				background: transparent;
    				justify-content: center;
    			}
			}
		}
	}
	&.company-info-contractor{
		border-radius: 0 0 17px 17px;
		min-height: 630px;
		form{
			max-width: 826px;
		}
		.close{
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 0;
			top: 0;
			position: absolute;
		}
		section{
			width: 100%;
			margin-left: 0;
			padding: 48px;
			position: relative;
			.timeline{
	    		width: 100%;
	    		position: absolute;
	    		height: 4px;
	    		background: $neutro200;
	    		top: 0;
	    		left: 0px;
	    		z-index: 2;
	    		.progress{
	    			position: absolute;
	    			height: 4px;
	    			width: 100%;
	    			left: 0;
	    			top: 0;
	    			background: $primary;
	    		}
	    		&.step1{
	    			.progress{
	    				width: 50%;
	    			}
	    		}
	    	}
	    	.form-inline{
	    		h5{
	    			font-size: 17px;
	    			color:$neutro400;
	    			font-family: $text;
	    		}
	    		.custom-radio.custom2{
	    			width: auto;
	    			label{
	    				color:$neutro400;
	    			}
	    		}
	    	}
		}
	}
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media (max-width: 1200px){
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	// iPad Pro
  	
}
@media (max-width: 992px){
	
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	// iPad
}
@media (max-width: 767px) {
	body{
		flex-wrap: wrap;
	}
	main#signup{
		width: 87%;
		flex-wrap: wrap;
		margin-top: 32px;
		margin-bottom: 64px;
		header{
			position: relative;
			height: auto;
			width: 100%;
			padding: 50px;
			h1{
				margin-bottom: 0;
				width: 100%;
				text-align: center;
			}
		}
		section{
			width: 100%;
			margin-left: 0;
			padding-top: 24px;
			h2{
			}
			form{
				.form-group{
					.custom-radio{
						width: 100%;
						margin: 0;
						margin-bottom: 16px;
					}
				}
			}
		}
	}
	main#signup section{
		padding: 24px !important;
		padding-top: 48px !important;
	}
	main#signup.company-info-contractor section .form-inline h5{
		width: 100%;
	}
	main#signup.company-info-contractor section .form-inline .custom-radio.custom2{
		width: 44%;
		margin: 8px;
	}
	footer{
		position: relative;
	}
}
@media (max-width: 576px){
	main#signup{
		.d-flex.justify-content-between{
			flex-wrap: wrap;
			flex-direction: column-reverse;
			button{
				width: 100%;
				max-width: inherit;
			}
		}
		form{
			.form-group{
				margin-bottom: 32px;
			}
		}
	}
	main#signup.company-role section .custom-radio label span{
		font-size: 20px;
	}
	main#signup.contractor-type section .custom-radio label span{
		font-size: 20px;
	}
}