@import 'colores.scss';

*{
	border:0;
	padding: 0;

}


html {font-size: 100%;} /*16px*/
body{
	font-family: $text;
	font-weight: 400;
	line-height: 1.3;
	color: $neutro;
	background: #fff;
	position: relative;
	letter-spacing: 0.18px;
}
h1{
	font-size: 1px;
	color:transparent;
}
h2{
	font-family: $titles;
	font-size: 32px;
	line-height: 60px;
	font-weight: 700;
	color:$neutro900;
}
h3{
	font-family: $titles;
	font-size: 32px;
	font-weight: 700; 
	line-height: 30px;
	color:$neutro900;
}
h4{
	font-family: $titles;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	color:$neutro800;
}
h5{
	font-family: $titles;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color:$neutro800;
}
label{
	font-weight: 300;
	font-size: 16px;
	color: $neutro700;
	text-align: left;
	line-height: 18px;
	margin-bottom: 16px;
}
p{
	font-weight: 400;
	font-family: $text;
	font-size: 16px;
	line-height: 18px;
	color:$neutro700;
	small{
		font-size: 14px;
	}
	strong{
		font-weight: 600;
	}
	&.legal{
		font-size: 12px;
	}
	&.primary{
		color: $primary;
	}

}
button:focus{
	outline: none;
}
.row.container{
	width: 95%;
	max-width: 1280px;
	margin: 0 auto;
}
.link{
	text-decoration: underline !important;
	font-size: 16px;
	font-family: $text;
	font-weight: 400;
	color:$primary !important;
	&.icon{
		margin-right: 16px;
	}
	&:hover{
		color: $primary700 !important;
	}
}
.btn{
	height: 48px;
	width: 100%;
	text-align: center;
	// text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.1;
	&.btn-white{
		background: #fff;
		color:$neutro600;
		font-size: 16px;
		font-family:$semi;
		max-width: 200px;
		border-radius:$border;
		transition: 300ms linear all;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		&:hover{
				background:$primary100;
				color:$primary;
				border-color: $primary;
			}	
	}
	&.btn-default{
		background: $primary;
		color:#fff;
		letter-spacing: 0.9px;
		font-size: 16px;
		font-family:$semi;
		max-width: 200px;
		border-radius:$border;
		transition: 300ms linear all;
		&.white-1{
			background: #FFFFFF;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			border-radius: 5px ;
			border: none solid #FFF;
			max-width: 254px;
			color: #7A7C7C;
			img{
				filter: grayscale(100);
			}
			&:hover{
				background: #FFDCE1;
                border: 1px solid #FF5A70;
                box-sizing: border-box;
                border-radius: 5px;
                color:#FF5A70;
                text-underline: none;
                img{
				filter: grayscale(0);
			    }
			}
			
		}
		&.invitesign{
		    margin-top: 34px;
		}
		&.approve{
			background: #36CF82;
			&:hover{
				background:#176A41;
				color:#fff;
			}	
		}
		&.max{
			max-width: 210px;
			img{
			margin-right: 16px;
			}
		}
		&.max3{
			max-width: 458px;
			justify-content: center;
			align-items:center;
			margin:0 auto;
			margin-bottom: 30px;
			margin-top: 20px;
		}
		&.social{
			margin-right: 60px;
			margin-bottom: 20px;
		}
		&.app{
			margin-left: 20px;
		}

		&.disabled{
			color:$neutro300;
			background: $neutro200;
			letter-spacing: 0.9px;
			font-size: 18px;
			font-weight: 500;
		}
		&:hover{
			background: $primary800;
			color:#fff;
			img{
				-webkit-filter: brightness(10);
				filter: brightness(10);
			}
		}
		img{
			margin-left: 16px;
		}
		&.gray{
			background: $neutro300;
			color:$neutro600;
			img{
				margin: 0;
				margin-right: 16px;
			}
			&.report{
				max-width: 210px;
			}
			&:hover{
				background:$neutro400;
				color:#fff;
				img{
					filter: brightness(75);
				}
			}
		}
		&.white{
			border:1px solid $neutro300;
			color:$neutro300;
			background: #fff;
			&:hover{
				background: $primary100;
				color:$primary;
				border-color:$primary;
			}
		}
	}
	&.btn-outline{
		height: 48px;
		max-width: 200px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius:$border;
		font-size: 14px;
		border:1px solid $primary;
		color:$primary;
		transition: 300ms linear all;
		&:hover{
			background: $primary;
			color:#fff;
			img{
				filter:brightness(100);
			}
		}
		&.sign1{
			margin:0 auto;
			margin-bottom: 20px;
			max-width: 256px;
			font-size: 18px;
		}
		&.max2{
			max-width: 400px;
		}
		&.invoice{
			width: 242px;
            height: 32px;
            margin-top: 10px;
		}
		&.gray{
			color:$neutro400;
			border-color:$neutro400;
			img{
				margin: 0;
				margin-left: 16px;
				filter: grayscale(35);
			}
			&.historic{
				font-weight: 400 ;
				max-width: 210px;
				font-size: 16px;
				margin-right: 20px;
				color:$primary;
				img{
					margin-right: 8px;
					filter: grayscale(70);
				}
			}
			&:hover{
				background: $neutro400;
				color:#fff;
				img{
					-webkit-filter: brightness(100);
  					filter: brightness(100);
				}
			}
		}
		&.mixed{
			width: 167px;
            height: 124px;
            background: #F5F5F5;
            border: 1px solid #C4C4C4;
			box-sizing: border-box;
			border-radius: 13px;
			color: #000;
			font-size: 32px;
			font-weight: 700;
			&:hover{
				background: #FFDCE1;
				border: 2px solid #FF5A70;
				box-sizing: border-box;
				border-radius: 13px;
				color: $primary;
			}
		}
		&.check{
			color:$exito;
			border-color:$exito;
			img{
				margin: 0;
				margin-left: 16px;
			}
			&:hover{
				background: $exito;
				color:#fff;
				img{
					-webkit-filter: brightness(100);
  					filter: brightness(100);
				}
			}
		}
	}
	&.btn-ghost{
		font-size: 18px;
		text-transform: none;
		color:$neutro600;
		max-width: 200px;
		&.dropdown-toggle{
			&:after{
				border:none;
			}
		}
		&.primary{
			color: $primary;
		}
		&.gray{
			color: $neutro400;
		}
	}
	&.btn-link{
		max-width: 250px;
		border-bottom:2px solid transparent;
		border-radius: 0;
		font-family: $titles;
		&.wire{
			margin:0 auto;
			margin-bottom: 20px;
			max-width: 256px;
		}
		&.primary{
			color:$primary;
			border-bottom-color:$primary;
		}
		&.large{
			font-size: 22px;
		}
		&:hover{
			text-decoration: none;
			border-radius: $border;
			&.primary{
				border:2px solid $primary;
			}
		}
	}
	&.historic{
			width: auto;
            max-width: 400px;
            font-size: 22px;
            font-family: "a_semibold", sans-serif;
			color:$primary;
			&:hover{
				text-decoration:underline;
			}
			img{
			margin-right: 8px;
			filter: grayscale(0%);
			}
		}
	&.w-icon-r{
		img{
			margin: 0;
			margin-left: 8px;
		}
	}
	&.w-icon-l{
		img{
			margin: 0;
			margin-right: 8px;
		}
	}
	&.min{
		text-transform: none;
		font-size: 20px;
	}
	&.w100{
		max-width: inherit;
	}
	&.t16{
		font-size: 16px;
		font-family: "a_semibold", sans-serif;
	}
}
.chat{
	position: fixed;
	bottom: 48px;
	right: 5%;
	width: 67px;
	height: 67px;
	background: $primary;
	border-radius:50%;
	box-shadow: $sombra20;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
// .new-hire{
// 	position: absolute;
// 	right: 3vw;
// 	top: 148px;
// 	font-size: 18px !important;
// 	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
// }
.notifications{
	width: 100%;
	margin-bottom: 24px;
	.row.container{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
		
	a{
		width: 67px;
		height: 67px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
} 
header{
	width: 100%;
	position: relative;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	.row.container{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
	h1{
		margin: 0;
		color:transparent;
    	font-size: 1px;
		.logo{
			width: 100%;
			padding: 0;
			margin: 0;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-wrap: wrap;
	        padding-bottom: 0;
		}
	}
	ul{
		width: 100%;
		max-width: 195px;
		padding: 0;
		margin: 0;
		position: relative;
	    display: flex;
		align-items: center;
		justify-content: flex-start;
		align-content: flex-end;
		li{
			width: 150px;
			list-style-type: none;
			margin-right: 24px;
			a{
				height: 48px;
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
				line-height: 48px;
				font-size: 14px;
				color: $neutro800;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0;
			}
		}
	}
}
form{
	.form-group{
		position: relative;
		margin-bottom: 32px;
		label{
			font-weight: 500;
			font-size: 16px;
			color: $neutro700;
			text-align: left;
			margin-bottom: 16px;
		}
		.input-box{
			position: relative;
			.ico{
				width: 48px;
				height: 48px;
				position: absolute;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=search], 
		input[type=date], 
		input[type=time],
		input[type=month],
		input[type=number]{
			width: 100%;
			max-width: 610px;
			height: 48px;
			background: #FFFFFF;
			border-radius: 10px;
			color:$neutro700;
			padding-left: 16px;
			font-size: 16px;
			font-weight: 400;
			//box-shadow: $sombra13;
			border:1px solid $neutro300;
			transition: all linear 300ms;
			&:focus{
				outline:none;
				border: 1px solid $primary400;
			}
			&.error{
				border:1px solid $error;
			}
		}
		
		.select{
			width: 100%;
			height: 48px;
			border-radius:$border2;
			position: relative;
			select{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				padding-left: 24px;
				color:$neutro600;
				font-size: 16px;
				opacity: 0;
			}
			.select-look{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: $border;
				border:1px solid $neutro300;
				padding-left: 16px;
				font-size: 16px;
				font-weight: 300;
				//box-shadow: $sombra13;
				position: relative;
				z-index: 1;
				line-height: 48px;
				color:$neutro;
				.ico{
					width: 48px;
					height: 48px;
					z-index: 0;
					position: absolute;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				img{
				}
			}
		}
		textarea{
			width: 100%;
			height: 114px;
			background: #FFFFFF;
			border-radius: 10px;
			border:1px solid $neutro300;
			color:$neutro600;
			padding: 24px;
			font-size: 16px;
			font-weight: 400;
			//box-shadow: $sombra13;
			transition: all linear 300ms;
			&:focus{
				outline:none;
				border: 1px solid $primary400;
			}
		}
		.upload-file{
			position: relative;
		    display: inline-block;
	    	cursor: pointer;
			input{
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			.look{
			    background: #FFFFFF;
			    box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    height: 48px;
			    max-width: 182px;
			    padding: 0 16px;
			    position: relative;
			    z-index: 1;
			    img{
					margin-right: 16px;
				}
			    span{
					font-size: 14px;
					line-height: 1.1;
					font-weight: 700;
					color:$neutro700;
				}
			}
			&:hover{
				cursor: pointer;
				.look{
					background: $primary;
					box-shadow: none;
					img{
						-webkit-filter: brightness(10);
  						filter: brightness(10);
					}
					span{
						color:#fff;
					}
				}
			}
		}
		.file-uploaded{
			background: #FFFFFF;
		    box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    height: 48px;
		    padding: 0 16px;
		    position: relative;
		    img{
		    	margin-right: 8px;
		    }
		    span{
		    	color:$neutro;
		    	font-size: 12px;
		    	line-height: 1.1;
		    	margin-right: 8px;
		    	max-width: 80px;
	    	    word-break: break-all;
		    }
		    .change-file{
		    	position: relative;
		    	input{
		    		width: 100%;
		    		height: 100%;
		    		position: absolute;
		    		z-index: 2;
		    		opacity: 0;
		    	}
		    	span{
		    		text-decoration: underline;
					font-size: 14px;
					font-family: $text;
					font-weight: 400;
					color:$primary;
					position: relative;
					z-index: 1;
		    		cursor: pointer;
		    	}
		    }
		    &:hover{
		    	cursor: pointer;
				background: $primary;
				box-shadow: none;
				img{
					-webkit-filter: brightness(10);
						filter: brightness(10);
				}
				span{
					color:#fff;
				}
				.change-file{
					span{
						color:#fff;
						font-weight: 500;
					}
				}
		    }
		}
		.custom-radio{
			position: relative;
			height: 56px;
			margin: 0;
			margin-top: 16px;
			input{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 56px;
				background: #FFFFFF;
				box-shadow: 0 0 6px 0 rgba(144,138,139,0.30);
				border-radius: 6px;
				position: relative;
				z-index: 1;
				align-items: center;
				justify-content: flex-start;
			    padding: 0 16px;
    			display: flex;
				span{
					color: $neutro;
					font-size: 14px;
					font-weight: 400;
					margin-left: 16px;
				}
				.check{
					position: absolute;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: $primary;
					display: flex;
					align-items: center;
					justify-content: center;
					right: 16px;
					top:50%;
					margin-top: -12px;
					opacity: 0;
					img{}
				}
			}
			.custom-control-label::after{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			.custom-control-label::before{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 2;
			}
			input:checked + label{
				border:1px solid $primary;
				span{}
				.check{
					opacity: 1;
				}
			}
			&:hover + label{
				border:1px solid $primary;
				span{}
			}
			&.big-radio{
				height: auto;
				width: 100%;
				height: 100%;
				label{
					height: auto;
					flex-wrap: wrap;
					justify-content: center;
					padding: 5vw;
					span{
						width: 100%;
						font-weight: 700;
						font-size: 21px;
						color: $primary;
						letter-spacing: 0;
						text-align: center;
						margin-bottom: 16px;
						display: block;
						margin-left: 0;
					}
					.check{
						margin: 0;
						top: 16px;
					}
				}
			}
		}
		input[type=date]::-webkit-inner-spin-button{
		    display:none;
		}
		input[type=date]::-webkit-calendar-picker-indicator{
			opacity: 0;
			width: 60px;
			height: 20px;
			margin-right: 0px;
		}
		input[type=number]::-webkit-outer-spin-button,
		input[type=number]::-webkit-inner-spin-button{
			display: none;
		}
		.error-message{
			display: none;
			align-items: center;
			justify-content: flex-start;
			height:36px;
			img{
				margin-right: 16px;
			}
			span{
				color:$error;
				font-size: 14px;
			}
		}
		.alert-message{
			display: none;
			align-items: center;
			justify-content: flex-start;
			height:36px;
			img{
				margin-right: 16px;
			}
			span{
				color:$alerta;
				font-size: 14px;
			}
		}
		&.error{
			.error-message{
				display: flex;
			}
			input{
				background: $error100;
				border-color: $error;
			}
		}
		&.alert{
			padding: 0;
			.alert-message{
				display: flex;
			}
			input{
				background: $alerta100;
			}
		}
		&.date{
			position: relative;
			input{
				position: relative;
				z-index: 2;
				background: transparent;
			}
			.date-ico{
				position: absolute;
				top:48px;
				right: 32px;
				z-index: 1;
			}
		}
		&.search{
			position: relative;
			input{
				position: relative;
				z-index: 2;
				background: transparent;
			}
			.search-ico{
				position: absolute;
				top:48px;
				right: 32px;
				z-index: 1;
			}
		}
		&.type1{
			input[type=text], 
			input[type=password], 
			input[type=email], 
			input[type=search], 
			input[type=date], 
			input[type=time],
			input[type=month],
			input[type=number]{
				width: 100%;
				max-width: 610px;
				height: 48px;
				background: #FFFFFF;
				border-radius: $border;
				color:$neutro700;
				padding-left: 16px;
				font-size: 16px;
				font-weight: 400;
				//box-shadow: $sombra13;
				border:1px solid $neutro400;
				transition: all linear 300ms;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $neutro300;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $neutro300;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $neutro300;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $neutro300;
				}
			}
		}
	}
	.checkbox{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		input{}
		label{
			margin-left: 16px;
			font-size: 14px;
			color:$neutro;
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	.form-check-inline{
		margin: 0;
		margin-left: 24px;
		label{
			color: $neutro600;
			margin: 0;
			margin-left: 8px;
		}
	}
	::-webkit-input-placeholder { /* Edge */
	  color: $neutro400;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: $neutro400;
	}

	::placeholder {
	  color: $neutro400;
	}
}
.form-check{
	height: 48px;
	label{
		font-size: 16px;
		font-weight: 400;
		color:$neutro;
	}
	&.custom{
		position: relative;
		width: 18px;
		height: 18px;
		padding: 0;
		input{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			opacity: 0;
			left: 0;
			top: 0;
			margin: 0;
		}
		.look{
			width: 18px;
			height: 18px;
			border-radius: 2px;
			border:1px solid $neutro400;
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			transition: all linear 300ms;
			img{
				width: 8px;
				margin: 0 !important;
			}
		}
		input:checked + label.look{
			background: $primary;
			border-color:$primary;
			img{
				filter: brightness(10);
			}
		}
		input:checked + label.check{
			background: #36CF82;
			border-color:#36CF82;
			img{
				filter: brightness(10);
			}
		}
	}
}
.custom-control-input:checked~.custom-control-label::before{
	border-color: $primary;
	background-color: $primary;
	box-shadow:none;
}
main{
	padding-top: 0;
}
.pre-footer{
	width: 100%;
	img{
		width: 100%;
	}
}
footer{
	background: $neutro100;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	.row.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	p{
		text-align: center;
		margin-bottom: 0;
		font-size: 12px;
		color:$neutro800;
		a{
			text-decoration: underline;
			color:$neutro800;
		}
	}
	.right-side{
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		.stories{
			font-size: 12px;
			margin-right: 16px;
			a{
				color:$neutro400;
			}
		}
		.eureka{
			font-size: 12px;
			color:$neutro;
			a{
				color:$neutro400;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				img{
					height: 24px;
				}
			}
		}
	}
	&.with-menu{
		padding-top: 32px;
		ul{
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				width: 47%;
				display: inline-flex;
				flex-wrap: wrap;
				font-weight: 600;
				color:$neutro700;
				font-size: 18px;
				ul{
					width: 100%;
					flex-wrap: wrap;
					margin-top: 24px;
					li{
						width: 100%;
						margin-bottom: 16px;
						a{
							color:$neutro;
							text-decoration: underline;
							font-weight: 400;
							font-size: 14px;
						}
					}
				}
			}
		}
		legend{
			font-size: 20px;
			color:$neutro800;
			font-weight: 700;
			margin-bottom: 24px;
		}
		.newsletter{
			label{
				color:$neutro600;
			}
			.form-inline{
				display: flex;
				flex-flow:inherit;
				input{
					width: calc(100% - 150px);
					border-radius: 8px 0 0 8px;
				}
				button{
					width: 150px;
					border-radius: 0 8px 8px 0;
				}
			}
		}
		.legal{
			margin-bottom: 16px;
		}
		.rrss{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			p{
				margin-right: 16px;
			}
			a{
				margin-right: 16px;
				img{
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					opacity: 0.8;
				}
				&:hover{
					img{
						-webkit-filter: grayscale(0);
						filter: grayscale(0);
						opacity: 1;
					}
				}
			}
		}
	}
}
.card1{
	background: #FFFFFF;
	border: 1px solid $neutro200;
	border-radius: 6px;
}
.card2{
	background: #FFFFFF;
	box-shadow: 0 0 6px 0 rgba(144,138,139,0.30);
	border-radius: 6px;
}
.w100{
	width: 100%;
}

.card-type{ 
	background: #FFFFFF;
	box-shadow: $sombra16;
	border-radius: $border;
	&.check{
	  border: 2px solid #36CF82;
	}
}
.card-type2{
	background: rgba(196, 196, 196, 0.1);
	border: 0.5px solid #989B9B;
	border-radius: $border;
}
.card-type3{
	background: #FFF;
	border: 0.5px solid #C4C4C4;
	border-radius: $border;
}
.card-type4{
	background: #F5F5F5;
	border: 0.5px solid #CFCDCD;
	border-radius: $border;
	&.total{
        border:0.5px solid $primary;
		background: $primary100;
		border-radius: $border;
		color: $primary;
     }
    &.paymentm{
    	border:none;
    	min-height: 55px;
    }
}
.modal{
	.modal-title{
		font-size: 24px;
		color:$neutro900;
		font-weight: 700;
		width: 100%;
	    text-align: center;
	    margin-top: 24px;
	}
	.modal-header{
		border:none;
	}
	.modal-content{
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: $border2;
	}
	.modal-dialog{
		max-width: 607px;
	}
	.modal-header{
		padding: 24px;
	}
	.modal-body{
		padding: 32px;
	}
	.modal-footer{
		border-top:none;
	}
	button.close{}
	p{
		max-width: 400px;
		line-height: 1.3;
		margin: 0 auto 24px;
		color:$neutro;
		&.marg{
			max-width: 460px;
		}
	}
	form{
		max-width: 400px;
		margin: 0 auto;
	}
}
.loader{
	position: fixed;
	z-index: 1021;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    align-content: center;
    h5{
    	width: 100%;
    	text-align: center;
    }
	.gooey{
		// position: absolute;
		// top: 50%;
		// left: 50%;
		width: 142px;
		height: 40px;
		// margin: -20px 0 0 -71px;
		background: white;
		filter: contrast(4);
		.dot{
			position: absolute;
			width: 16px;
			height: 16px;
			top: 12px;
			left: 15px;
			filter: blur(2px);
			background: $primary;
			border-radius: 50%;
			transform: translateX(0);
			animation: dot 2.8s infinite;
		}
		.dots{
		transform: translateX(0);
		margin-top: 12px;
		margin-left: 31px;
		animation: dots 2.8s infinite;
			span{
				display: block;
				float: left;
				width: 16px;
				height: 16px;
				margin-left: 16px;
				filter: blur(2px);
				background: $primary;
				border-radius: 50%;
			}
		}
		@keyframes dot{
			50%{
				transform: translateX(96px);
			}
		}
		@keyframes dots{
			50%{
				transform: translateX(-31px);
			}
		}
	}
}

@media (max-width: 992px){
	h2{
		font-size: 40px;
	}
}
@media (max-width: 766px) {
	header{
		z-index: 2;
		padding: 0;
		height: 60px;
		h1{
			.logo{
				width: 90px;
				img{
					width: 80px;
				}
			}
		}
		button.navbar-toggler{
			width: 56px;
			height: 56px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color:$primary;
			padding: 0;
			i{
				font-size: 24px;
			}
		}
		nav{
			&.logout{
				width: 125px;
				display: inline-flex;
				ul{
					width: 125px;
					position: relative;
				    top: inherit;
				    height: initial;
				    border: none;
				    box-shadow: none;
					li{

					}
				}
			}
		}
		ul{
		    width: 100%;
		    height: 1px;
		    border-top: 1px solid $neutro300;
		    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.10);
	        position: fixed;
		    z-index: 3;
		    top: 60px;
		    align-content: flex-start;
		    flex-wrap: wrap;
		    //padding-top: 24px;
		    background: #fff;
		    right: 0;
			overflow: hidden;
		    //transition: 400ms ease-out right;
			li{
				display: flex;
			    width: 100%;
			    max-width: inherit;
			    height: 48px;
				a{
				    border: none;
				    border-bottom: 1px solid $neutro200;
				    justify-content: flex-start;
				    height: 48px;
				    padding: 0 24px;
				    padding-left: 40px;
				}
			}
			&.show{
				height: auto;
				transition: 400ms ease-out right;
				padding-top: 24px;
			}
		}
	}
	footer{
		.newsletter{
			margin-top: 40px;
		}
	}
}
@media (max-width: 576px){
	.btn-default{
		&.max{
			img{
			 display: none;

			}
		}
		&.report{
			margin-bottom: 20px;
			margin-top: 20px;
			justify-content: center;
		}
	}
	h2{
		font-size: 32px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 18px;
	}
	main{
		&.with-menu{
			padding-bottom: 88px;
		}
	}
	header{
		ul{
			li{
				padding: 8px 0;
				margin: 0;
				justify-content: center;
				height: auto;
				a{
					text-align: center;
					justify-content: center;
				}
			}
		}
	}
	footer{
		.legal{
			height: 40px;
			line-height: 40px;
			text-align: center;
			width: 100%;
		}
		.right-side{
			height: 40px;
			width: 100%;
			justify-content: center;
		}
	}
}