@import 'styles.scss';
@import 'platform.scss';

.row.container{
	max-width: 1440px;
}

.switcher {
	position: relative;

	width:100%;
	height:58px;
	border-radius:$border;
	margin:20px 0;
	input {
		appearance: none;

		position: relative;
		width:100%;
		height:50px;
		border-radius:$border;
		background-color:$neutro100;
		outline:none;
		border: 1px solid $neutro300;
		font-size: 16px;
		color:$neutro400;
		&:before, &:after {
			z-index:2;
			border-radius: $border;

			position: absolute;
			top:50%;
			transform:translateY(-50%);

			//color:#fff;
		}
		&:before {
			content: 'Joined users';
			left: 0;
		    width: calc(50% - 10px);
		    height: 48px;
		    line-height: 48px;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		}
		&:after {
			content: 'Pending users';
			right:0;
			width: calc(50% - 10px);
		    height: 48px;
		    line-height: 48px;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		}
	}
	label {
		z-index:1;
		position: absolute;
		top:10px;
		bottom:10px;
		border-radius:$border;
		background: $neutro100;
	}
	&.switcher-1 {
		input {
			transition:.25s -.1s;
			&:checked {
				background-color:#fff;
				&:before {
					//color:#fff;
					transition: color .5s .2s;
				}
				&:after {
					color:$neutro000;
					background: $neutro300;
					transition: color .5s;
				}
				&+label {
					left:10px;
					right:50%;
					background:$neutro100;
					transition: left .5s, right .4s .2s;
				}
			}
			&:not(:checked) {
					background:#fff;
					transition: background .5s -.1s;
				&:before {
					color:$neutro000;
					background: $neutro300;
					transition: color .5s;
				}
				&:after {
					//color:$neutro000;
					background: none;
					transition: color .5s .2s;
				}
				&+label {
					left:50%;
					right:10px;

					background:#fff;

					transition: left .4s .2s, right .5s, background .35s -.1s;
				}
			}
		}
	}
	&.switcher-2 {
		overflow:hidden;
		input {

			transition:background-color 0s .5s;
			&:before {
				color:$neutro000;
			}
			&:after {
				color:#fff;
			}
			&:checked {
				background-color:#fff;
				&+label {
					background:#fff;

					animation: turn-on .5s ease-out;

					@keyframes turn-on {
						0% {
							left:100%;
						}
						100% {
							left:0%;
						}
					}
				}
			}
			&:not(:checked) {
				background:$neutro000;
				&+label {
					background:$neutro000;

					animation: turn-off .5s ease-out;

					@keyframes turn-off {
						0% {
							right:100%;
						}
						100% {
							right:0%;
						}
					}
				}
			}
		}
		label {
			top:0px;

			width:200px;
			height:50px;
			border-radius:25px;
		}
	}
}
.team{
	.btn-link{
		text-transform: none;
		color:$neutro;
		font-size: 12px;
		justify-content: center;
		img{
			margin-left: 8px;
		}
	}
	.begin{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 48px;
		.row.container{
			width: 100%;
			padding: 0;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.filters{
		padding-top: 24px;
		padding-bottom: 8px;
		.form-group{
			label{
				font-size: 12px;
				color:$neutro900;
			}
		}
		.col-lg-3{
			display: inline-flex;
			align-items: flex-end;
			//padding-bottom: 24px;
			margin-bottom: 16px;
			.clear-filters{
				margin-bottom: 16px;
				font-size: 10px;
				color: $neutro000;
				text-transform: none;
				height: 24px;
				img{
					width: 6px;
					margin-right: 8px;
				}
			}
		}
		.btn-ghost{
			justify-content: flex-end;
			padding-right: 0;
		}
	}
	.badges{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.alert.badge{
			background: $neutro100;
			font-size: 12px;
			color: $neutro600;
			margin-right: 16px;
			.close{
			    padding: 0;
			    width: 48px;
			    height: 32px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    font-weight: 400;
			}
		}
		.btn-link{
			color:$primary;
			width: 96px;
			height: 40px;
			padding: 0;
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.pending{
			.thead{
				.th{
					&:first-child{
						width: 5%;
					}
					&:nth-child(2){
						width: 42%;
						padding-left: 0;
					}
					&:nth-child(3){
						width: 42%;
					}
					&:nth-child(4){
						width: 10%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 5%;
					}
					&:nth-child(2){
						width: 42%;
						//padding-left: 62px;
					}
					&:nth-child(3){
						width: 42%;
					}
					&:nth-child(4){
						width: 10%;
					}
				}
			}
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 90px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 4%;
			}
			&:nth-child(2){
				width: 52%;
				padding-left: 62px;
			}
			&:nth-child(3){
				width: 49%;
			}
			&:nth-child(4){
				width: 50%;
			}
			&:nth-child(5){
				width: 13%;
			}
		}
	}
	.table1{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.pending{
			.thead{
				.th{
					&:first-child{
						width: 5%;
					}
					&:nth-child(2){
						width: 29%;
						padding-left: 0;
					}
					&:nth-child(3){
						width: 28%;
					}
					&:nth-child(4){
						width: 31%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 5%;
					}
					&:nth-child(2){
						width: 42%;
						//padding-left: 62px;
					}
					&:nth-child(3){
						width: 42%;
					}
					&:nth-child(4){
						width: 10%;
					}
				}
			}
		}
	}
	.thead1{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 90px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 44%;
			}
			&:nth-child(2){
				width: 73%;
				padding-left: 62px;
			}
			&:nth-child(3){
				width: 60%;
			}
			&:nth-child(4){
				width: 20%;
			}
		}
	}
	.tbody1{
		width: 100%;
		padding-bottom: 24px;
		.item{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			background: $neutro100;
			margin-bottom: 24px;
			.td{
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro700;
				font-size: 15px;
				&:first-child{
					width: 27%;
				}
				&:nth-child(2){
					width: 34%;
				}
				&:nth-child(3){
					width: 0%;
				}
				&:nth-child(4){
					width: 28%;
				}
				&:nth-child(5){
					width: 4%;
				}
				button{
					width: 40px;
					height: 40px;
					background:transparent;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: $neutro700;
					border-radius:0;
					&:hover{
						color:$primary;
						border-bottom: 2px solid $primary;
					}
				}
				.dropdown{
					width: 100%;
					button{
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					//width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 20px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px 0 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		.item{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			background: $neutro100;
			margin-bottom: 24px;
			.td{
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro700;
				font-size: 15px;
				&:first-child{
				width: 2%;
				}
				&:nth-child(2){
					width: 33%;
					padding-left: 62px;
				}
				&:nth-child(3){
					width: 28%;
				}
				&:nth-child(4){
					width: 30%;
				}
				&:nth-child(5){
					width: 8%;
				}
				button{
					width: 40px;
					height: 40px;
					background:transparent;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: $neutro700;
					border-radius:0;
					&:hover{
						color:$primary;
						border-bottom: 2px solid $primary;
					}
				}
				.dropdown{
					width: 100%;
					button{
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					//width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 20px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px 0 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
	.pagination{
		li{
			a{
				border-color:$neutro300;
				width: 40px;
				height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				color:$neutro;

			}
			&.active{
				a{
					background: #fff;
					color:$primary;
					font-weight: 600;
					border-color:$neutro300;
				}
			}
			&.disabled{
				img{
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					opacity: 0.5;
				}
				
			}
		}
	}
}
#inviteMembers{
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				position: relative;
				button.close{
					position: absolute;
					right: 16px;
					top: 16px;
				}
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
				}
				.alert{
					&.alert-danger{
						color:$primary;
					}
				}
				
				.file-uploaded{
					background: $neutro100;
				    //box-shadow: 0 0 6px 0 rgba(144, 138, 139, 0.3);
				    display: inline-flex;
				    align-items: center;
				    justify-content: center;
				    height: 70px;
				    padding: 0 16px;
				    padding-right: 0;
				    position: relative;
				    width: 100%;
				    border:1px solid $neutro300;
				    img{
				    	margin-right: 8px;
				    	width: 24px;
				    }
				    span{
				    	color:$neutro;
				    	font-size: 16px;
				    	font-family: $titles;
				    	line-height: 1.1;
				    	margin-right: 8px;
				    	width: calc(100% - 130px);
			    	    word-break: break-all;
			    	    color:$neutro400;
				    }
				    .actions{
				    	width: 90px;
				    	button{
				    		width: 40px;
				    		height: 40px;
				    		background: none;
				    		img{
				    			width: 18px;
				    		}
				    	}
				    }
				    &:hover{
				    	cursor: pointer;
						background: $primary;
						box-shadow: none;
						img{
							-webkit-filter: brightness(10);
								filter: brightness(10);
						}
						span{
							color:#fff;
						}
						.change-file{
							span{
								color:#fff;
								font-weight: 500;
							}
						}
				    }
				    &.charged{
				    	background: #fff;
				    	border:1px solid $neutro300;
				    	justify-content: center;
				    	span{
				    		width: auto;
				    	}
				    }
				}
				.td{
				padding: 8px;
				height: 56px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro400;
				font-size: 14px;
				&:first-child{
					width:20%;
					min-width: 40px;
					padding-left: 0;
				}
				&:nth-child(2){
					width: 45%;
					flex-wrap: wrap;
					p{
						font-size: 14px;
						color:$neutro400;
						margin-bottom: 0;
						width: 100%;
					}
				}
				&:nth-child(3){
					width: 33%;
				}
				&:nth-child(4){
					width: 9%;
				}
				.method{
					width: 58px;
					height: 58px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $neutro100;
					margin-left: 10px;
					&.user{
						background: rgba(242, 157, 66, 0.2);
					}
					&.paypal{
						background: rgba(5, 148, 205, 0.08);
					}
				}
				p.display2{
					color:$primary;
					font-size: 24px;
					font-family: $titles;
				}
				h4{
					font-size: 20px;
					color:$neutro000;
					width: 100%;
					margin-bottom: 0;
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					width: 100%;
					max-width: 110px;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.inProcess{
						background: $alerta100;
						color:$alerta;
					}
					&.complete{
						background: rgba(54, 207, 130, 0.18);
						color:#36CF82;
					}
					&.pending{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							//transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}

				.btn-link{
					color:$primary;
					text-decoration: underline;
					background: none;
					margin-bottom: 16px;
					font-size: 20px;
				}
				.grupo{
					background:#fff;
					border-radius: 10px;
					border:1px solid $neutro300;
					padding: 16px;
					.row{
						margin: 0;
					}
					.upload-file{
						width: 100%;
						.look{
							box-shadow: none;
							max-width: inherit !important;
							text-align: left;
							justify-content: flex-start;
							span{
								color:$neutro300;
							}
						}
						&:hover{
							.look{
								span{
									color:#fff;
								}
							}
						}
					}
					.file-uploaded{
						box-shadow: none;
						border:1px solid $neutro300;
						height: 70px;
						width: 100%;
						border-radius:$border;
						img{
							width: 24px;
						}
						span{
							font-size: 16px;
							font-family: $titles;
							color:$neutro400;
							width: 100%;
							max-width: inherit;
						}
						&:hover{
							border-color:$primary;
							span{
								color:#fff;
							}
						}
					}
					.actions{
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						.link{
							text-transform: uppercase;
							text-decoration: none !important;
						}
						.btn-ghost{
							width: 48px;
						}
					}

				}
				p.col-12{
					padding: 0;
					strong{
						font-size: 16px;
						font-family: $titles;
					}
				}
				.custom-radio{
			width: 45%;
			max-width: 324px;
			position: relative;
			height: 145px;
			max-height: 426px;
			margin: 8px;
			padding: 0;
			input{
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				opacity: 0;
				z-index: 2;
			}
			label{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				//flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				border-radius: $border2;
				box-shadow: $sombra16;
				background: #fff;
				padding: 16px;
				margin-bottom: 0;
				flex-wrap: wrap;
				p{
				  font-size: 12px;
				  margin-bottom: 0;
				  color: #000;
				  text-align: center;
				  margin-top: 4px;
				}
				img{
					width: 48px;
					margin-right: 8px;
				}
				span{
					color:$neutro000;
					font-size: 14px;
					font-family: $titles;
					width: calc(100% - 56px);
					margin-left: 0;
				}
			}
			input:checked + label{
				background: $primary100;
				border:2px solid $primary;
				box-shadow: none;
				span{
					color:$primary !important;
				}
			}
			input:disabled + label{
				background: $primary100;
				border:1px solid $neutro300;
				img{
					opacity: 0.5;
				}
				span{
					color:$neutro300;
				}
			}
		}
				.custom-radio.custom2{
					background: #FFFFFF;
					border: 1px solid $neutro300;
					box-sizing: border-box;
					border-radius: 5px;
					height: 49px;
					padding: 0 16px;
					padding-left: 32px;
					margin-top: 0;
					width: 49%;
					display: inline-block;
					label{
						line-height: 49px;
						width: 100%;
						box-shadow: none;
						background: none;
						height: 49px;
						font-family: $text;
						color:$neutro300;
						margin-bottom: 0;
						font-size: 15px;
						line-height: 1.1;
					}
					.custom-control-label:before{
						width: 18px;
						height: 18px;
						border-radius: 2px;
						border-color: $neutro300;
						top: 14px;
						left:-1rem;
						opacity: 1;
						box-shadow: none;
					}
					.custom-control-label::after{
						top: 14px;
						width: 18px;
						height: 18px;
						border-radius: 2px;
						background: none;
						box-shadow: none;
					}
					input:checked + .custom-control-label{
						border:none;
					}
					input:checked + .custom-control-label:before{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
					input:checked + .custom-control-label::after{
						background: url(../img/check.svg) no-repeat center #FF5A6F !important;
						border-color:$primary;
					}
				}
				.custom-checkbox{
					margin-bottom: 0px;
					height: 32px;
					input{}
					label.custom-control-label{
						line-height: 27px;
						&:before{
						    width: 18px;
						    height: 18px;
						    border-radius: 2px;
						    border-color: $neutro300;
						    top: 3px;
						    left: -25px;
						    opacity: 1;
						    box-shadow: none;
						    background: url(../img/check_gray.svg) no-repeat center transparent !important;
						}
					}
					input:checked + .custom-control-label{
						border:none;
					}
					input:checked + .custom-control-label:before{
						//background: url(../img/check.svg) no-repeat center $primary !important;
						border-color:$primary;
					}
					input:checked + .custom-control-label::after{
						background: url(../img/check.svg) no-repeat center $primary !important;
						border-color:$primary;
					}
				}
				.select.ghost{
					height: 32px;
					select{}
					.select-look{
						height: 32px;
						border:none;
						font-size: 15px;
						line-height: 32px;
						color:$neutro400;
						.ico{
							border:none;
						    width: 12px;
						    height: 32px;
						    right: 0;
						    left: inherit;
						    top: 0;
							img{
								width: 8px;
							}
						}
					}
				}
			}
		}
	}
}
#success{
	.modal-dialog{
		max-width: 366px;
	}
	.modal-content{
		min-height: 303px;
		.modal-header{
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 0;
			padding-bottom: 16px;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			h4{
				margin-top: 24px;
				margin-bottom: 0px;
				font-size: 22px;
				color:$neutro000;
				width: 100%;
				text-align: center;
				span{
					color:$primary;
				}
			}
			p{
				color:$neutro400;
				font-family: $titles;
				text-align: center;
			}
		}
	}
}
#team-empty{
.empty_state{
		width: 100%;
		max-width: 534px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin:0 auto;
		padding: 32px 24px;
		p{
          color: $neutro400;
          font-weight: 900;
		}
		button.invite-team{
			width: 90%;
			max-width: 600px;
			height: auto;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			background: transparent;
			img{
				width: 60%;
				max-width: 142px;
				display: block;
				margin:0 auto;
				margin-bottom: 30px;
			}
			.btn{
				width: 100%;
				max-width: 300px;
				height: 56px;
				margin: 0 auto;
				text-transform: none !important;
				font-size: 24px;
				margin-top: 24px;
				img{
					width: 24px;
					margin: 0;
					margin-right: 16px;
				}
			}
			&:hover{
				border-color:$primary;
				.btn{
					background: $primary600;
				}
			}
		}
	}
}
#AssignContractors {
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				flex-wrap: wrap;
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
				h5{
					font-size: 18px;
					color:$neutro400;
					width: 100%;
					margin-bottom: 0px;
					font-family: $text;
					text-align: center;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
					.contractor-list{
						background:#fff;
						border-radius: 10px;
						border:1px solid $neutro300;
						padding: 16px;
						height: 60vh;
						max-height: 295px;
						overflow: auto;
						margin-bottom: 32px;
						.contractor{
							width: 100%;
							border-bottom: 1px solid $neutro200;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							padding: 16px;
							margin-bottom: 0;
							.form-check.custom{
								margin-right: 16px;
								img{
									width: 8px !important;
								}
							}
							img{
								width: 40px;
								margin-right: 16px;
							}
							p{
								margin-bottom: 0;
								font-size: 14px;
								color:$neutro;
								text-align: left;
								width: calc(100% - 96px);
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
#Assignteam {
	.modal-dialog{
		max-width: 530px;
		.modal-content{
			.modal-header{
				flex-wrap: wrap;
				h4{
					width: 100%;
					text-align: center;
					padding-top: 16px;
				}
				h5{
					font-size: 18px;
					color:$neutro400;
					width: 100%;
					margin-bottom: 0px;
					font-family: $text;
					text-align: center;
				}
			}
			.modal-body{
				form{
					max-width: 415px;
					.contractor-list{
						background:#fff;
						border-radius: 10px;
						border:1px solid $neutro300;
						padding: 16px;
						height: 60vh;
						max-height: 295px;
						overflow: auto;
						margin-bottom: 32px;
						.contractor{
							width: 100%;
							border-bottom: 1px solid $neutro200;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							padding: 16px;
							margin-bottom: 0;
							.form-check.custom{
								margin-right: 16px;
								img{
									width: 8px !important;
								}
							}
							img{
								width: 40px;
								margin-right: 16px;
							}
							p{
								margin-bottom: 0;
								font-size: 14px;
								color:$neutro;
								text-align: left;
								width: calc(100% - 96px);
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}