@import 'platform.scss';

.row.container{
	max-width: 1068px;
}
.time-control{
	.btn-link{
		text-transform: none;
		color:$neutro;
		font-size: 12px;
		justify-content: center;
		img{
			margin-left: 8px;
		}
	}
	.begin{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 48px;
		.row.container{
			width: 100%;
			padding: 0;
		}
		.dropdown{
			.btn-ghost{
				width: 200px;
				img{
					transform: rotate(180deg);
				}
				&.collapsed{
					img{
						transform: rotate(0deg);
					}
				}
			}
			.dropdown-menu{
				border:none;
				.dropdown-item{
					height: 40px;
				}
				.dropdown-item.active, .dropdown-item:active{
					background: none;
				}
				.custom-control-input:checked~.custom-control-label::before{
					background-color: $primary;
					border-color:$primary300;
					border:none;
				}
			}
		}
	}
	.filters{
		padding-top: 24px;
		padding-bottom: 8px;
		.form-group{
			label{
				font-size: 12px;
				color:$neutro900;
			}
		}
		.col-lg-3{
			display: inline-flex;
			align-items: flex-end;
			//padding-bottom: 24px;
			margin-bottom: 16px;
			.clear-filters{
				margin-bottom: 16px;
				font-size: 10px;
				color: $neutro000;
				text-transform: none;
				height: 24px;
				img{
					width: 6px;
					margin-right: 8px;
				}
			}
		}
		.btn-ghost{
			justify-content: flex-end;
			padding-right: 0;
		}
	}
	.badges{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.alert.badge{
			background: $neutro100;
			font-size: 12px;
			color: $neutro600;
			margin-right: 16px;
			.close{
			    padding: 0;
			    width: 48px;
			    height: 32px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    font-weight: 400;
			}
		}
		.btn-link{
			color:$primary;
			width: 96px;
			height: 40px;
			padding: 0;
		}
	}
	.table{
		margin-bottom: 40px;
		padding: 0;
		padding: 0 16px;
		&.time-sheet{
			.thead{
				.th{
					&:first-child{
						width: 5%;
						padding-left: 8px;
					}
					&:nth-child(2){
						width: 16%;
					}
					&:nth-child(3){
						width: 24%;
					}
					&:nth-child(4){
						width: 16%;
					}
					&:nth-child(5){
						width: 19%;
					}
					&:nth-child(6){
						width: 19%;
					}
					&:nth-child(7){
						width: 10%;
					}
				}
			}
			.tbody{
				.td{
					&:first-child{
						width: 5%;
						//padding-left: 8px;
					}
					&:nth-child(2){
						width: 16%;
					}
					&:nth-child(3){
						width: 24%;
					}
					&:nth-child(4){
						width: 16%;
					}
					&:nth-child(5){
						width: 19%;
					}
					&:nth-child(6){
						width: 19%;
					}
					&:nth-child(7){
						width: 10%;
					}
				}
			}
		}
	}
	.thead{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
		.th{
			color:$primary;
			font-weight: 700;
			padding: 8px;
			height: 90px;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 15px;
			color:$neutro000;
			font-family:$titles;
			&:first-child{
				width: 5%;
				padding-left: 8px;
			}
			&:nth-child(2){
				width: 16%;
			}
			&:nth-child(3){
				width: 16%;
			}
			&:nth-child(4){
				width: 24%;
			}
			&:nth-child(5){
				width: 16%;
			}
			&:nth-child(6){
				width: 16%;
			}
		}
	}
	.tbody{
		width: 100%;
		padding-bottom: 24px;
		.item{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			//border-bottom: 1px solid $neutro300;
			padding-left: 16px;
			padding-right: 16px;
			background: $neutro100;
			margin-bottom: 24px;
			.td{
				padding: 8px;
				height: 90px;
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				color:$neutro700;
				font-size: 15px;
				&:first-child{
					width: 5%;
					padding-left: 8px;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 16%;
				}
				&:nth-child(4){
					width: 24%;
				}
				&:nth-child(5){
					width: 16%;
				}
				&:nth-child(6){
					width: 16%;
				}
				button{
					width: 40px;
					height: 40px;
					background:transparent;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: $neutro700;
					border-radius:0;
					&:hover{
						color:$primary;
						border-bottom: 2px solid $primary;
					}
				}
				.dropdown{
					width: 100%;
					button{
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
							&.approve{
								color:$exito;
							}
							&.reject{
								color:$error;
							}
						}
					}
				}
				.badge{
					height: 25px;
					border-radius: 20px;
					font-size: 12px;
					font-family: $titles;
					//width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 20px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px 0 0;
				    position: relative;
					&:before{
					    content: '•';
					    width: 24px;
					    text-align: center;
					    font-size: 22px;
					    display: inline-block;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
			}
		}
	}
	&.contractor-documents{
		.thead{
			.th{
				&:first-child{
					width: 70%;
					padding-left: 62px;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 14%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 70%;
					}
					&:nth-child(2){
						width: 16%;
					}
					&:nth-child(3){
						width: 14%;
					}
				}
			}
		}
	}
	&.tax-form{
		.thead{
			.th{
				&:first-child{
					width: 80%;
					padding-left: 62px;
				}
				&:nth-child(2){
					width: 20%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 80%;
					}
					&:nth-child(2){
						width: 20%;
					}
				}
			}
		}
	}
	&.contractor-view{
		.thead{
			.th{
				&:first-child{
					width: 16%;
				}
				&:nth-child(2){
					width: 16%;
				}
				&:nth-child(3){
					width: 24%;
				}
				&:nth-child(4){
					width: 16%;
				}
				&:nth-child(5){
					width: 16%;
				}
				&:nth-child(6){
					width: 7%;
				}
			}
		}
		.tbody{
			.item{
				.td{
					&:first-child{
						width: 16%;
					}
					&:nth-child(2){
						width: 16%;
					}
					&:nth-child(3){
						width: 24%;
					}
					&:nth-child(4){
						width: 16%;
					}
					&:nth-child(5){
						width: 16%;
					}
					&:nth-child(6){
						width: 7%;
					}
				}
			}
		}
	}
	.empty_state{
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.no-payments{
			max-width: 618px;
			height: 80%;
			max-height: 392px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			background: $neutro100;
			img{
				display: block;
				margin: 0 auto;
			}
			.btn{
				//margin: 0 auto;
				img{
					margin: 0;
					margin-right: 16px;
				}
			}
			h3{
				font-size: 25px;
				color:$neutro;
				font-family: $titles;
			}
		}
	}
	.contract-cards{
		padding: 0;
		margin-bottom: 48px;
		.contract-card{
			padding: 16px;
			margin-bottom: 24px;
			dl{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				//border-bottom: 1px solid $neutro300;
				padding-left: 16px;
				padding-right:8px;
				margin-bottom: 0px;
				height: 37px;
				&:nth-child(odd){

					background: $neutro100;
				}
				dt{
					width: 45%;
					font-size: 12px;
					font-family: $titles;
					color:$neutro000;
				}
				dd{
					width: 55%;
					margin-bottom: 0;
					font-size: 12px;
					color:$neutro600;
				}
				.badge{
					height: 20px;
					border-radius: 20px;
					font-size: 9px;
					font-family: $titles;
					width: 100%;
					border:none;
					text-transform: none;
					text-align: left;
					justify-content: flex-start;
					line-height: 21px;
				    vertical-align: inherit;
				    padding: 0;
					padding: 0 16px;
				    position: relative;
					&:before{
				        content: '•';
					    width: 17px;
					    text-align: center;
					    font-size: 18px;
					    display: inline-block;
					    position: absolute;
					    left: 0;
					}
					&:hover{
						border:none;
					}
					&.no-dot{
						justify-content: center;
						&:before{
							content: '';
							width: 1px;
						}
					}
					&.pending{
						background: $error100;
						color:$error;
					}
					&.wait{
						background: $alerta100;
						color:$alerta;
					}
					&.active{
						background: $exito100;
						color:$exito;
					}
					&.ended{
						background:$neutro200;
						color:$neutro;
						&:before{
							color:$neutro600;
						}
					}
					&.warn{
						background:$error100;
						color:$error;
					}
				}
				.dropdown{
					width: 100%;
					button{
						justify-content: flex-start;
						height: 33px;
						img{
							transform: rotate(90deg);
						}
						&:hover{
							border:none;
						}
					}
					.dropdown-menu{
						border:none;
						padding: 16px;
						.dropdown-item{
							border-bottom: 1px solid $neutro200;
							height: 40px;
							line-height: 31px;
							padding-left: 8px;
							font-size: 14px;
							img{
								margin-right: 8px;
							}
							&:last-child{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}
#timeSummary{
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 12px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 12px;
			font-family: $titles;
			color:$neutro000;
			width: 48%;
			text-align: right;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: left;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
		}

	}
}
#newTimeOff, #newWorkSheet{
	h4{
		width: 100%;
		text-align: center;
		font-size: 24px;
		color:$neutro000;
	}
	p{
		width: 100%;
		text-align: center;
	}
	form{
		max-width: 468px;
		.form-group{
			margin-bottom: 24px;
			label{
				color:$neutro400;
				font-family: $titles;
				font-size: 16px;
			}
			.custom-date{
				.date-look{
					border: 1px solid $neutro300;
					border-radius: $border;
					padding-left: 16px;
					.ico{
						height: 40px;
						top: 2px;
						border-left:1px solid $neutro300;
					}
				}
			}
			.select.type1{
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.upload{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			background: none;
			margin-bottom: 24px;
			img{
				margin-right: 16px;
			}
			span{
				font-size: 16px;
				font-family: $titles;
				color:$primary;
				text-decoration: underline;
				i{
					font-family: $text;
					font-size: 12px;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}
	}
}
#approve{
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 12px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 14px;
			font-family: $text;
			color:$neutro000;
			width: 48%;
			text-align: right;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: left;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
		}

	}
	form{
		.form-group.type1 label{
			color: #959595;
			font-size: 16px;
			line-height: 19px;
			font-family: $titles;
			text-align: center;
			width: 100%;
	    }
		.custom-radio.custom2{
			background: #FFFFFF;
			border: 1px solid $neutro300;
			box-sizing: border-box;
			border-radius: 5px;
			height: 49px;
			padding: 0 16px;
			padding-left: 50px;
			margin-top: 0;
			width: 45%;
			max-width: 150px;
			margin: 8px;
			label{
				line-height: 49px;
				width: 100%;
				box-shadow: none;
				background: none;
				height: 49px;
				font-family: $text;
				padding-left: 24px;
			}
			.custom-control-label:before{
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border-color: $neutro300;
				top: 14px;
				opacity: 1;
				box-shadow: none;
			}
			.custom-control-label::after{
				top: 14px;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				background: none;
				box-shadow: none;
			}
			input:checked + .custom-control-label{
				border:none;
			}
			input:checked + .custom-control-label:before{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
			input:checked + .custom-control-label::after{
				background: url(../img/check.svg) no-repeat center #FF5A6F !important;
				border-color:$primary;
			}
		}
	}
}
#rejected{
	.modal-header{
		.ico img{
			margin: 0 auto !important;
		}
	}
	form{
		max-width: 490px;
		.form-group{
			margin-bottom: 24px;
			padding:0;
			textarea{
				color:$neutro400;
				font-family: $titles;
				font-size: 14px;
			}
			.custom-date{
				.date-look{
					border: 1px solid $neutro300;
					border-radius: $border;
					padding-left: 16px;
					.ico{
						height: 40px;
						top: 2px;
						border-left:1px solid $neutro300;
					}
				}
			}
			.select.type1{
				.ico{
					width: 40px;
					height: 40px;
					right: 8px;
					border-left: 1px solid $neutro300;
				    left: inherit;
					top: 3px;
					border-radius: 0;
				}
			}
		}
		.upload{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			background: none;
			margin-bottom: 24px;
			img{
				margin-right: 16px;
			}
			span{
				font-size: 16px;
				font-family: $titles;
				color:$primary;
				text-decoration: underline;
				i{
					font-family: $text;
					font-size: 12px;
				}
			}
		}
		.btn-default.full{
			width: 100%;
			max-width: inherit;
		}
	}
	dl{
		height: 48px;
		background: $neutro100;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 16px;
		dd{
			font-size: 12px;
			color:$neutro400;
			font-family: $titles;
			margin-bottom: 0;
			width: 48%;
		}
		dt{
			font-size: 14px;
			font-family: $text;
			color:$neutro000;
			width: 48%;
			text-align: right;
		}
		&.full{
			flex-wrap: wrap;
			height: auto;
			dd,dt{
				width: 100%;
				text-align: left;
			}
			dd{
				margin-bottom: 8px;
			}
		}
		&.big{
			dd{
				font-size: 18px;
				color:$neutro000;
			}
			dt{
				color:$neutro400;
				font-family: $text;
				font-size: 15px;
			}
		}

	}
}

@media (max-width: 767px) {
	.time-control.contractor-view{
		.begin{
			flex-wrap: inherit;
			.btn-default{
				width: 45%;
				font-size: 14px;
				&.max{
					width: 45%;
				    font-size: 14px;
				}
			}
		}
	}
}
@media (max-width: 576px){
	#platform{
		.add img{
			display: none;
		    }
					
		}
	}
		
