@import 'platform.scss';

.row.container{
	max-width: 1070px;
}

.verification{
	.titulo{
		margin-bottom: 32px;
		h5{}
	}
	.requirements{
		.steps{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			padding-top: 40px;
			position: relative;
			.step{
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: 4px solid $neutro400;
				color:$neutro400;
				font-size: 20px;
				font-family: $titles;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 88px;
				background: $neutro100;
				position: relative;
				z-index: 2;
				&:last-child{
					margin-bottom: 0;
				}
				&.active{
					background: $primary;
					border-color:$primary;
					color:#fff;
				}
			}
			.line{
				position: absolute;
				width: 4px;
				height: calc(100% - 96px);
				top: 64px;
				background: $neutro400;
				z-index: 1;
			}
		}
		.requirement{
			display: flex;
			width: calc(100% + 30px);
			padding: 16px;
			align-items: center;
			justify-content: flex-start;
			min-height: 122px;
			border:1px solid transparent;
			margin-bottom: 16px;
			div{
				text-align: left;
			}
			h4{
				text-align: left;
			}
			p{
				text-align: left;
				margin-bottom: 0;
			}
			img{
				width: 22px;
				filter:grayscale(100%);
			}
			.badge{
				height: 32px;
				border-radius: 20px;
				font-size: 16px;
				font-family: $titles;
				width: 100%;
				max-width: 170px;
				border:none;
				text-transform: none;
				text-align: left;
				justify-content: flex-start;
				line-height: 32px;
			    vertical-align: inherit;
			    padding: 0;
				padding: 0 16px;
			    position: relative;
			    background:$neutro200;
				color:$neutro;
				padding-left: 32px;
				&:before{
			        content: '•';
				    width: 32px;
				    text-align: center;
				    font-size: 22px;
				    display: inline-block;
				    position: absolute;
				    left: 0;
				    color:$neutro600;
				}
				&.pending{
					background: rgba(242, 157, 66, 0.2);
					color:#F29D42;
					&:before{
						color:#F29D42;
					}
				}
				&.complete{
					background: $exito100;
					color:$exito;
					&:before{
						color:$exito;
					}
				}
				&.not{
					background:$error100;
					color:$error900;
					&:before{
						color:$error900;
					}
				}
			}
			&:hover{
				background: $primary100;
				border:1px solid $primary;
				img{
					filter:grayscale(0%);
				}
				p{
					color:$primary;
				}
			}
		}
	}
	.alert{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 24px;
		background:$neutro200;
		border:1px solid $neutro400;
		img{
			margin-right: 16px;
		}
		span{
			width: calc(100% - 40px);
			p{
				font-size: 16px;
				color:$neutro000;
				font-family: $titles;
				margin-bottom: 0;
				margin-top: 16px;
			}
			.badge{
				height: 32px;
				border-radius: 20px;
				font-size: 16px;
				font-family: $titles;
				width: 100%;
				max-width: 170px;
				border:none;
				text-transform: none;
				text-align: left;
				justify-content: flex-start;
				line-height: 32px;
			    vertical-align: inherit;
			    padding: 0;
				padding: 0 16px;
			    position: relative;
			    background:$neutro200;
				color:$neutro;
				padding-left: 32px;
				&:before{
			        content: '•';
				    width: 32px;
				    text-align: center;
				    font-size: 22px;
				    display: inline-block;
				    position: absolute;
				    left: 0;
				    color:$neutro600;
				}
				&.pending{
					background: rgba(242, 157, 66, 0.2);
					color:#F29D42;
					&:before{
						color:#F29D42;
					}
				}
				&.complete{
					background: $exito100;
					color:$exito;
					&:before{
						color:$exito;
					}
				}
				&.not{
					background:$error100;
					color:$error900;
					&:before{
						color:$error900;
					}
				}
			}
		}
	}
}
.modal{
	.modal-dialog{
		.modal-content{
			.modal-body{
				h3{
					font-size: 32px;
					font-family: $titles;
					color:$neutro000;
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				p{
					font-size: 16px;
					color: $neutro400;
					display: block;
					margin: 0 auto 24px;
					text-align: center;
				}
				form{
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					flex-wrap: wrap;
					.form-group{
						display: flex;
						align-items: center;
						justify-content: inherit;
						flex-wrap: wrap;
						align-content: space-between;
					}
					.custom-date{
						.date-look{
							padding-left: 16px;
							span{
								font-size: 17px;
								color:$neutro300;
							}
							.ico{
								width: 48px;
								height: 42px;
								border-left: 1px solid $neutro300;
								top: 2px;
								img{}
							}
						}
					}
					.custom-radio.custom2{
						background: #FFFFFF;
						border: 1px solid $neutro300;
						box-sizing: border-box;
						border-radius: 5px;
						height: 49px;
						padding: 0 16px;
						padding-left: 32px;
						margin-top: 0;
						width: 48%;
						label{
							line-height: 49px;
							width: 100%;
							box-shadow: none;
							background: none;
							height: 49px;
							font-family: $text;
							color:$neutro300;
						}
						.custom-control-label:before{
							width: 18px;
							height: 18px;
							border-radius: 2px;
							border-color: $neutro300;
							top: 14px;
							left:-1rem;
							opacity: 1;
							box-shadow: none;
							background: url('../img/check_gray.svg') no-repeat center;
							background-size: 12px auto;
						}
						.custom-control-label::after{
							top: 14px;
							width: 18px;
							height: 18px;
							border-radius: 2px;
							background: none;
							box-shadow: none;
						}
						input:checked + .custom-control-label{
							border:none;
						}
						input:checked + .custom-control-label:before{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
						input:checked + .custom-control-label::after{
							background: url(../img/check.svg) no-repeat center $primary !important;
							border-color:$primary;
						}
					}
					.director{
						background: $neutro200;
						padding-top: 24px;
						h4{
							width: 90%;
							display: block;
							max-width: 475px;
							margin: 0 auto 24px;
							text-align: center;
							padding-bottom: 20px;
							border-bottom:1px solid $neutro400;
						}
					}
					&.files{
						display: flex;
						align-items: stretch;
						justify-content: space-between;
					}
					.tab-pane{
						align-items: stretch;
						justify-content: space-between;
						max-width: 636px;
						margin: 0 auto;
						flex-wrap: wrap;
						&.show{
							display: flex;
						}
					}
					.upload-file{
						background: $neutro100;
						border:1px dashed $neutro400;
						border-radius: $border2;
						padding: 24px;
						width: 32%;
						max-width: 300px;
						position: relative;
						h5{
							font-size: 18px;
							color:$neutro400;
							font-family: $titles;
							margin-bottom: 16px;
							width: 100%;
							text-align: center;
						}
						p{
							font-size: 14px;
							color:$neutro400;
							text-align: center;
						}
						&.drop{
							border-color:$primary;
						}
						.state-empty{
							position: relative;
							z-index: 1;
							img{
								display: block;
								margin: 0 auto 24px;
							}
							p{
								font-size: 12px;
								color:$neutro000;
								width: 100%;
								text-align: center;
								strong{
									font-family: $titles;
									margin-right: 4px;
								}
								span{
									color:$primary;
								}
							}
							.btn-upload{
								border-color:$neutro200;
								color:$primary;
								margin: 0 auto;
								img{
									display: inline-block;
									margin: 0;
									margin-right: 16px;
								}
								&:hover{
									background: $primary;
									color:#fff;
									img{
										filter: brightness(10);
									}
								}
							}
							&.off{
								display: none;
							}
						}
						.state-charged{
							position: relative;
							z-index: 1;
							.doc{
								background: #fff;
								border:1px solid $neutro200;
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								flex-wrap: wrap;
								padding: 16px;
								border-radius: 3px;
								position: relative;
								img{
									display: block;
									margin: 0 auto 16px;
									width: 32px;
								}
								p.name{
									width: 100%;
									text-align: center;
									font-size: 11px;
									color:$neutro400;
									font-family: $titles;
									margin-bottom: 0;
								}
								.check{
									position: absolute;
									background: $exito200;
									width: 32px;
									height: 32px;
									border-radius: 50%;
									display: flex;
									align-items: center;
									justify-content: center;
									top: -10px;
									right: -10px;
									img{
										width: 12px;
										margin: 0;
									}
								}
							}
							.actions{
								display: flex;
								width: 100%;
								align-items: center;
								justify-content: space-between;
								.btn-ghost{
									width: auto;
									font-size: 15px;
									&.just-icon{}
								}
							}
							&.off{
								display: none;
							}
						}
						.drop-state{
							position: absolute;
							width: 100%;
							height: 100%;
							background: $primary;
							color:#fff;
							left: 0;
							top: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							align-content: center;
							flex-wrap: wrap;
							border-radius: $border2;
							opacity: 0;
							z-index: 0;
							img{
								display: block;
								margin: 0 auto 24px;
							}
							span{
								font-size: 21px;
								font-family: $titles;
								width: 100%;
								text-align: center;
							}
							&.active{
								opacity: 1;
								z-index: 3;
							}
						}
						&.double{
							width: 48%;
						}
						&.unique{
							width: 100%;
							max-width: inherit;
							justify-content: center;
						}
						.list{
							.custom-control.custom-radio.custom2{
								width: 100%;
								border:none;
								background-color: transparent;
								height: auto;
								label{
									height: auto;
									line-height: 1.2;
									color:$neutro400;
									&:before{
										top: 0;
									}
									&:after{
										top: 0;
									}
								}
							}
						}
					}
					.alert{
						display: flex;
						align-items: start;
						justify-content: flex-start;
						p{
							max-width: inherit;
							text-align: left;
							margin-left: 16px;
						}
					}
				}
				.nav-tabs{
					min-height: inherit;
					padding: 16px;
					background: none;
					justify-content: center;
					.nav-item{
						.nav-link{
							margin: 0 8px;
							padding: 0;
							height: auto;
							width: 210px;
							.custom-control.custom-radio.custom2{
								border:none;
								width: auto;
								label{
									padding-left: 16px;
								}
							}
							&.active{
								.custom-control.custom-radio.custom2{
									border:none;
									width: auto;
									label{
										&:before{
											background-color: $primary;
											border-color:$primary;
											background-image: url('../img/check.svg');
										}
										&:after{}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#successfull1{
	.modal-body{
		img{
			margin-left: 108px;
			margin-bottom: 30px;
		}
		h4{
			text-align: center;
		}
	}
}

@media (max-width: 992px){
	.verification{
		.requirements{
			.requirement{
				img{
					width: 14px;
				}
			}
		}
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {}

@media (max-width: 767px) {
	.verification{
		.steps-movil{
			width: 100%;
			max-width: 262px;
			margin: 0 auto 24px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			.line{
				position: absolute;
				z-index: 1;
				width: calc(100% - 60px);
				height: 3px;
				background: $neutro400;
			}
			.step{
				width: 38px;
				height: 38px;
				border-radius: 50%;
				border:3px solid $neutro400;
				background: $neutro100;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 2;
				&.active{
					background: $primary;
					border-color:$primary;
					color:#fff;
				}
			}
		}
		.requirements{
			padding: 0;
			.requirement{
				min-height: inherit;
				position: relative;
				margin: 0;
				margin-bottom: 16px;
				.col-2{
					position: absolute;
					right: 16px;
					top: 50%;
					margin-top: -6px;
					padding: 0;
					width: 12px;
					img{
						width: 12px;
					}
				}
				.badge{
					margin-top: 16px;
				}
			}
		}
	}
	.modal{
		.modal-dialog{
			.modal-content{
				.modal-body{
					form{
						.upload-file{
							width: 100%;
							margin-bottom: 16px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 576px){
	#platform.horizontal-menu{
		padding-top: 120px;
		#top{
			h2{
				font-size: 25px;
			}
		}
	}
	
	.verification{
		.titulo{
			margin-bottom: 16px;
			margin-top: 32px;
			h5{
			}
		}
		
	}
	.modal{
		.modal-dialog{
			.modal-content{
				.modal-header{
					h3{
						font-size: 24px;
					}
				}
				.modal-body{
					form{
						.upload-file{
							width: 100%;
							&.double{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}


